  {{>breadcrumb}}

  <h1 class="heading-xlarge">{{pagetitle}}</h1>

  <h3 class="heading-medium">20 files found</h3>

  <table class="table table-font-xsmall">
    <caption class="visually-hidden">CSV file uploads</caption>
    <thead>
      <tr>
        <th>Date uploaded</th>
        <th>At</th>
        <th>File name</th>
        <th>Status</th>
        <th><span class="visually-hidden">Action</span></th>
      </tr>
    </thead>
    <tbody>
      {{#each searches}}
        {{#each files.file}}
          {{#if csv}}
            <tr>
              <td>{{uploaded}}</td>
              <td>{{time}}</td>
              <td>{{filename}}</td>
              <td>{{{status}}}</td>
              <td>{{#if url}}<a href="/{{../../baseurl}}/{{url}}">View report</a>{{else}}<abbr title="No report available">&mdash;</abbr>{{/if}}</td>
            </tr>
          {{/if}}
        {{/each}}
      {{/each}}
    </tbody>
  </table>
