  {{>breadcrumb}}

  <h1 class="heading-xlarge">{{pagetitle}}</h1>

  <div class="grid-row">

    <div class="column-half">
      <h2 class="bold-medium">Send data files</h2>
      <ul class="list">
        <li><a href="/{{baseurl}}/errors/data-files/you-need-to-upload-a-file">You need to upload a file</a></li>
        <li><a href="/{{baseurl}}/errors/data-files/wrong-file-type">Wrong file type</a></li>
        <li><a href="/{{baseurl}}/errors/data-files/file-names-not-a-matching-pair">File names not a matching pair</a></li>
        <li><a href="/{{baseurl}}/errors/technical-problems">Technical problems</a></li>
      </ul>
    </div>

    <div class="column-half">
      <h2 class="bold-medium">Send other documents</h2>
      <ul class="list">
        <li><a href="/{{baseurl}}/errors/documents/you-need-to-upload-a-file">You need to upload a file</a></li>
        <li><a href="/{{baseurl}}/errors/documents/wrong-file-type">Wrong file type</a></li>
        <li><a href="/{{baseurl}}/errors/documents/wrong-file-extension">Wrong file extension</a></li>
        <li><a href="/{{baseurl}}/errors/technical-problems">Technical problems</a></li>
      </ul>
    </div>

  </div>
