  {{>breadcrumb}}

  {{#with search}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      <h2 class="heading-large">Offence 1</h2>

      <h3 class="bold-medium">{{offence.title}}</h3>

      <p class="font-xsmall js-text">{{{offence.offence-wording}}}</p>

      <h4 class="heading-medium">Select defendant&rsquo;s plea</h4>

      <form class="form" method="post" novalidate>

        <fieldset>

          <legend class="visually-hidden">Select defendant&rsquo;s plea</legend>

          <div class="form-group form-group-last">

            <div class="multiple-choice">
              <input id="no-plea-received" name="makeDecision" type="radio" value="No plea received"{{#if ../sMakeDecision}}{{#contains ../sMakeDecision ""}} checked="checked"{{/contains}}{{else}}{{#contains case-details.status "No plea received"}} checked="checked"{{/contains}}{{/if}}>
              <label for="no-plea-received">No plea received</label>
            </div>

            <div class="multiple-choice">
              <input id="guilty-no-court" name="makeDecision" type="radio" value="Pleaded guilty court hearing requested"{{#if ../sMakeDecision}}{{#contains ../sMakeDecision "Pleaded guilty court hearing requested"}} checked="checked"{{/contains}}{{else}}{{#contains case-details.status "Pleaded guilty court hearing requested"}} checked="checked"{{/contains}}{{/if}}>
              <label for="guilty-no-court">Guilty &ndash; I don&rsquo;t want to come to court</label>
            </div>

            <div class="multiple-choice" data-target="guilty-interpreter">
              <input id="guilty-court" name="makeDecision" type="radio" value="Pleaded guilty SJP"{{#if ../sMakeDecision}}{{#contains ../sMakeDecision "Pleaded guilty SJP"}} checked="checked"{{/contains}}{{else}}{{#contains case-details.status "Pleaded guilty SJP"}} checked="checked"{{/contains}}{{/if}}>
              <label for="guilty-court">Guilty &ndash; I want to come to court</label>
            </div>

            <div class="panel panel-border-narrow{{#isnt ../sMakeDecision "Pleaded guilty SJP"}} js-hidden{{/isnt}}" id="guilty-interpreter">

              <fieldset class="inline">

                <legend>
                  <span class="form-label">Does the defendant need and interpreter?</span>
                </legend>

                <div class="multiple-choice" data-target="guilty-interpreter-language">
                  <input id="guilty-interpreter-yes" name="guiltyInterpreter" type="radio" value="Yes"{{#contains ../sMakeDecision "Pleaded guilty SJP"}}{{#contains ../sNeedInterpreter "Yes"}} checked="checked"{{/contains}}{{/contains}}>
                  <label for="guilty-interpreter-yes">Yes</label>
                </div>

                <div class="multiple-choice">
                  <input id="guilty-interpreter-no" name="guiltyInterpreter" type="radio" value="No"{{#contains ../sMakeDecision "Pleaded guilty SJP"}}{{#contains ../sNeedInterpreter "No"}} checked="checked"{{/contains}}{{/contains}}>
                  <label for="guilty-interpreter-no">No</label>
                </div>

              </fieldset>

              <div class="panel panel-border-narrow{{#isnt ../sNeedInterpreter "Yes"}} js-hidden{{/isnt}}" id="guilty-interpreter-language">

                <div class="form-group">
                  <label for="guilty-language">
                    <span class="form-label">Which language?</span>
                    <span class="form-hint" id="guilty-language-hint">You can include sign language</span>
                  </label>
                  <input class="form-control" id="guilty-language" name="guiltyInterpreterLanguage" type="text" value="{{#contains ../sMakeDecision "Pleaded guilty SJP"}}{{../sInterpreterLanguage}}{{/contains}}" aria-describedby="guilty-language-hint">
                </div>

              </div>

            </div>

            <div class="multiple-choice" data-target="not-guilty-interpreter">
              <input id="not-guilty" name="makeDecision" type="radio" value="Pleaded not guilty"{{#if ../sMakeDecision}}{{#contains ../sMakeDecision "Pleaded not guilty"}} checked="checked"{{/contains}}{{else}}{{#contains case-details.status "Pleaded not guilty"}} checked="checked"{{/contains}}{{/if}}>
              <label for="not-guilty">Not guilty &ndash; send me the date of my trial</label>
            </div>

            <div class="panel panel-border-narrow{{#isnt ../sMakeDecision "Pleaded not guilty"}} js-hidden{{/isnt}}" id="not-guilty-interpreter">

              <fieldset class="inline">

                <legend>
                  <span class="form-label">Does the defendant need and interpreter?</span>
                </legend>

                <div class="form-group">

                  <div class="multiple-choice" data-target="not-guilty-interpreter-language">
                    <input id="not-guilty-interpreter-yes" name="notGuiltyInterpreter" type="radio" value="Yes"{{#contains ../sMakeDecision "Pleaded not guilty"}}{{#contains ../sNeedInterpreter "Yes"}} checked="checked"{{/contains}}{{/contains}}>
                    <label for="not-guilty-interpreter-yes">Yes</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="not-guilty-interpreter-no" name="notGuiltyInterpreter" type="radio" value="No"{{#contains ../sMakeDecision "Pleaded not guilty"}}{{#contains ../sNeedInterpreter "No"}} checked="checked"{{/contains}}{{/contains}}>
                    <label for="not-guilty-interpreter-no">No</label>
                  </div>

                </div>

              </fieldset>

              <div class="panel panel-border-narrow{{#isnt ../sNeedInterpreter "Yes"}} js-hidden{{/isnt}}" id="not-guilty-interpreter-language">

                <div class="form-group">
                  <label for="not-guilty-language">
                    <span class="form-label">Which language?</span>
                    <span class="form-hint" id="not-guilty-language-hint">You can include sign language</span>
                  </label>
                  <input class="form-control" id="not-guilty-language" type="text" name="notGuiltyInterpreterLanguage" value="{{#contains ../sMakeDecision "Pleaded not guilty"}}{{../sInterpreterLanguage}}{{/contains}}" aria-describedby="not-guilty-language-hint">
                </div>

              </div>

            </div>

          </div>

          <div class="form-group form-group-related">
            <button class="button" type="submit">Save and continue</button>
          </div>

          <p><a href="/court-administrator/case-details/{{id}}">Cancel</a></p>

        </fieldset>

      </form>

    </div>

  </div>

  {{/with}}
