{{>breadcrumb}}

{{#with search}}

<h1 class="heading-xlarge">{{../pagetitle}}</h1>

<section class="check-answers" aria-labelledby="plea">

  <header class="check-answers-header">
    <h2 class="bold-medium" id="plea">Plea</h2>
    <a class="check-answers-action" href="/court-administrator/postal/add-plea/{{id}}/?change=true" title="Change plea">Change <span class="visuallyhidden">plea</span></a>
  </header>

  {{#if ../sMakeDecision}}
    {{../sMakeDecision}}
  {{else}}
    {{#contains case-details.status "Awaiting plea"}}
        <p>No plea received.</p>
      {{else}}
        <dl class="meta meta-large">
          <dt>Defendant&rsquo;s plea</dt>
          <dd>{{case-details.status}}</dd>
        </dl>
    {{/contains}}
  {{/if}}

</section>

<hr>

<section class="check-answers" aria-labelledby="personal-details">

  <header class="check-answers-header">
    <h2 class="bold-medium" id="personal-details">Personal details</h2>
    <a class="check-answers-action" href="/court-administrator/postal/personal-details/{{id}}/?change=true" title="Change personal details">Change <span class="visuallyhidden">personal details</span></a>
  </header>

  <dl class="meta meta-large">

    <dt>Name</dt>
    <dd>
      {{#and ../sFirstname ../sLastname}}
        {{../sFirstname}} {{uppercase ../sLastname}}
      {{else}}
        {{firstname}} {{uppercase lastname}}
      {{/and}}
    </dd>

    <dt>Date of birth</dt>
    <dd>
      {{#if ../sDob}}
        <time datetime="{{moment ../sDob format="YYYY-MM-DD"}}">{{moment ../sDob format="D MMM YYYY"}}</time>
      {{else}}
        <time datetime="{{moment dob format="YYYY-MM-DD"}}">{{moment dob format="D MMM YYYY"}}</time>
      {{/if}}
    </dd>

    <dt>Address</dt>
    <dd>
      {{#if ../sAddress1}}{{../sAddress1}}<br>{{else}}{{address.address1}}<br>{{/if}}
      {{#if ../sAddress2}}{{../sAddress2}}<br>{{else}}{{#if address.address2}}{{address.address2}}<br>{{/if}}{{/if}}
      {{#if ../sTown}}{{../sTown}}<br>{{else}}{{address.town}}{{/if}}
      {{#if ../sPostcode}}{{uppercase ../sPostcode}}{{else}}{{uppercase address.postcode}}{{/if}}
    </dd>

    <dt>Email</dt>
    <dd>
      {{#if ../sEmail}}
        {{../sEmail}}
      {{else}}
        {{#if email}}
          {{email}}
        {{else}}
          &ndash;
        {{/if}}
      {{/if}}
    </dd>

    <dt>Home telephone</dt>
    <dd>
      {{#if ../sPhone}}
        {{../sPhone}}
      {{else}}
        {{#if phone}}
          {{phone}}
        {{else}}
          &ndash;
        {{/if}}
      {{/if}}
    </dd>

    <dt>Mobile</dt>
    <dd>
      {{#if ../sMobile}}
        {{../sMobile}}
      {{else}}
        {{#if mobile}}
          {{mobile}}
        {{else}}
          &ndash;
        {{/if}}
      {{/if}}
    </dd>

  </dl>

</section>

<hr>

<section class="check-answers" aria-labelledby="employment-and-income">

  <header class="check-answers-header">
    <h2 class="bold-medium" id="employment-and-income">Employment and income</h2>
    <a class="check-answers-action" href="/court-administrator/postal/employment-and-income/{{id}}/?change=true" title="Change employment and income">Change <span class="visuallyhidden">employment and income</span></a>
  </header>

  <dl class="meta meta-large">

    <dt>National Insurance number</dt>
    <dd>
      {{#if ../sNationalInsurance}}
        {{../sNationalInsurance}}
      {{else}}
        {{#if national-insurance-number}}
          {{national-insurance-number}}
        {{else}}
          &ndash;
        {{/if}}
      {{/if}}
    </dd>

    <dt>Income and outgoings</dt>
    <dd>
      {{#if ../sPayFrequency}}
        {{../sPayFrequency}}
      {{else}}
        {{#if employment.pay.frequency}}
          {{employment.pay.frequency}}
        {{else}}
          &ndash;
        {{/if}}
      {{/if}}
    </dd>

    <dt>Employment status</dt>
    <dd>
      {{#if ../sEmployment}}
        {{../sEmployment}}
      {{else}}
        {{#if employment.status}}
          {{employment.status}}
        {{else}}
          &ndash;
        {{/if}}
      {{/if}}
    </dd>

    {{#compare ../sEmployment "===" "Employed"}}

      <dt>Employer name</dt>
      <dd>
        {{#if ../sEmployerName}}
          {{../sEmployerName}}
        {{else}}
          {{#if ../employer-name}}
            {{../employer-name}}
          {{else}}
            &ndash;
          {{/if}}
        {{/if}}
      </dd>

      <dt>Employer telephone</dt>
      <dd>
        {{#if ../sEmployerTelephone}}
          {{../sEmployerTelephone}}
        {{else}}
          {{#if employer-telephone}}
            {{employer-telephone}}
          {{else}}
            &ndash;
          {{/if}}
        {{/if}}
      </dd>

      <dt>Employer address</dt>
      <dd>
        {{#if ../sEmployerAddress1}}
          {{#if ../sEmployerAddress1}}{{../sEmployerAddress1}}, <br>{{/if}}
          {{#if ../sEmployerAddress2}}{{../sEmployerAddress2}}, <br>{{/if}}
          {{#if ../sEmployerTown}}{{../sEmployerTown}}{{/if}}
          {{#if ../sEmployerPostcode}}{{../sEmployerPostcode}}{{/if}}
        {{else}}
          {{#if employer-address1}}
            {{#if employer-address.address1}}{{employer-address.address1}}, <br>{{/if}}
            {{#if employer-address.address2}}{{employer-address.address2}}, <br>{{/if}}
            {{#if employer-address.town}}{{employer-address.town}}{{/if}}
            {{#if employer-address.postcode}}{{employer-address.postcode}}{{/if}}
          {{else}}
            &ndash;
          {{/if}}
        {{/if}}
      </dd>

      <dt>Net pay (take home pay)</dt>
      <dd>
        {{#if ../sPayAmount}}
          &pound;{{../sPayAmount}}
        {{else}}
          {{#if pay.amount}}
            &pound;{{pay.amount}}
          {{else}}
            &ndash;
          {{/if}}
        {{/if}}
      </dd>

    {{/compare}}

    <dt>Receving benefits?</dt>
    <dd>
      {{#if ../sReceivingBenefits}}
        {{../sReceivingBenefits}}
      {{else}}
        {{#if employment.receiving-benefits}}
          {{employment.receiving-benefits}}
        {{else}}
          &ndash;
        {{/if}}
      {{/if}}
    </dd>

  </dl>

</section>

<hr>

<section class="check-answers" aria-labelledby="uploaded-documents">

  <header class="check-answers-header">
    <h2 class="bold-medium" id="uploaded-documents">Uploaded documents</h2>
    <a class="check-answers-action" href="#" title="Change uploaded documents">Change <span class="visuallyhidden">uploaded documents</span></a>
  </header>

  <p>You haven&rsquo;t uploaded any documents.</p>

  <!--dl class="meta meta-large">
    <dt>Document 1</dt>
    <dd>SJP notice</dd>
    <dt>Document 2</dt>
    <dd>Plea</dd>
  </dl-->

</section>

<p><a class="button" href="/court-administrator/case-details/{{id}}/?saved=true" role="button">Confirm and go back to case</a></p>

<p><a href="/court-administrator/case-details/{{id}}/">Cancel</a></p>

{{/with}}
