{{>breadcrumb}}

{{#with search}}

<h1 class="heading-xlarge">{{../pagetitle}}</h1>


<section aria-labelledby="plea">

  <h2 class="heading-medium" id="plea">Plea</h2>

  <div class="check-answers">

    <table class="table table-summary">

      <tbody>

        {{#if ../sMakeDecision}}

          <tr>
            <th class="table-summary-title">Defendant&rsquo;s plea</th>
            <td>{{{../sMakeDecision}}}</td>
          </tr>
          {{#if ../sNeedInterpreter}}
          <tr>
            <th class="table-summary-title">Does defendant need an interpreter?</th>
            <td>{{{../sNeedInterpreter}}}</td>
          </tr>
          {{/if}}
          {{#contains ../sNeedInterpreter "Yes"}}
          <tr>
            <th class="table-summary-title">Interpreter language</th>
            <td>{{{../sInterpreterLanguage}}}</td>
          </tr>
          {{/contains}}

        {{else}}

          {{#contains case-details.status "Awaiting plea"}}
          <tr>
            <th class="table-summary-title">Defendant&rsquo;s plea</th>
            <td>No plea received</td>
          </tr>
          {{else}}
          <tr>
            <th class="table-summary-title">Defendant&rsquo;s plea</th>
            <td>{{{case-details.status}}}</td>
          </tr>
          {{/contains}}

        {{/if}}

      </tbody>

    </table>

    <p class="check-answers-action"><a href="/court-administrator/postal/add-plea/{{id}}/?change=true" title="Change plea">Change <span class="visually-hidden">plea</span></a></p>

  </div>

</section>


<hr class="divider divider-border-dark divider-gutter-large" aria-hidden="true">


<section aria-labelledby="personal-details">

  <h2 class="heading-medium" id="personal-details">Personal details</h2>

  <div class="check-answers">

    <table class="table table-summary">

      <tbody>
        <tr>
          <th class="table-summary-title">Name</th>
          <td>
            {{#and ../sFirstname ../sLastname}}
              {{../sFirstname}} {{uppercase ../sLastname}}
            {{else}}
              {{personal-details.firstname}} {{uppercase personal-details.lastname}}
            {{/and}}
          </td>
        </tr>
        <tr>
          <th class="table-summary-title">Date of birth</th>
          <td>
            {{#if ../sDob}}
              <time datetime="{{moment ../sDob format="YYYY-MM-DD"}}">{{moment ../sDob format="D MMM YYYY"}}</time>
            {{else}}
              <time datetime="{{moment personal-details.dob format="YYYY-MM-DD"}}">{{moment personal-details.dob format="D MMM YYYY"}}</time>
            {{/if}}
          </td>
        </tr>
        <tr>
          <th class="table-summary-title">Address</th>
          <td>
            {{#if ../sAddress1}}{{../sAddress1}}<br>{{else}}{{personal-details.address.address1}}<br>{{/if}}
            {{#if ../sAddress2}}{{../sAddress2}}<br>{{else}}{{#if personal-details.address.address2}}{{personal-details.address.address2}}<br>{{/if}}{{/if}}
            {{#if ../sTown}}{{../sTown}}<br>{{else}}{{personal-details.address.town}}<br>{{/if}}
            {{#if ../sPostcode}}{{uppercase ../sPostcode}}{{else}}{{uppercase personal-details.address.postcode}}{{/if}}
          </td>
        </tr>
        <tr>
          <th class="table-summary-title">Email</th>
          <td>
            {{#if ../sEmail}}
              {{../sEmail}}
            {{else}}
              {{#if email}}
                {{personal-details.email}}
              {{else}}
                &ndash;
              {{/if}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <th class="table-summary-title">Home telephone</th>
          <td>
            {{#if ../sPhone}}
              {{../sPhone}}
            {{else}}
              {{#if phone}}
                {{personal-details.phone}}
              {{else}}
                &ndash;
              {{/if}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <th class="table-summary-title">Mobile</th>
          <td>
            {{#if ../sMobile}}
              {{../sMobile}}
            {{else}}
              {{#if mobile}}
                {{personal-details.mobile}}
              {{else}}
                &ndash;
              {{/if}}
            {{/if}}
          </td>
        </tr>
      </tbody>

    </table>

    <p class="check-answers-action"><a href="/court-administrator/postal/personal-details/{{id}}/?change=true" title="Change personal details">Change <span class="visually-hidden">personal details</span></a></p>

  </div>

</section>


<hr class="divider divider-border-dark divider-gutter-large" aria-hidden="true">


<section aria-labelledby="employment-and-income">

  <h2 class="heading-medium" id="employment-and-income">Employment and income</h2>

  <div class="check-answers">

    <table class="table table-summary">

      <tbody>
        <tr>
          <th class="table-summary-title">National Insurance number</th>
          <td>
            {{#if ../sNationalInsurance}}
              {{../sNationalInsurance}}
            {{else}}
              {{#if personal-details.national-insurance-number}}
                {{personal-details.national-insurance-number}}
              {{else}}
                &ndash;
              {{/if}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <th class="table-summary-title">Income and outgoings</th>
          <td>
            {{#if ../sPayFrequency}}
              {{../sPayFrequency}}
            {{else}}
              {{#if employment.pay.frequency}}
                {{employment.pay.frequency}}
              {{else}}
                &ndash;
              {{/if}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <th class="table-summary-title">Employment status</th>
          <td>
            {{#if ../sEmployment}}
              {{../sEmployment}}
            {{else}}
              {{#if employment.status}}
                {{employment.status}}
              {{else}}
                &ndash;
              {{/if}}
            {{/if}}
          </td>
        </tr>

        {{#compare ../sEmployment "===" "Employed"}}
        <tr>
          <th class="table-summary-title">Employer name</th>
          <td>
            {{#if ../sEmployerName}}
              {{../sEmployerName}}
            {{else}}
              {{#if ../employer-name}}
                {{../employer-name}}
              {{else}}
                &ndash;
              {{/if}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <th class="table-summary-title">Employer telephone</th>
          <td>
            {{#if ../sEmployerTelephone}}
              {{../sEmployerTelephone}}
            {{else}}
              {{#if employer-telephone}}
                {{employer-telephone}}
              {{else}}
                &ndash;
              {{/if}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <th class="table-summary-title">Employer address</th>
          <td>
            {{#if ../sEmployerAddress1}}
              {{#if ../sEmployerAddress1}}{{../sEmployerAddress1}} <br>{{/if}}
              {{#if ../sEmployerAddress2}}{{../sEmployerAddress2}} <br>{{/if}}
              {{#if ../sEmployerTown}}{{../sEmployerTown}} <br>{{/if}}
              {{#if ../sEmployerPostcode}}{{../sEmployerPostcode}}{{/if}}
            {{else}}
              {{#if employer-address1}}
                {{#if employer-address.address1}}{{employer-address.address1}} <br>{{/if}}
                {{#if employer-address.address2}}{{employer-address.address2}} <br>{{/if}}
                {{#if employer-address.town}}{{employer-address.town}} <br>{{/if}}
                {{#if employer-address.postcode}}{{employer-address.postcode}}{{/if}}
              {{else}}
                &ndash;
              {{/if}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <th class="table-summary-title">Net pay (take home pay)</th>
          <td>
            {{#if ../sPayAmount}}
              &pound;{{../sPayAmount}}
            {{else}}
              {{#if pay.amount}}
                &pound;{{pay.amount}}
              {{else}}
                &ndash;
              {{/if}}
            {{/if}}
          </td>
        </tr>
        {{/compare}}

        <tr>
          <th class="table-summary-title">Receving benefits?</th>
          <td>
            {{#if ../sReceivingBenefits}}
              {{../sReceivingBenefits}}
            {{else}}
              {{#if employment.receiving-benefits}}
                {{employment.receiving-benefits}}
              {{else}}
                &ndash;
              {{/if}}
            {{/if}}
          </td>
        </tr>

      </tbody>

    </table>

    <p class="check-answers-action"><a href="/court-administrator/postal/employment-and-income/{{id}}/?change=true" title="Change employment and income">Change <span class="visually-hidden">employment and income</span></a></p>

  </div>

</section>


<hr class="divider divider-border-dark divider-gutter-large" aria-hidden="true">


<section aria-labelledby="uploaded-documents">

  <h2 class="heading-medium" id="uploaded-documents">Employment and income</h2>

  <div class="check-answers">

    <table class="table table-summary">

      <tbody>
        <tr>
          <th class="table-summary-title">Uploaded documents</th>
          <td>You haven&rsquo;t uploaded any documents.</td>
        </tr>
      </tbody>

    </table>

    <p class="check-answers-action"><a href="/court-administrator/postal/upload-documents/{{id}}/?change=true" title="Change uploaded documents">Change <span class="visually-hidden">uploaded documents</span></a></p>

  </div>

</section>


<div class="mt-xl">
  <p><a class="button" href="/court-administrator/case-details/{{id}}/?saved=true" role="button">Confirm and go back to case</a></p>
  <p><a href="/court-administrator/case-details/{{id}}/">Cancel</a></p>
</div>


{{/with}}
