{{>breadcrumb}}

{{#with search}}

<h1 class="heading-xlarge">{{../pagetitle}}</h1>

<section class="confirm-answers" aria-labelledby="plea">

  <header class="confirm-answers-header">
    <h2 class="bold-medium" id="plea">Plea</h2>
    <a class="confirm-answers-action" href="#" title="Change plea">Change <span class="visuallyhidden">plea</span></a>
  </header>

  <p>You haven&rsquo;t added a plea yet.</p>

  <!--dl class="meta meta-large">
    <dt>Defendant&rsquo;s plea</dt>
    <dd>Guilty &ndash; I want to come to court</dd>
  </dl-->

</section>

<hr>

<section class="confirm-answers" aria-labelledby="personal-details">

  <header class="confirm-answers-header">
    <h2 class="bold-medium" id="personal-details">Personal details</h2>
    <a class="confirm-answers-action" href="#" title="Change personal details">Change <span class="visuallyhidden">personal details</span></a>
  </header>

  <dl class="meta meta-large">

    <dt>Name</dt>
    <dd>
      {{#and ../sFirstname ../sLastname}}
        {{../sFirstname}} {{uppercase ../sLastname}}
      {{else}}
        {{firstname}} {{uppercase lastname}}
      {{/and}}
    </dd>

    <dt>Date of birth</dt>
    <dd><time datetime="{{moment dob format="YYYY-MM-DD"}}">{{moment dob format="D MMM YYYY"}}</time> ({{age}} years old)</dd>

    <dt>Address</dt>
    <dd>
      {{#if ../sAddress1}}{{../sAddress1}}, <br>{{else}}{{address.address1}}, <br>{{/if}}
      {{#if ../sAddress2}}{{../sAddress2}}, <br>{{else}}{{#if address.address2}}{{address.address2}}, <br>{{/if}}{{/if}}
      {{#if ../sTown}}{{../sTown}}{{else}}{{address.town}}{{/if}}
      {{#if ../sPostcode}}{{uppercase ../sPostcode}}{{else}}{{uppercase address.postcode}}{{/if}}
    </dd>

    <dt>Email</dt>
    <dd>
      {{#if ../sEmail}}
        {{../sEmail}}
      {{else}}
        {{#if email}}
          {{email}}
        {{else}}
          &ndash;
        {{/if}}
      {{/if}}
    </dd>

    <dt>Home telephone</dt>
    <dd>
      {{#if ../sPhone}}
        {{../sPhone}}
      {{else}}
        {{#if phone}}
          {{phone}}
        {{else}}
          &ndash;
        {{/if}}
      {{/if}}
    </dd>

    <dt>Mobile</dt>
    <dd>
      {{#if ../sMobile}}
        {{../sMobile}}
      {{else}}
        {{#if mobile}}
          {{mobile}}
        {{else}}
          &ndash;
        {{/if}}
      {{/if}}
    </dd>

  </dl>

</section>

<hr>

<section class="confirm-answers" aria-labelledby="employment-and-income">

  <header class="confirm-answers-header">
    <h2 class="bold-medium" id="employment-and-income">Employment and income</h2>
    <a class="confirm-answers-action" href="#" title="Change employment and income">Change <span class="visuallyhidden">employment and income</span></a>
  </header>

  <dl class="meta meta-large">
    <dt>National Insurance number</dt>
    <dd>&ndash;</dd>
    <dt>Frequency of income and outgoings</dt>
    <dd>&ndash;</dd>
    <dt>Is the defendant employed?</dt>
    <dd>&ndash;</dd>
    <dt>Are they receving benefits?</dt>
    <dd>&ndash;</dd>
  </dl>

</section>

<hr>

<section class="confirm-answers" aria-labelledby="uploaded-documents">

  <header class="confirm-answers-header">
    <h2 class="bold-medium" id="uploaded-documents">Uploaded documents</h2>
    <a class="confirm-answers-action" href="#" title="Change uploaded documents">Change <span class="visuallyhidden">uploaded documents</span></a>
  </header>

  <p>You haven&rsquo;t uploaded any documents yet.</p>

  <!--dl class="meta meta-large">
    <dt>Document 1</dt>
    <dd>SJP notice</dd>
    <dt>Document 2</dt>
    <dd>Plea</dd>
  </dl-->

</section>

<p><a class="button" href="/court-administrator/case-details/{{id}}/?saved=true" role="button">Confirm and back to case</a></p>

<p><a href="/court-administrator/case-details/{{id}}/">Cancel</a></p>

{{/with}}
