{{>breadcrumb}}

{{#with search}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">Add or change employment and income</h1>

    <form class="form" method="post" novalidate>

      <div class="form-group">
        <label for="national-insurance">
          <span class="form-label-bold">National Insurance number</span>
          <span class="form-hint" id="national-insurance-hint">For example, VO 12 34 56 D</span>
        </label>
        <input class="form-control" id="national-insurance" name="nationalInsurance" type="text" aria-describedby="national-insurance-hint"{{#if ../sNationalInsurance}} value="{{../sNationalInsurance}}"{{else}} value="{{personal-details.national-insurance-number}}"{{/if}}>
      </div>

      <div class="form-group">

        <fieldset class="inline">

          <legend>
            <span class="form-label-bold">Frequency of income and outgoings</span>
            <span class="form-hint">Check the form to see what the defendant has ticked</span>
          </legend>

          <div class="multiple-choice">
            <input id="income-weekly" name="payFrequency" type="radio" value="Weekly"{{#if ../sPayFrequency}}{{#contains ../sPayFrequency "Weekly"}} checked="checked"{{/contains}}{{else}}{{#contains employment.pay.frequency "Weekly"}} checked="checked"{{/contains}}{{/if}}>
            <label for="income-weekly">Weekly</label>
          </div>

          <div class="multiple-choice">
            <input id="income-fortnightly" name="payFrequency" type="radio" value="Fortnightly"{{#if ../sPayFrequency}}{{#contains ../sPayFrequency "Fortnightly"}} checked="checked"{{/contains}}{{else}}{{#contains employment.pay.frequency "Fortnightly"}} checked="checked"{{/contains}}{{/if}}>
            <label for="income-fortnightly">Fortnightly</label>
          </div>

          <div class="multiple-choice">
            <input id="income-monthly" name="payFrequency" type="radio" value="Monthly"{{#if ../sPayFrequency}}{{#contains ../sPayFrequency "Monthly"}} checked="checked"{{/contains}}{{else}}{{#contains employment.pay.frequency "Monthly"}} checked="checked"{{/contains}}{{/if}}>
            <label for="income-monthly">Monthly</label>
          </div>

        </fieldset>

      </div>

      <fieldset class="inline">

        <legend>
          <span class="form-label-bold">Is the defendant employed?</span>
        </legend>

        <div class="multiple-choice" data-target="is-employed">
          <input id="employed-yes" name="employment" type="radio" value="Employed"{{#if ../sEmployment}}{{#contains ../sEmployment "Employed"}} checked="checked"{{/contains}}{{else}}{{#contains employment.status "Employed"}} checked="checked"{{/contains}}{{/if}}>
          <label for="employed-yes">Yes<span class="visually-hidden"> is employed</span></label>
        </div>

        <div class="multiple-choice">
          <input id="employed-no" name="employment" type="radio" value="Unemployed"{{#if ../sEmployment}}{{#contains ../sEmployment "Unemployed"}} checked="checked"{{/contains}}{{else}}{{#contains employment.status "Unemployed"}} checked="checked"{{/contains}}{{/if}}>
          <label for="employed-no">No<span class="visually-hidden"> is not employed</span></label>
        </div>

        <div class="multiple-choice">
          <input id="employed-unknown" name="employment" type="radio" value="Don’t know"{{#if ../sEmployment}}{{#contains ../sEmployment "Don’t know"}} checked="checked"{{/contains}}{{else}}{{#contains employment.status ""}} checked="checked"{{/contains}}{{/if}}>
          <label for="employed-unknown">Don&rsquo;t know<span class="visually-hidden"> if employed</span></label>
        </div>

      </fieldset>

      <div class="form-group">

        <div class="panel panel-border-narrow{{#if ../sEmployment}}{{#isnt ../sEmployment "Employed"}} js-hidden{{/isnt}}{{else}}{{#isnt employment.status "Employed"}} js-hidden{{/isnt}}{{/if}}" id="is-employed">

          <h3 class="heading-medium">Employer details</h3>

          <div class="form-group">
            <label for="employer-name">
              <span class="form-label">Employer name</span>
            </label>
            <input class="form-control" type="text" id="employer-name" name="employerName"{{#if ../sEmployerName}} value="{{../sEmployerName}}"{{else}} value="{{employment.employer-name}}"{{/if}}>
          </div>

          <div class="form-group">

            <fieldset>

              <legend class="visually-hidden">Address</legend>

              <div class="form-group form-group-compound">
                <label for="employer-address-1">
                  <span class="form-label">Building and street</span>
                </label>
                <input class="form-control" id="employer-address-1" name="employerAddress1" type="text"{{#if ../sEmployerAddress1}} value="{{../sEmployerAddress1}}"{{else}} value="{{employment.employer-address.address1}}"{{/if}}>
              </div>

              <div class="form-group">
                <label class="visually-hidden" for="employer-address-2">
                  <span class="form-label">Building and street address line 2</span>
                </label>
                <input class="form-control" id="employer-address-2" name="employerAddress2" type="text"{{#if ../sEmployerAddress2}} value="{{../sEmployerAddress2}}"{{else}} value="{{employment.employer-address.address2}}"{{/if}}>
              </div>

              <div class="form-group">
                <label for="employer-address-country">
                  <span class="form-label">Country (optional)</span>
                </label>
                <input class="form-control" id="employer-address-country" name="employerCountry" type="text">
              </div>

              <div class="form-group">
                <label for="employer-address-town">
                  <span class="form-label">Town or City</span>
                </label>
                <input class="form-control form-control-1-4" id="employer-address-town" name="employerTown" type="text"{{#if ../sEmployerTown}} value="{{../sEmployerTown}}"{{else}} value="{{employment.employer-address.town}}"{{/if}}>
              </div>

              <div class="form-group">
                <label for="employer-address-postcode">
                  <span class="form-label">Postcode</span>
                </label>
                <input class="form-control form-control-1-4" id="employer-address-postcode" name="employerPostcode" type="text"{{#if ../sEmployerPostcode}} value="{{../sEmployerPostcode}}"{{else}} value="{{employment.employer-address.postcode}}"{{/if}}>
              </div>

            </fieldset>

          </div>

          <div class="form-group">
            <label for="employer-telephone">
              <span class="form-label">Employer telephone</span>
            </label>
            <input class="form-control" id="employer-telephone" name="employerTelephone" type="tel"{{#if ../sEmployerTelephone}} value="{{../sEmployerTelephone}}"{{else}} value="{{employerTelephone}}"{{/if}}>
          </div>

          <div class="form-group">
            <label for="pay-amount">
              <span class="form-label">Net pay (take home pay)</span>
            </label>
            <div class="form-currency">
              <input class="form-control form-control-1-4" id="pay-amount" name="payAmount" type="text"{{#if ../sPayAmount}} value="{{../sPayAmount}}"{{else}} value="{{employment.pay.amount}}"{{/if}}>
            </div>
          </div>

        </div>

      </div>

      <div class="form-group form-group-last">

        <fieldset class="inline">

          <legend>
            <span class="form-label-bold">Are they receiving benefits?</span>
          </legend>

          <div class="multiple-choice">
            <input id="benefits-yes" name="receivingBenefits" type="radio" value="Yes"{{#if ../sReceivingBenefits}}{{#contains ../sReceivingBenefits "Yes"}} checked="checked"{{/contains}}{{else}}{{#contains employment.receiving-benefits "Yes"}} checked="checked"{{/contains}}{{/if}}>
            <label for="benefits-yes">Yes<span class="visually-hidden"> is receiving benefits</span></label>
          </div>

          <div class="multiple-choice">
            <input id="benefits-yes" name="receivingBenefits" type="radio" value="No"{{#if ../sReceivingBenefits}}{{#contains ../sReceivingBenefits "No"}} checked="checked"{{/contains}}{{else}}{{#contains employment.receiving-benefits "No"}} checked="checked"{{/contains}}{{/if}}>
            <label for="benefits-yes">No<span class="visually-hidden"> is not receiving benefits</span></label>
          </div>

          <div class="multiple-choice">
            <input id="benefits-unknown" name="receivingBenefits" type="radio" value="Don’t know"{{#if ../sReceivingBenefits}}{{#contains ../sReceivingBenefits "Don’t know"}} checked="checked"{{/contains}}{{else}}{{#contains employment.receiving-benefits ""}} checked="checked"{{/contains}}{{/if}}>
            <label for="benefits-unknown">Don&rsquo;t know<span class="visually-hidden"> if receiving benefits</span></label>
          </div>

        </fieldset>

      </div>

      <div class="form-group form-group-related">
        <button class="button" type="submit">Save and continue</button>
      </div>

      <p><a href="/court-administrator/case-details/{{id}}">Cancel</a></p>

    </form>

  </div>

</div>

{{/with}}
