{{>breadcrumb}}

  {{#with search}}

  <h1 class="heading-xlarge">{{../pagetitle}}</h1>

  <section aria-labelledby="uploaded-documents">

    <h2 class="heading-medium" id="uploaded-documents">Documents already uploaded</h2>

    <table class="table table-font-xsmall">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Uploaded on</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

      {{#each related-documents.document}}
        {{#is show true}}
          <tr>
            <td><a href="#">{{{title}}}</a></td>
            <td>{{{file-type}}}, {{{file-size}}}, {{{file-pages}}}</td>
            <td><time datetime="{{moment file-uploaded-date format="YYYY-MM-DD"}}">{{moment file-uploaded-date format="D MMM YYYY"}}</time></td>
            <td>{{#if can-remove}}<a href="#">Remove</a>{{/if}}</td>
          </tr>
        {{/is}}
      {{/each}}

      </tbody>
    </table>

  </section>

  <section aria-labelledby="add-other-documents">

    <h2 class="heading-medium" id="add-other-documents">Add more documents</h2>

    <p>You can upload any of the following documents if available.</p>

    <form class="form" method="post">

      {{#each related-documents.document}}
        {{#is show false}}
          <h2 class="heading-small">Select {{title}}</h2>
          <div class="form-group">
            <input class="form-control-file" type="file" id="{{id}}" name="{{name}}">
            <label class="button button-secondary" for="{{id}}">Browse&hellip;</label>
          </div>
        {{/is}}
      {{/each}}

      <div class="form-group form-group-actions">
        <button class="button" type="submit">Upload</button>
        <p><a href="/court-administrator/case-details/{{id}}">Done &ndash; go back to case</a></p>
      </div>

    </form>

  </section>

{{/with}}
