{{>breadcrumb}}

  {{#with search}}

  {{>court-administrator/persist-info}}

  <h1 class="heading-xlarge">{{../pagetitle}}</h1>

  <p>You can upload any of the following, if available.</p>

  <form class="form" method="post" enctype="multipart/form-data" novalidate>

    <div class="form-group">

      <label for="plea-document">
        <span class="form-label-bold">Select plea document (optional)</span>
        <span class="visually-hidden">PDF or Word document</span>
      </label>

      <input id="plea-document" name="pleaDocument" type="file" accept=".pdf, .doc, .docx">
      <span class="form-upload-type" aria-hidden="true">PDF or Word doc</span>

    </div>

    <div class="form-group">

      <label for="statement-of-income">
        <span class="form-label-bold">Select statement of income and outgoings (optional)</span>
        <span class="form-hint">For example, MC100</span>
        <span class="visually-hidden">PDF or Word document</span>
      </label>

      <input id="statement-of-income" name="statementIncome" type="file" accept=".pdf, .doc, .docx">

      <span class="form-upload-type" aria-hidden="true">PDF or Word doc</span>

    </div>

    <div class="form-group">

      <label for="other-documents">
        <span class="form-label-bold">Select other document (optional)</span>
        <span class="form-hint">For example, a bank statement, email or a copy of a travelcard</span>
        <span class="visually-hidden">PDF or Word document</span>
      </label>

      <input id="other-documents" name="otherDocuments" type="file" accept=".pdf, .doc, .docx" aria-controls="describe-document" aria-expanded="false">

      <span class="form-upload-type" aria-hidden="true">PDF or Word doc</span>

      <div class="panel panel-border-wide js-hidden" id="describe-document" aria-hidden="true">

        <label for="document-name">
          <span class="form-label-bold">Describe document (optional)</span>
          <span class="form-hint">For example, &lsquo;Travelcard&rsquo;</span>
        </label>
        <input class="form-control" id="document-name" name="documentName" type="text">

      </div>

    </div>

    <div class="form-group form-group-related">
      <button class="button" type="submit">Upload</button>
    </div>

  </form>

  {{#if related-documents.document}}
  <div aria-live="assertive">
    <h2 class="heading-medium">Uploaded</h2>
    <table class="table table-font-xsmall">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Uploaded on</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
      {{#each related-documents.document}}
        <tr>
          <th scope="row"><a href="{{file-path}}" target="_blank">{{file-title}}<span class="visually-hidden"> (opens in a new window)</span></a></th>
          <td>{{{file-type}}}, {{{file-size}}}, {{{file-pages}}}</td>
          <td><time datetime="{{moment file-uploaded-date format="YYYY-MM-DD"}}">{{moment file-uploaded-date format="D MMM YYYY"}}</time></td>
          <td>{{file-uploaded-time}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h2 class="heading-medium">Uploaded</h2>
  <p>No documents uploaded</p>
  {{/if}}

  <p class="mt-xl"><a class="button" href="/{{../baseurl}}/postal/personal-details/{{id}}" role="button">Continue</a></p>

  <a href="/{{../baseurl}}/case-details/{{id}}">Cancel</a>

{{/with}}
