{{>operational-reporting/breadcrumb}}

<h1 class="heading-xlarge">{{{pagetitle}}}</h1>

<p class="font-medium">From 14 February to 16 March 2017 <a class="font-small" href="/{{baseurl}}/find-sjp-online-performance-data">Change<span class="visually-hidden"> search dates</span></a></p>

<div class="filters">

  <div class="filters-menu">

    <span class="filters-label">Period:</span>

    <div class="filters-buttons" role="toolbar" aria-label="Filter options" aria-controls="filters-content">
      <button class="filters-link is-selected" type="button" aria-pressed="true" data-sort="all">All</button>
      <button class="filters-link" type="button" aria-pressed="false" data-sort="daily">Daily</button>
      <button class="filters-link" type="button" aria-pressed="false" data-sort="weekly">Weekly</button>
      <button class="filters-link" type="button" aria-pressed="false" data-sort="monthly">Monthly</button>
    </div>

  </div>

  <div class="tabs tabs-horizontal">

    <div class="tabs-header">

      <ul class="list">
        <li><a href="#processing-times">Processing times</a></li>
        <li><a href="#decisions-made">Decisions made</a></li>
        <li><a href="#pleas">Pleas</a></li>
      </ul>

    </div>

    <div class="tabs-content">

      <div id="filters-content">

        <section id="processing-times">

          <h2 class="heading-medium">Processing times</h2>

          <div class="filters-content" data-filter="all">

            <span class="text-secondary">On average</span>

            <div class="grid-row">

              <div class="column-third">

                <div class="data">
                  <span class="data-item bold-xlarge">23 days </span>
                  <span class="data-item font-xsmall">from receipt of case to completion</span>
                </div>

              </div>

              <div class="column-third">

                <div class="data">
                  <span class="data-item bold-xlarge">2 days </span>
                  <span class="data-item font-xsmall">from ready for review to completion</span>
                </div>

              </div>

              <div class="column-third">

                <div class="data">
                  <span class="data-item bold-xlarge">85 seconds </span>
                  <span class="data-item font-xsmall">to review a case</span>
                </div>

              </div>

            </div>

            <h3 class="heading-small">Sessions and cases in this period</h3>

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">SJP sessions and cases completed between 14 February to 16 March 2017.</caption>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="row"><abbr title="Single Justice Procedure">SJP</abbr> sessions</th>
                  <td><span class="bold-xsmall">5</span></td>
                </tr>
                <tr>
                  <th class="table-cell-title" scope="row">Cases completed</th>
                  <td><span class="bold-xsmall">1583</span></td>
                </tr>
              </tbody>

            </table>

          </div>

          <div class="filters-content js-hidden" data-filter="daily">

            <span class="text-secondary">On average</span>

            <div class="grid-row">

              <div class="column-third">

                <div class="data">
                  <span class="data-item bold-xlarge">23 days </span>
                  <span class="data-item font-xsmall">from receipt of case to completion</span>
                </div>

              </div>

              <div class="column-third">

                <div class="data">
                  <span class="data-item bold-xlarge">2 days </span>
                  <span class="data-item font-xsmall">from ready for review to completion</span>
                </div>

              </div>

              <div class="column-third">

                <div class="data">
                  <span class="data-item bold-xlarge">85 seconds </span>
                  <span class="data-item font-xsmall">to review a case</span>
                </div>

              </div>

            </div>

            <h3 class="heading-small">Only days with sessions shown</h3>

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">Processing times in this period &ndash; daily breakdown.</caption>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="3">Thursday 16 February 2017</th>
                  <th scope="col"><span class="bold-xsmall">Session 1</span></th>
                  <th class="table-cell-last" scope="col"><span class="text-secondary">started at <time datetime="09:05">9:05am</time> and ended at <time datetime="11:59">11:59am</time></span></th>
                </tr>
                <tr>
                  <th scope="row">Cases completed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">258</span></td>
                </tr>
                <tr>
                  <th scope="row">Average time to review a case</th>
                  <td class="table-cell-last"><span class="bold-xsmall">93 seconds</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="6">Thursday 23 February 2017</th>
                  <th scope="col"><span class="bold-xsmall">Session 1</span></th>
                  <th class="table-cell-last" scope="col"><span class="text-secondary">started at <time datetime="13:16">1:16pm</time> and ended at <time datetime="15:57">3:57pm</time></span></th>
                </tr>
                <tr>
                  <th scope="row">Cases completed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2281</span></td>
                </tr>
                <tr>
                  <th scope="row">Average time to review a case</th>
                  <td class="table-cell-last"><span class="bold-xsmall">91 seconds</span></td>
                </tr>
                <tr>
                  <th scope="col"><span class="bold-xsmall">Session 2</span></th>
                  <th class="table-cell-last" scope="col"><span class="text-secondary">started at <time datetime="13:16">1:16pm</time> and ended at <time datetime="15:57">3:57pm</time></span></th>
                </tr>
                <tr>
                  <th scope="row">Cases completed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2281</span></td>
                </tr>
                <tr>
                  <th scope="row">Average time to review a case</th>
                  <td class="table-cell-last"><span class="bold-xsmall">91 seconds</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="3">Thursday 2 March 2017</th>
                  <th scope="col"><span class="bold-xsmall">Session 1</span></th>
                  <th class="table-cell-last" scope="col"><span class="text-secondary">started at <time datetime="09:05">9:05am</time> and ended at <time datetime="11:59">11:59am</time></span></th>
                </tr>
                <tr>
                  <th scope="row">Cases completed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">309</span></td>
                </tr>
                <tr>
                  <th scope="row">Average time to review a case</th>
                  <td class="table-cell-last"><span class="bold-xsmall">86 seconds</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="9">Thursday 9 March 2017</th>
                  <th scope="col"><span class="bold-xsmall">Session 1</span></th>
                  <th class="table-cell-last" scope="col"><span class="text-secondary">started at <time datetime="13:05">1:03pm</time> and ended at <time datetime="16:07">4:07pm</time></span></th>
                </tr>
                <tr>
                  <th scope="row">Cases completed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">344</span></td>
                </tr>
                <tr>
                  <th scope="row">Average time to review a case</th>
                  <td class="table-cell-last"><span class="bold-xsmall">83 seconds</span></td>
                </tr>
                <tr>
                  <th scope="col"><span class="bold-xsmall">Session 2</span></th>
                  <th class="table-cell-last" scope="col"><span class="text-secondary">started at <time datetime="09:21">9:21am</time> and ended at <time datetime="12:13">12:13pm</time></span></th>
                </tr>
                <tr>
                  <th scope="row">Cases completed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">344</span></td>
                </tr>
                <tr>
                  <th scope="row">Average time to review a case</th>
                  <td class="table-cell-last"><span class="bold-xsmall">83 seconds</span></td>
                </tr>
                <tr>
                  <th scope="col"><span class="bold-xsmall">Session 3</span></th>
                  <th class="table-cell-last" scope="col"><span class="text-secondary">started at <time datetime="13:17">1:17pm</time> and ended at <time datetime="16:01">4:01pm</time></span></th>
                </tr>
                <tr>
                  <th scope="row">Cases completed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">344</span></td>
                </tr>
                <tr>
                  <th scope="row">Average time to review a case</th>
                  <td class="table-cell-last"><span class="bold-xsmall">83 seconds</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="6">Thursday 16 March 2017</th>
                  <th scope="col"><span class="bold-xsmall">Session 1</span></th>
                  <th class="table-cell-last" scope="col"><span class="text-secondary">started at <time datetime="09:01">9:01am</time> and ended at <time datetime="12:00">12:00pm</time></span></th>
                </tr>
                <tr>
                  <th scope="row">Cases completed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">393</span></td>
                </tr>
                <tr>
                  <th scope="row">Average time to review a case</th>
                  <td class="table-cell-last"><span class="bold-xsmall">72 seconds</span></td>
                </tr>
                <tr>
                  <th scope="col"><span class="bold-xsmall">Session 2</span></th>
                  <th class="table-cell-last" scope="col"><span class="text-secondary">started at <time datetime="13:00">1:00pm</time> and ended at <time datetime="15:59">3:59pm</time></span></th>
                </tr>
                <tr>
                  <th scope="row">Cases completed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">393</span></td>
                </tr>
                <tr>
                  <th scope="row">Average time to review a case</th>
                  <td class="table-cell-last"><span class="bold-xsmall">72 seconds</span></td>
                </tr>
              </tbody>

            </table>

          </div>

          <div class="filters-content js-hidden" data-filter="weekly">

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">Processing times in this period &ndash; weekly breakdown.</caption>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="6"><span class="bold-xsmall">13 to 19 February 2017</span> <br> <span class="text-secondary">Starting on 14 February</span></th>
                  <th scope="row"><abbr title="Single Justice Procedure">SJP</abbr> sessions</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2</span></td>
                </tr>
                <tr>
                  <th scope="row">Cases completed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">539</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Average times</span></th>
                </tr>
                <tr>
                  <th scope="row">From receipt of case to completion</th>
                  <td class="table-cell-last"><span class="bold-xsmall">19 days</span></td>
                </tr>
                <tr>
                  <th scope="row">From ready for review to completion</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2 days</span></td>
                </tr>
                <tr>
                  <th scope="row">To review a case</th>
                  <td class="table-cell-last"><span class="bold-xsmall">92 seconds</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup"><span class="bold-xsmall">20 to 26 February 2017</span></th>
                  <th colspan="2"><span class="bold-xsmall">No sessions</span></th>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="6"><span class="bold-xsmall">27 February to 5 March 2017</span></th>
                  <th scope="row"><abbr title="Single Justice Procedure">SJP</abbr> sessions</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Cases completed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">309</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Average times</span></th>
                </tr>
                <tr>
                  <th scope="row">From receipt of case to completion</th>
                  <td class="table-cell-last"><span class="bold-xsmall">28 days</span></td>
                </tr>
                <tr>
                  <th scope="row">From ready for review to completion</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2 days</span></td>
                </tr>
                <tr>
                  <th scope="row">To review a case</th>
                  <td class="table-cell-last"><span class="bold-xsmall">86 seconds</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="6"><span class="bold-xsmall">6 to 12 March 2017</span></th>
                  <th scope="row"><abbr title="Single Justice Procedure">SJP</abbr> sessions</th>
                  <td class="table-cell-last"><span class="bold-xsmall">3</span></td>
                </tr>
                <tr>
                  <th scope="row">Cases completed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">344</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Average times</span></th>
                </tr>
                <tr>
                  <th scope="row">From receipt of case to completion</th>
                  <td class="table-cell-last"><span class="bold-xsmall">22 days</span></td>
                </tr>
                <tr>
                  <th scope="row">From ready for review to completion</th>
                  <td class="table-cell-last"><span class="bold-xsmall">3 days</span></td>
                </tr>
                <tr>
                  <th scope="row">To review a case</th>
                  <td class="table-cell-last"><span class="bold-xsmall">86 seconds</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="6"><span class="bold-xsmall">13 to 19 March 2017</span> <br> <span class="text-secondary">Ending on 16 March</span></th>
                  <th scope="row"><abbr title="Single Justice Procedure">SJP</abbr> sessions</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2</span></td>
                </tr>
                <tr>
                  <th scope="row">Cases completed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">393</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Average times</span></th>
                </tr>
                <tr>
                  <th scope="row">From receipt of case to completion</th>
                  <td class="table-cell-last"><span class="bold-xsmall">23 days</span></td>
                </tr>
                <tr>
                  <th scope="row">From ready for review to completion</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2 days</span></td>
                </tr>
                <tr>
                  <th scope="row">To review a case</th>
                  <td class="table-cell-last"><span class="bold-xsmall">86 seconds</span></td>
                </tr>
              </tbody>

            </table>

          </div>

          <div class="filters-content js-hidden" data-filter="monthly">

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">Processing times in this period &ndash; monthly breakdown.</caption>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="6"><span class="bold-xsmall">February 2017</span> <br> <span class="text-secondary">13 to 28 February</span></th>
                  <th scope="row"><abbr title="Single Justice Procedure">SJP</abbr> sessions</th>
                  <td class="table-cell-last"><span class="bold-xsmall">4</span></td>
                </tr>
                <tr>
                  <th scope="row">Cases completed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">539</span></td>
                </tr>
                <tr>
                  <th scope="row" colspan="2"><span class="bold-xsmall">Average times</span></th>
                </tr>
                <tr>
                  <th scope="row">From receipt of case to completion</th>
                  <td class="table-cell-last"><span class="bold-xsmall">24 days</span></td>
                </tr>
                <tr>
                  <th scope="row">From ready for review to completion</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2 days</span></td>
                </tr>
                <tr>
                  <th scope="row">To review a case</th>
                  <td class="table-cell-last"><span class="bold-xsmall">92</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="5"><span class="bold-xsmall">March 2017</span> <br> <span class="text-secondary">1 to 31 March</span></th>
                  <th scope="row"><abbr title="Single Justice Procedure">SJP</abbr> sessions</th>
                  <td class="table-cell-last"><span class="bold-xsmall">5</span></td>
                </tr>
                <tr>
                  <th scope="row">Cases completed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1046</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Average times</span></th>
                </tr>
                <tr>
                  <th scope="row">From receipt of case to completion</th>
                  <td class="table-cell-last"><span class="bold-xsmall">23 days</span></td>
                </tr>
                <tr>
                  <th scope="row">From ready for review to completion</th>
                  <td class="table-cell-last"><span class="bold-xsmall">3 days</span></td>
                </tr>
                <tr>
                  <th scope="row">To review a case</th>
                  <td class="table-cell-last"><span class="bold-xsmall">80 seconds</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup"><span class="bold-xsmall">April 2017</span> <br> <span class="text-secondary">1 to 7 April</span></th>
                  <th colspan="2"><span class="bold-xsmall">No sessions</span></th>
                </tr>
              </tbody>

            </table>

          </div>

          <ul class="button-actions">
            <li><a class="button" href="/">Print</a></li>
            <li><a class="button button-secondary" href="/">Download in Excel</a></li>
          </ul>

          <p><a href="/{{baseurl}}/home/">Back to dashboard</a></p>

        </section>

        <section id="decisions-made">

          <h2 class="heading-medium">Decisions made</h2>

          <div class="filters-content" data-filter="all">

            <div class="grid-row">

              <div class="column-third">

                <div class="data">
                  <span class="data-item bold-xlarge">1585 </span>
                  <span class="data-item font-xsmall">decisions made</span>
                </div>

              </div>

              <div class="column-third">

                <div class="data">
                  <span class="data-item bold-xlarge">80 </span>
                  <span class="data-item font-xsmall">cases reopened</span>
                </div>

              </div>

            </div>

            <h3 class="heading-small">Breakdown of decisions</h3>

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">Breakdown of decisions made between 14 February to 16 March 2017.</caption>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="row">Financial penalty</th>
                  <td><span class="bold-xsmall">1395</span></td>
                </tr>
                <tr>
                  <th class="table-cell-title" scope="row">Discharged</th>
                  <td><span class="bold-xsmall">8</span></td>
                </tr>
                <tr>
                  <th class="table-cell-title" scope="row">Withdrawn</th>
                  <td><span class="bold-xsmall">93</span></td>
                </tr>
                <tr>
                  <th class="table-cell-title" scope="row">Dismissed</th>
                  <td><span class="bold-xsmall">3</span></td>
                </tr>
                <tr>
                  <th class="table-cell-title" scope="row">
                    Referred to court
                    <details>
                      <summary><span class="summary">View reasons</span></summary>
                      <div class="panel panel-border-narrow">
                        <dl class="meta meta-wide">
                          <dt>Equivocal penalty</dt>
                          <dd>2</dd>
                          <dt>Defence requests</dt>
                          <dd>1</dd>
                          <dt>For trial</dt>
                          <dd>2</dd>
                          <dt>For a case management hearing</dt>
                          <dd>0</dd>
                          <dt>Sentencing hearing</dt>
                          <dd>3</dd>
                          <dt>Case unsuitable for <abbr title="Single Justice Procedure">SJP</abbr></dt>
                          <dd>2</dd>
                          <dt>For disqualification</dt>
                          <dd>2</dd>
                        </dl>
                      </div>
                    </details>
                  </th>
                  <td><span class="bold-xsmall">86</span></td>
                </tr>
                <tr>
                  <th class="table-cell-title" scope="row">Total</th>
                  <td><span class="bold-xsmall">1585</span></td>
                </tr>
              </tbody>

            </table>

            <h3 class="heading-small">Cases reopened</h3>

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">Cases reopened between 14 February to 16 March 2017.</caption>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="row">Total</th>
                  <td><span class="bold-xsmall">80</span></td>
                </tr>
              </tbody>

            </table>

          </div>

          <div class="filters-content js-hidden" data-filter="daily">

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">Decisions made in this period &ndash; daily breakdown.</caption>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="9">Thursday 16 February 2017</th>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Breakdown of decisions</span></th>
                </tr>
                <tr>
                  <th scope="row">Financial penalty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">228</span></td>
                </tr>
                <tr>
                  <th scope="row">Discharged</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2</span></td>
                </tr>
                <tr>
                  <th scope="row">Withdrawn</th>
                  <td class="table-cell-last"><span class="bold-xsmall">15</span></td>
                </tr>
                <tr>
                  <th scope="row">Dismissed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Referred to court
                    <details>
                      <summary><span class="summary">View reasons</span></summary>
                      <div class="panel panel-border-narrow">
                        <dl class="meta meta-wide">
                          <dt>Equivocal penalty</dt>
                          <dd>2</dd>
                          <dt>Defence requests</dt>
                          <dd>8</dd>
                          <dt>For trial</dt>
                          <dd>2</dd>
                          <dt>For a case management hearing</dt>
                          <dd>0</dd>
                          <dt>Sentencing hearing</dt>
                          <dd>3</dd>
                          <dt>Case unsuitable for <abbr title="Single Justice Procedure">SJP</abbr></dt>
                          <dd>2</dd>
                          <dt>For disqualification</dt>
                          <dd>2</dd>
                        </dl>
                      </div>
                    </details>
                  </th>
                  <td class="table-cell-last"><span class="bold-xsmall">12</span></td>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">258</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Cases reopened</span></th>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">17</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="9">Thursday 23 February 2017</th>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Breakdown of decisions</span></th>
                </tr>
                <tr>
                  <th scope="row">Financial penalty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">239</span></td>
                </tr>
                <tr>
                  <th scope="row">Discharged</th>
                  <td class="table-cell-last"><span class="bold-xsmall">4</span></td>
                </tr>
                <tr>
                  <th scope="row">Withdrawn</th>
                  <td class="table-cell-last"><span class="bold-xsmall">24</span></td>
                </tr>
                <tr>
                  <th scope="row">Dismissed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">0</span></td>
                </tr>
                <tr>
                  <th scope="row">Referred to court
                    <details>
                      <summary><span class="summary">View reasons</span></summary>
                      <div class="panel panel-border-narrow">
                        <dl class="meta meta-wide">
                          <dt>Equivocal penalty</dt>
                          <dd>2</dd>
                          <dt>Defence requests</dt>
                          <dd>8</dd>
                          <dt>For trial</dt>
                          <dd>2</dd>
                          <dt>For a case management hearing</dt>
                          <dd>0</dd>
                          <dt>Sentencing hearing</dt>
                          <dd>3</dd>
                          <dt>Case unsuitable for <abbr title="Single Justice Procedure">SJP</abbr></dt>
                          <dd>2</dd>
                          <dt>For disqualification</dt>
                          <dd>2</dd>
                        </dl>
                      </div>
                    </details>
                  </th>
                  <td class="table-cell-last"><span class="bold-xsmall">14</span></td>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">281</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Cases reopened</span></th>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">21</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="9">Thursday 2 March 2017</th>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Breakdown of decisions</span></th>
                </tr>
                <tr>
                  <th scope="row">Financial penalty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">271</span></td>
                </tr>
                <tr>
                  <th scope="row">Discharged</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Withdrawn</th>
                  <td class="table-cell-last"><span class="bold-xsmall">13</span></td>
                </tr>
                <tr>
                  <th scope="row">Dismissed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Referred to court
                    <details>
                      <summary><span class="summary">View reasons</span></summary>
                      <div class="panel panel-border-narrow">
                        <dl class="meta meta-wide">
                          <dt>Equivocal penalty</dt>
                          <dd>2</dd>
                          <dt>Defence requests</dt>
                          <dd>8</dd>
                          <dt>For trial</dt>
                          <dd>2</dd>
                          <dt>For a case management hearing</dt>
                          <dd>0</dd>
                          <dt>Sentencing hearing</dt>
                          <dd>3</dd>
                          <dt>Case unsuitable for <abbr title="Single Justice Procedure">SJP</abbr></dt>
                          <dd>2</dd>
                          <dt>For disqualification</dt>
                          <dd>2</dd>
                        </dl>
                      </div>
                    </details>
                  </th>
                  <td class="table-cell-last"><span class="bold-xsmall">23</span></td>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">309</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Cases reopened</span></th>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">17</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="9">Thursday 9 March 2017</th>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Breakdown of decisions</span></th>
                </tr>
                <tr>
                  <th scope="row">Financial penalty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">302</span></td>
                </tr>
                <tr>
                  <th scope="row">Discharged</th>
                  <td class="table-cell-last"><span class="bold-xsmall">0</span></td>
                </tr>
                <tr>
                  <th scope="row">Withdrawn</th>
                  <td class="table-cell-last"><span class="bold-xsmall">22</span></td>
                </tr>
                <tr>
                  <th scope="row">Dismissed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">0</span></td>
                </tr>
                <tr>
                  <th scope="row">Referred to court
                    <details>
                      <summary><span class="summary">View reasons</span></summary>
                      <div class="panel panel-border-narrow">
                        <dl class="meta meta-wide">
                          <dt>Equivocal penalty</dt>
                          <dd>2</dd>
                          <dt>Defence requests</dt>
                          <dd>8</dd>
                          <dt>For trial</dt>
                          <dd>2</dd>
                          <dt>For a case management hearing</dt>
                          <dd>0</dd>
                          <dt>Sentencing hearing</dt>
                          <dd>3</dd>
                          <dt>Case unsuitable for <abbr title="Single Justice Procedure">SJP</abbr></dt>
                          <dd>2</dd>
                          <dt>For disqualification</dt>
                          <dd>2</dd>
                        </dl>
                      </div>
                    </details>
                  </th>
                  <td class="table-cell-last"><span class="bold-xsmall">20</span></td>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">344</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Cases reopened</span></th>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">19</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="9">Thursday 16 March 2017</th>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Breakdown of decisions</span></th>
                </tr>
                <tr>
                  <th scope="row">Financial penalty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">355</span></td>
                </tr>
                <tr>
                  <th scope="row">Discharged</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Withdrawn</th>
                  <td class="table-cell-last"><span class="bold-xsmall">19</span></td>
                </tr>
                <tr>
                  <th scope="row">Dismissed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Referred to court
                    <details>
                      <summary><span class="summary">View reasons</span></summary>
                      <div class="panel panel-border-narrow">
                        <dl class="meta meta-wide">
                          <dt>Equivocal penalty</dt>
                          <dd>2</dd>
                          <dt>Defence requests</dt>
                          <dd>8</dd>
                          <dt>For trial</dt>
                          <dd>2</dd>
                          <dt>For a case management hearing</dt>
                          <dd>0</dd>
                          <dt>Sentencing hearing</dt>
                          <dd>3</dd>
                          <dt>Case unsuitable for <abbr title="Single Justice Procedure">SJP</abbr></dt>
                          <dd>2</dd>
                          <dt>For disqualification</dt>
                          <dd>2</dd>
                        </dl>
                      </div>
                    </details>
                  </th>
                  <td class="table-cell-last"><span class="bold-xsmall">17</span></td>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">393</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Cases reopened</span></th>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">23</span></td>
                </tr>
              </tbody>

            </table>

          </div>

          <div class="filters-content js-hidden" data-filter="weekly">

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">Processing times in this period &ndash; weekly breakdown.</caption>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="9"><span class="bold-xsmall">13 to 19 February 2017</span> <br> <span class="text-secondary">Starting on 14 February</span></th>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Breakdown of decisions</span></th>
                </tr>
                <tr>
                  <th scope="row">Financial penalty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">467</span></td>
                </tr>
                <tr>
                  <th scope="row">Discharged</th>
                  <td class="table-cell-last"><span class="bold-xsmall">6</span></td>
                </tr>
                <tr>
                  <th scope="row">Withdrawn</th>
                  <td class="table-cell-last"><span class="bold-xsmall">19</span></td>
                </tr>
                <tr>
                  <th scope="row">Dismissed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Referred to court
                    <details>
                      <summary><span class="summary">View reasons</span></summary>
                      <div class="panel panel-border-narrow">
                        <dl class="meta meta-wide">
                          <dt>Equivocal penalty</dt>
                          <dd>2</dd>
                          <dt>Defence requests</dt>
                          <dd>8</dd>
                          <dt>For trial</dt>
                          <dd>2</dd>
                          <dt>For a case management hearing</dt>
                          <dd>0</dd>
                          <dt>Sentencing hearing</dt>
                          <dd>3</dd>
                          <dt>Case unsuitable for <abbr title="Single Justice Procedure">SJP</abbr></dt>
                          <dd>2</dd>
                          <dt>For disqualification</dt>
                          <dd>2</dd>
                        </dl>
                      </div>
                    </details>
                  </th>
                  <td class="table-cell-last"><span class="bold-xsmall">26</span></td>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">519</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Cases reopened</span></th>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">21</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup"><span class="bold-xsmall">20 to 26 February 2017</span></th>
                  <th colspan="2"><span class="bold-xsmall">No sessions</span></th>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="9"><span class="bold-xsmall">27 February to 5 March 2017</span></th>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Breakdown of decisions</span></th>
                </tr>
                <tr>
                  <th scope="row">Financial penalty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">271</span></td>
                </tr>
                <tr>
                  <th scope="row">Discharged</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Withdrawn</th>
                  <td class="table-cell-last"><span class="bold-xsmall">13</span></td>
                </tr>
                <tr>
                  <th scope="row">Dismissed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Referred to court
                    <details>
                      <summary><span class="summary">View reasons</span></summary>
                      <div class="panel panel-border-narrow">
                        <dl class="meta meta-wide">
                          <dt>Equivocal penalty</dt>
                          <dd>2</dd>
                          <dt>Defence requests</dt>
                          <dd>8</dd>
                          <dt>For trial</dt>
                          <dd>2</dd>
                          <dt>For a case management hearing</dt>
                          <dd>0</dd>
                          <dt>Sentencing hearing</dt>
                          <dd>3</dd>
                          <dt>Case unsuitable for <abbr title="Single Justice Procedure">SJP</abbr></dt>
                          <dd>2</dd>
                          <dt>For disqualification</dt>
                          <dd>2</dd>
                        </dl>
                      </div>
                    </details>
                  </th>
                  <td class="table-cell-last"><span class="bold-xsmall">23</span></td>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">309</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Cases reopened</span></th>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">17</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="9"><span class="bold-xsmall">6 to 12 March 2017</span></th>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Breakdown of decisions</span></th>
                </tr>
                <tr>
                  <th scope="row">Financial penalty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">302</span></td>
                </tr>
                <tr>
                  <th scope="row">Discharged</th>
                  <td class="table-cell-last"><span class="bold-xsmall">0</span></td>
                </tr>
                <tr>
                  <th scope="row">Withdrawn</th>
                  <td class="table-cell-last"><span class="bold-xsmall">22</span></td>
                </tr>
                <tr>
                  <th scope="row">Dismissed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">0</span></td>
                </tr>
                <tr>
                  <th scope="row">Referred to court
                    <details>
                      <summary><span class="summary">View reasons</span></summary>
                      <div class="panel panel-border-narrow">
                        <dl class="meta meta-wide">
                          <dt>Equivocal penalty</dt>
                          <dd>2</dd>
                          <dt>Defence requests</dt>
                          <dd>8</dd>
                          <dt>For trial</dt>
                          <dd>2</dd>
                          <dt>For a case management hearing</dt>
                          <dd>0</dd>
                          <dt>Sentencing hearing</dt>
                          <dd>3</dd>
                          <dt>Case unsuitable for <abbr title="Single Justice Procedure">SJP</abbr></dt>
                          <dd>2</dd>
                          <dt>For disqualification</dt>
                          <dd>2</dd>
                        </dl>
                      </div>
                    </details>
                  </th>
                  <td class="table-cell-last"><span class="bold-xsmall">20</span></td>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">344</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Cases reopened</span></th>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">19</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="9"><span class="bold-xsmall">13 to 19 March 2017</span> <br> <span class="text-secondary">Ending on 16 March</span></th>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Breakdown of decisions</span></th>
                </tr>
                <tr>
                  <th scope="row">Financial penalty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">355</span></td>
                </tr>
                <tr>
                  <th scope="row">Discharged</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Withdrawn</th>
                  <td class="table-cell-last"><span class="bold-xsmall">19</span></td>
                </tr>
                <tr>
                  <th scope="row">Dismissed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Referred to court
                    <details>
                      <summary><span class="summary">View reasons</span></summary>
                      <div class="panel panel-border-narrow">
                        <dl class="meta meta-wide">
                          <dt>Equivocal penalty</dt>
                          <dd>2</dd>
                          <dt>Defence requests</dt>
                          <dd>8</dd>
                          <dt>For trial</dt>
                          <dd>2</dd>
                          <dt>For a case management hearing</dt>
                          <dd>0</dd>
                          <dt>Sentencing hearing</dt>
                          <dd>3</dd>
                          <dt>Case unsuitable for <abbr title="Single Justice Procedure">SJP</abbr></dt>
                          <dd>2</dd>
                          <dt>For disqualification</dt>
                          <dd>2</dd>
                        </dl>
                      </div>
                    </details>
                  </th>
                  <td class="table-cell-last"><span class="bold-xsmall">17</span></td>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">393</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Cases reopened</span></th>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">23</span></td>
                </tr>
              </tbody>

            </table>

          </div>

          <div class="filters-content js-hidden" data-filter="monthly">

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">Processing times in this period &ndash; monthly breakdown.</caption>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="9"><span class="bold-xsmall">February 2017</span> <br> <span class="text-secondary">13 to 28 February</span></th>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Breakdown of decisions</span></th>
                </tr>
                <tr>
                  <th scope="row">Financial penalty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">467</span></td>
                </tr>
                <tr>
                  <th scope="row">Discharged</th>
                  <td class="table-cell-last"><span class="bold-xsmall">6</span></td>
                </tr>
                <tr>
                  <th scope="row">Withdrawn</th>
                  <td class="table-cell-last"><span class="bold-xsmall">39</span></td>
                </tr>
                <tr>
                  <th scope="row">Dismissed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Referred to court
                    <details>
                      <summary><span class="summary">View reasons</span></summary>
                      <div class="panel panel-border-narrow">
                        <dl class="meta meta-wide">
                          <dt>Equivocal penalty</dt>
                          <dd>2</dd>
                          <dt>Defence requests</dt>
                          <dd>8</dd>
                          <dt>For trial</dt>
                          <dd>2</dd>
                          <dt>For a case management hearing</dt>
                          <dd>0</dd>
                          <dt>Sentencing hearing</dt>
                          <dd>3</dd>
                          <dt>Case unsuitable for <abbr title="Single Justice Procedure">SJP</abbr></dt>
                          <dd>2</dd>
                          <dt>For disqualification</dt>
                          <dd>2</dd>
                        </dl>
                      </div>
                    </details>
                  </th>
                  <td class="table-cell-last"><span class="bold-xsmall">26</span></td>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">539</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Cases reopened</span></th>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">21</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="9"><span class="bold-xsmall">March 2017</span> <br> <span class="text-secondary">1 to 31 March</span></th>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Breakdown of decisions</span></th>
                </tr>
                <tr>
                  <th scope="row">Financial penalty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">928</span></td>
                </tr>
                <tr>
                  <th scope="row">Discharged</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2</span></td>
                </tr>
                <tr>
                  <th scope="row">Withdrawn</th>
                  <td class="table-cell-last"><span class="bold-xsmall">54</span></td>
                </tr>
                <tr>
                  <th scope="row">Dismissed</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2</span></td>
                </tr>
                <tr>
                  <th scope="row">Referred to court
                    <details>
                      <summary><span class="summary">View reasons</span></summary>
                      <div class="panel panel-border-narrow">
                        <dl class="meta meta-wide">
                          <dt>Equivocal penalty</dt>
                          <dd>2</dd>
                          <dt>Defence requests</dt>
                          <dd>8</dd>
                          <dt>For trial</dt>
                          <dd>2</dd>
                          <dt>For a case management hearing</dt>
                          <dd>0</dd>
                          <dt>Sentencing hearing</dt>
                          <dd>3</dd>
                          <dt>Case unsuitable for <abbr title="Single Justice Procedure">SJP</abbr></dt>
                          <dd>2</dd>
                          <dt>For disqualification</dt>
                          <dd>2</dd>
                        </dl>
                      </div>
                    </details>
                  </th>
                  <td class="table-cell-last"><span class="bold-xsmall">60</span></td>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1046</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Cases reopened</span></th>
                </tr>
                <tr>
                  <th scope="row">Total</th>
                  <td class="table-cell-last"><span class="bold-xsmall">59</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup"><span class="bold-xsmall">April 2017</span> <br> <span class="text-secondary">1 to 7 April</span></th>
                  <th colspan="2"><span class="bold-xsmall">No sessions</span></th>
                </tr>
              </tbody>

            </table>

          </div>

          <ul class="button-actions">
            <li><a class="button" href="/">Print</a></li>
            <li><a class="button button-secondary" href="/">Download in Excel</a></li>
          </ul>

          <p><a href="/{{baseurl}}/home/">Back to dashboard</a></p>

        </section>

        <section id="pleas">

          <h2 class="heading-medium">Pleas</h2>

          <div class="filters-content" data-filter="all">

            <div class="grid-row">

              <div class="column-third">

                <div class="data">
                  <span class="data-item bold-xlarge">1641 </span>
                  <span class="data-item font-xsmall">total cases</span>
                </div>

              </div>

              <div class="column-third">

                <div class="data">
                  <span class="data-item bold-xlarge">219 </span>
                  <span class="data-item font-xsmall">pleas received</span>
                </div>

              </div>

              <div class="column-third">

                <div class="data">
                  <span class="data-item bold-xlarge">1422 </span>
                  <span class="data-item font-xsmall">cases with no plea received</span>
                </div>

              </div>

            </div>

            <h3 class="heading-small">How pleas were made</h3>

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">How pleas were made between 14 February to 16 March 2017.</caption>

              <thead>
                <tr>
                  <th scope="col"><span class="visually-hidden">Method</span></th>
                  <th scope="col"><span class="visually-hidden">Amount</span></th>
                  <th scope="col"><span class="bold-xsmall">&#37; of pleas received</span></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="row">By post</th>
                  <td><span class="bold-xsmall">124</span></td>
                  <td><span class="bold-xsmall">57&#37;</span></td>
                </tr>
                <tr>
                  <th class="table-cell-title" scope="row">Online</th>
                  <td><span class="bold-xsmall">60</span></td>
                  <td><span class="bold-xsmall">43&#37;</span></td>
                </tr>
              </tbody>

            </table>

            <h3 class="heading-small">Postal plea breakdown</h3>

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">Postal plea breakdown between 14 February to 16 March 2017.</caption>

              <thead>
                <tr>
                  <th scope="col"><span class="visually-hidden">Plea</span></th>
                  <th scope="col"><span class="visually-hidden">Amount</span></th>
                  <th scope="col"><span class="bold-xsmall">&#37; of postal pleas</span></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="row">Not guilty</th>
                  <td><span class="bold-xsmall">124</span></td>
                  <td><span class="bold-xsmall">57&#37;</span></td>
                </tr>
                <tr>
                  <th class="table-cell-title" scope="row">Guilty</th>
                  <td><span class="bold-xsmall">60</span></td>
                  <td><span class="bold-xsmall">48&#37;</span></td>
                </tr>
                <tr>
                  <th class="table-cell-title" scope="row">Guilty &ndash; requested court hearing</th>
                  <td><span class="bold-xsmall">60</span></td>
                  <td><span class="bold-xsmall">48&#37;</span></td>
                </tr>
              </tbody>

            </table>

            <h3 class="heading-small">Online plea breakdown</h3>

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">Online plea breakdown between 14 February to 16 March 2017.</caption>

              <thead>
                <tr>
                  <th scope="col"><span class="visually-hidden">Plea</span></th>
                  <th scope="col"><span class="visually-hidden">Amount</span></th>
                  <th scope="col"><span class="bold-xsmall">&#37; of online pleas</span></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="row">Not guilty</th>
                  <td><span class="bold-xsmall">124</span></td>
                  <td><span class="bold-xsmall">57&#37;</span></td>
                </tr>
                <tr>
                  <th class="table-cell-title" scope="row">Guilty</th>
                  <td><span class="bold-xsmall">60</span></td>
                  <td><span class="bold-xsmall">48&#37;</span></td>
                </tr>
                <tr>
                  <th class="table-cell-title" scope="row">Guilty &ndash; requested court hearing</th>
                  <td><span class="bold-xsmall">60</span></td>
                  <td><span class="bold-xsmall">48&#37;</span></td>
                </tr>
              </tbody>

            </table>

            <h3 class="heading-small">No plea received</h3>

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">Cases with no plea received between 14 February to 16 March 2017.</caption>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="row">Total</th>
                  <td><span class="bold-xsmall">124</span></td>
                </tr>
              </tbody>

            </table>

          </div>

          <div class="filters-content js-hidden" data-filter="daily">

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">Pleas in this period &ndash; daily breakdown.</caption>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="12">Thursday 16 February 2017</th>
                  <th scope="row"><span class="bold-xsmall">No plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">224</span></td>
                </tr>
                <tr>
                  <th scope="row"><span class="bold-xsmall">Plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">34</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Postal plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">15</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">10</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">26</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Online plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">5</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">3</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">0</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">8</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="12">Thursday 23 February 2017</th>
                  <th scope="row"><span class="bold-xsmall">No plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">239</span></td>
                </tr>
                <tr>
                  <th scope="row"><span class="bold-xsmall">Plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">42</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Postal plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">12</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">13</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">27</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Online plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">8</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">6</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">15</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="12">Thursday 2 March 2017</th>
                  <th scope="row"><span class="bold-xsmall">No plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">259</span></td>
                </tr>
                <tr>
                  <th scope="row"><span class="bold-xsmall">Plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">50</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Postal plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">10</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">11</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">22</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Online plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">14</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">12</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">28</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="12">Thursday 9 March 2017</th>
                  <th scope="row"><span class="bold-xsmall">No plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">289</span></td>
                </tr>
                <tr>
                  <th scope="row"><span class="bold-xsmall">Plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">55</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Postal plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">9</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">12</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">23</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Online plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">16</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">15</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">32</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="12">Thursday 16 March 2017</th>
                  <th scope="row"><span class="bold-xsmall">No plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">323</span></td>
                </tr>
                <tr>
                  <th scope="row"><span class="bold-xsmall">Plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">70</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Postal plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">11</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">14</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">26</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Online plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">23</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">19</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">44</span></td>
                </tr>
              </tbody>

            </table>

          </div>

          <div class="filters-content js-hidden" data-filter="weekly">

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">Pleas in this period &ndash; weekly breakdown.</caption>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="12"><span class="bold-xsmall">13 to 19 February 2017</span> <br> <span class="text-secondary">Started on 14 February</span></th>
                  <th scope="row"><span class="bold-xsmall">No plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">463</span></td>
                </tr>
                <tr>
                  <th scope="row"><span class="bold-xsmall">Plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">76</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Postal plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">27</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">23</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">3</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">53</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Online plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">13</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">9</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">23</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup"><span class="bold-xsmall">20 to 26 February 2017</span></th>
                  <th colspan="2"><span class="bold-xsmall">No sessions</span></th>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="12"><span class="bold-xsmall">27 February to 5 March 2017</span></th>
                  <th scope="row"><span class="bold-xsmall">No plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">259</span></td>
                </tr>
                <tr>
                  <th scope="row"><span class="bold-xsmall">Plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">50</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Postal plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">10</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">11</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">22</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Online plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">14</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">12</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">28</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="12"><span class="bold-xsmall">6 to 12 March 2017</span></th>
                  <th scope="row"><span class="bold-xsmall">No plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">289</span></td>
                </tr>
                <tr>
                  <th scope="row"><span class="bold-xsmall">Plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">55</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Postal plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">9</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">12</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">23</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Online plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">16</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">15</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">32</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="12"><span class="bold-xsmall">13 to 19 March 2017</span> <br> <span class="text-secondary">Ending on 16 March</span></th>
                  <th scope="row"><span class="bold-xsmall">No plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">323</span></td>
                </tr>
                <tr>
                  <th scope="row"><span class="bold-xsmall">Plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">70</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Postal plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">11</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">14</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">26</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Online plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">23</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">19</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">2</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">44</span></td>
                </tr>
              </tbody>

            </table>

          </div>

          <div class="filters-content js-hidden" data-filter="monthly">

            <table class="table table-font-xsmall table-performance">

              <caption class="visually-hidden">Pleas in this period &ndash; monthly breakdown.</caption>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="12"><span class="bold-xsmall">February 2017</span> <br> <span class="text-secondary">13 to 28 February</span></th>
                  <th scope="row"><span class="bold-xsmall">No plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">463</span></td>
                </tr>
                <tr>
                  <th scope="row"><span class="bold-xsmall">Plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">77</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Postal plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">27</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">23</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">4</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">54</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Online plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">13</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">9</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">1</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">23</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup" rowspan="12"><span class="bold-xsmall">March 2017</span> <br> <span class="text-secondary">1 to 31 March</span></th>
                  <th scope="row"><span class="bold-xsmall">No plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">871</span></td>
                </tr>
                <tr>
                  <th scope="row"><span class="bold-xsmall">Plea received</span></th>
                  <td class="table-cell-last"><span class="bold-xsmall">175</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Postal plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">30</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">37</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">4</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">71</span></td>
                </tr>
                <tr>
                  <th scope="col" colspan="2"><span class="bold-xsmall">Online plea breakdown</span></th>
                </tr>
                <tr>
                  <th scope="row">Not guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">53</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty</th>
                  <td class="table-cell-last"><span class="bold-xsmall">46</span></td>
                </tr>
                <tr>
                  <th scope="row">Guilty &ndash; requested court hearing</th>
                  <td class="table-cell-last"><span class="bold-xsmall">5</span></td>
                </tr>
                <tr>
                  <th scope="row">Total received</th>
                  <td class="table-cell-last"><span class="bold-xsmall">104</span></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th class="table-cell-title" scope="rowgroup"><span class="bold-xsmall">April 2017</span> <br> <span class="text-secondary">1 to 7 April</span></th>
                  <th colspan="2"><span class="bold-xsmall">No sessions</span></th>
                </tr>
              </tbody>

            </table>

          </div>

          <ul class="button-actions">
            <li><a class="button" href="/">Print</a></li>
            <li><a class="button button-secondary" href="/">Download in Excel</a></li>
          </ul>

          <p><a href="/{{baseurl}}/home/">Back to dashboard</a></p>

        </section>

      </div>

    </div>

  </div>

</div>
