{{>breadcrumb}}

{{#with search}}

  {{>legal-adviser/persist-info}}

  {{>legal-adviser/has-saved}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge mb-l">
        {{#and ../sFirstname ../sLastname}}
          {{../sFirstname}} <span class="text-uppercase">{{../sLastname}}</span>
        {{else}}
          {{personal-details.firstname}} <span class="text-uppercase">{{personal-details.lastname}}</span>
        {{/and}}
      </h1>

      <p class="mb-xl">
        {{#if ../../sDob}}<time datetime="{{moment ../../sDob format="YYYY-MM-DD"}}">{{moment ../../sDob format="D MMM YYYY"}}</time>{{else}}<time datetime="{{moment dob format="YYYY-MM-DD"}}">{{moment personal-details.dob format="D MMM YYYY"}}</time> ({{personal-details.age}} years old){{/if}}
        <br>
        {{#if ../../sAddress1}}{{../../sAddress1}}{{else}}{{personal-details.address.address1}}{{/if}}{{#if ../../sAddress2}}, {{../../sAddress2}}{{else}}{{#if personal-details.address.address2}}, {{personal-details.address.address2}}{{/if}}{{/if}} {{#if ../../sTown}}{{../../sTown}}{{else}}{{personal-details.address.town}}{{/if}} {{#if ../../sPostcode}}{{uppercase ../../sPostcode}}{{else}}{{uppercase personal-details.address.postcode}}{{/if}}
      </p>

      <div class="tabs tabs-horizontal">

        <div class="tabs-header">
          <ul class="list">
            <li{{#is ../sActiveTab "Case details"}} class="is-active"{{/is}}><a href="#case-details">Case details</a></li>
            <li{{#is ../sActiveTab "Personal details"}} class="is-active"{{/is}}><a href="#personal-details">Personal details</a></li>
          </ul>
        </div>

        <div class="tabs-content">

          {{#with case-details}}
          <section id="case-details">

            <h2 class="heading-medium">Case details</h2>

            <dl class="meta meta-inline meta-boldterms">
              <dt>Case status</dt>
              <dd>{{{status}}}</dd>
              <dt>Prosecutor</dt>
              <dd>{{{prosecutor}}}</dd>
              <dt><abbr title="Single Justice Procedure">SJP</abbr> notice served</dt>
              <dd><time datetime="{{moment notice-served format="YYYY-MM-DD"}}">{{moment notice-served format="D MMMM YYYY"}}</time></dd>
            </dl>

          </section>
          {{/with}}

          {{#with personal-details}}
          <section id="personal-details">

            <h2 class="heading-medium">Personal details</h2>

            <dl class="meta meta-inline meta-boldterms">

              <dt>Name</dt>
              <dd>
                {{#and ../../sFirstname ../../sLastname}}
                  {{../../sFirstname}} <span class="text-uppercase">{{../../sLastname}}</span>
                {{else}}
                  {{firstname}} <span class="text-uppercase">{{lastname}}</span>
                {{/and}}
              </dd>

              <dt>Date of birth</dt>
              <dd>
                {{#if ../../sDob}}
                  <time datetime="{{moment ../../sDob format="YYYY-MM-DD"}}">{{moment ../../sDob format="D MMM YYYY"}}</time>
                {{else}}
                  <time datetime="{{moment dob format="YYYY-MM-DD"}}">{{moment dob format="D MMM YYYY"}}</time> ({{age}} years old)
                {{/if}}
              </dd>

              <dt>Address</dt>
              <dd>
                {{#if ../../sAddress1}}{{../../sAddress1}}<br>{{else}}{{address.address1}}<br>{{/if}}
                {{#if ../../sAddress2}}{{../../sAddress2}}<br>{{else}}{{#if address.address2}}{{address.address2}}<br>{{/if}}{{/if}}
                {{#if ../../sTown}}{{../../sTown}}<br>{{else}}{{address.town}}<br>{{/if}}
                {{#if ../../sPostcode}}{{uppercase ../../sPostcode}}{{else}}{{uppercase address.postcode}}{{/if}}
              </dd>

              <dt>Email</dt>
              <dd>
                {{#if ../../sEmail}}
                  {{../../sEmail}}
                {{else}}
                  {{#if email}}
                    {{email}}
                  {{else}}
                    &ndash;
                  {{/if}}
                {{/if}}
              </dd>

              <dt>Home telephone</dt>
              <dd>
                {{#if ../../sPhone}}
                  {{../../sPhone}}
                {{else}}
                  {{#if phone}}
                    {{phone}}
                  {{else}}
                    &ndash;
                  {{/if}}
                {{/if}}
              </dd>

              <dt>Mobile</dt>
              <dd>
                {{#if ../../sMobile}}
                  {{../../sMobile}}
                {{else}}
                  {{#if mobile}}
                    {{mobile}}
                  {{else}}
                    &ndash;
                  {{/if}}
                {{/if}}
              </dd>

            </dl>

          </section>
          {{/with}}

        </div>

      </div>

    </div>

    <div class="column-third">
      <div class="related">
        {{>legal-adviser/related-documents}}
      </div>
    </div>

  </div>

  <hr class="divider divider-border-dark" aria-hidden="true">

  <div aria-labelledby="offences">

    <h2 class="heading-large" id="offences">Offence 1</h2>

    {{#with offence}}
    <section aria-labelledby="offence">

      <div class="grid-row">

        <div class="column-two-thirds">

          <h3 class="bold-medium" id="offence">{{{title}}}</h3>
          <p class="font-xsmall js-text">{{{offence-wording}}}</p>

          <p><strong class="status-label">{{{plea}}}</strong></p>

        </div>

      </div>

      <div class="grid-row">

        <div class="column-two-thirds">

          {{#if statement-of-facts}}
            <h3 class="heading-small">Statement of facts</h3>
            <p class="text js-text">{{{statement-of-facts}}}</p>
          {{/if}}

          {{#if mitigation}}
            <h3 class="heading-small">Mitigation</h3>
            <p class="text js-text">{{{mitigation}}}</p>
          {{/if}}

        </div>

        <div class="column-third">

          <h3 class="heading-small" id="decision">Make a decision</h3>

          <form class="form" method="post">

            <fieldset>

              <legend class="visually-hidden">Make a decision</legend>

              <div class="form-group">

                <label class="block-label selection-button-radio">
                  <input type="radio" name="makeDecision" value="Financial penalty"{{#contains ../../sMakeDecision "Financial penalty"}} checked="checked"{{/contains}}> Financial penalty
                </label>

                <label class="block-label selection-button-radio">
                  <input type="radio" name="makeDecision" value="Withdraw"{{#contains ../../sMakeDecision "Withdraw"}} checked="checked"{{/contains}}> Withdraw
                </label>

                <label class="block-label selection-button-radio">
                  <input type="radio" name="makeDecision" value="Discharge"{{#contains ../../sMakeDecision "Discharge"}} checked="checked"{{/contains}}> Discharge
                </label>

                <label class="block-label selection-button-radio">
                  <input type="radio" name="makeDecision" value="Dismiss"{{#contains ../../sMakeDecision "Dismiss"}} checked="checked"{{/contains}}> Dismiss
                </label>

              </div>

              <div class="form-group form-group-related">
                <button class="button" type="submit">Save and continue</button>
              </div>

            </fieldset>

          </form>

        </div>

      </div>

    </section>
    {{/with}}

  </div>

{{/with}}
