{{>breadcrumb}}

{{#with search}}

  {{>legal-adviser/persist-info}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      {{#if ../sTotalToPay}}
      <div class="panel panel-border-wide" role="note" aria-label="Information">
        <p>Total to pay <br> <b class="bold-medium">&pound;{{../sTotalToPay}}</b></p>
      </div>
      {{/if}}

      <form class="form" method="post" novalidate>

        <h2 class="heading-medium">Select why you didn&rsquo;t deduct from benefits or attach to earnings</h2>

        <div class="form-group">

          <fieldset>

            <legend class="visually-hidden">Select why you didn&rsquo;t deduct from benefits or attach to earnings</legend>

            <div class="multiple-choice">
              <input id="reason-no-information" name="reasonForNotDeductFromBenefitsOrAttachToEarnings" type="radio" value="No information from the defendant"
              {{#if ../reasonForNotDeductFromBenefitsOrAttachToEarnings}}
                {{#contains ../reasonForNotDeductFromBenefitsOrAttachToEarnings "No information from the defendant"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reason-for-not-deducting-from-benefits "No information from the defendant"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="reason-no-information">No information from defendant</label>
            </div>

            <div class="multiple-choice" data-target="reason">
              <input id="reason-other-reason" name="reasonForNotDeductFromBenefitsOrAttachToEarnings" type="radio" value="Other reason"
              {{#if ../reasonForNotDeductFromBenefitsOrAttachToEarnings}}
                {{#contains ../reasonForNotDeductFromBenefitsOrAttachToEarnings "Other reason"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reason-for-not-deducting-from-benefits "Other reason"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="reason-other-reason">Other reason</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="reason">
              <label for="other-reason">
                <span class="form-label">Enter reason</span>
              </label>
              <textarea class="form-control form-control-3-4 form-control-textarea" id="other-reason" name="otherReason" rows="5" cols="60"></textarea>
            </div>

          </fieldset>

        </div>

        <h2 class="heading-medium">How should defendant pay the court?</h2>

        <div class="form-group form-group-last">

          <fieldset>

            <legend class="visually-hidden">How should defendant pay the court?</legend>

            <div class="multiple-choice">
              <input id="defendant-pay-14-days" name="defendantPay" type="radio" value="Lump sum within 14 days"
              {{#if ../sDefendantPay}}
                {{#contains ../sDefendantPay "Lump sum within 14 days"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.defendant-pay "Lump sum within 14 days"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="defendant-pay-14-days">Lump sum within 14 days</label>
            </div>

            <p class="form-block">or</p>

            <div class="multiple-choice">
              <input id="defendant-pay-28-days" name="defendantPay" type="radio" value="Lump sum within 28 days"
              {{#if ../sDefendantPay}}
                {{#contains ../sDefendantPay "Lump sum within 28 days"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.defendant-pay "Lump sum within 28 days"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="defendant-pay-28-days">Lump sum within 28 days</label>
            </div>

            <div class="multiple-choice" data-target="lump-sum-plus-instalments">
              <input id="defendant-pay-lump-sum" name="defendantPay" type="radio" value="Lump sum plus instalments"
              {{#if ../sDefendantPay}}
                {{#contains ../sDefendantPay "Lump sum plus instalments"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.defendant-pay "Lump sum plus instalments"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="defendant-pay-lump-sum">Lump sum plus instalments</label>
            </div>

            <div class="panel panel-border-narrow{{#isnt ../sDefendantPay "Lump sum plus instalments"}} js-hidden{{/isnt}}" id="lump-sum-plus-instalments">

              <div class="form-group">
                <label for="lump-sum-amount">
                  <span class="form-label">Lump sum amount</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" id="lump-sum-amount" name="lumpSumAmount" type="text"{{#if ../sLumpSumAmount}} value="{{../sLumpSumAmount}}"{{/if}}>
                </div>
              </div>

              <div class="form-group">
                <label for="lump-sum-instalment-amount">
                  <span class="form-label">Instalment amount</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" id="lump-sum-instalment-amount" name="lumpSumInstalmentAmount" type="text"{{#if ../sLumpSumInstalmentAmount}} value="{{../sLumpSumInstalmentAmount}}"{{/if}}>
                </div>
              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">How often should instalments be made?</span>
                  </legend>

                  <div class="multiple-choice">
                    <input id="lump-sum-weekly" name="lumpSumInstalmentMade" type="radio" value="Weekly"{{#contains ../sLumpSumInstalmentMade "Weekly"}} checked="checked"{{/contains}}>
                    <label for="lump-sum-weekly"><span class="visually-hidden">Lump sum instalments made </span>Weekly</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="lump-sum-fortnightly" name="lumpSumInstalmentMade" type="radio" value="Fortnightly"{{#contains ../sLumpSumInstalmentMade "Fortnightly"}} checked="checked"{{/contains}}>
                    <label for="lump-sum-fortnightly"><span class="visually-hidden">Lump sum instalments made </span>Fortnightly</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="lump-sum-monthly" name="lumpSumInstalmentMade" type="radio" value="Monthly"{{#contains ../sLumpSumInstalmentMade "Monthly"}} checked="checked"{{/contains}}>
                    <label for="lump-sum-monthly"><span class="visually-hidden">Lump sum instalments made </span>Monthly</label>
                  </div>

                </fieldset>

              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">Instalment start date</span>
                    <span class="form-hint">For example, 31 3 2017</span>
                  </legend>

                  <div class="form-date">

                    <div class="form-group form-group-day">
                      <label class="form-label" for="lump-sum-instalment-start-date-day">Day</label>
                      <input class="form-control" id="lump-sum-instalment-start-date-day" name="lumpSumInstalmentStartDateDay" type="text"{{#if ../sLumpSumInstalmentStartDateDay}} value="{{../sLumpSumInstalmentStartDateDay}}"{{/if}}>
                    </div>

                    <div class="form-group form-group-month">
                      <label class="form-label" for="lump-sum-instalment-start-date-month">Month</label>
                      <input class="form-control" id="lump-sum-instalment-start-date-month" name="lumpSumInstalmentStartDateMonth" type="text"{{#if ../sLumpSumInstalmentStartDateMonth}} value="{{../sLumpSumInstalmentStartDateMonth}}"{{/if}}>
                    </div>

                    <div class="form-group form-group-year">
                      <label class="form-label" for="lump-sum-instalment-start-date-year">Year</label>
                      <input class="form-control" id="lump-sum-instalment-start-date-year" name="lumpSumInstalmentStartDateYear" type="text"{{#if ../sLumpSumInstalmentStartDateYear}} value="{{../sLumpSumInstalmentStartDateYear}}"{{/if}}>
                    </div>

                  </div>

                </fieldset>

              </div>

            </div>

            <div class="multiple-choice" data-target="instalments-only">
              <input id="defendant-pay-instalments" name="defendantPay" type="radio" value="Instalments only"
              {{#if ../sDefendantPay}}
                {{#contains ../sDefendantPay "Instalments only"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.defendant-pay "Instalments only"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="defendant-pay-instalments">Instalments only</label>
            </div>

            <div class="panel panel-border-narrow{{#isnt ../sDefendantPay "Instalments only"}} js-hidden{{/isnt}}" id="instalments-only">

              <div class="form-group">
                <label for="instalment-only-amount">
                  <span class="form-label">Instalment amount</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" id="instalment-only-amount" name="instalmentOnlyAmount" type="text"{{#if ../sInstalmentOnlyAmount}} value="{{../sInstalmentOnlyAmount}}"{{/if}}>
                </div>
              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">How often should instalments be made?</span>
                  </legend>

                  <div class="multiple-choice">
                    <input id="instalments-only-weekly" name="instalmentOnlyMade" type="radio" value="Weekly"{{#contains ../sInstalmentOnlyMade "Weekly"}} checked="checked"{{/contains}}>
                    <label for="instalments-only-weekly"><span class="visually-hidden">Instalments only made </span>Weekly</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="instalments-only-fortnightly" name="instalmentOnlyMade" type="radio" value="Fortnightly"{{#contains ../sInstalmentOnlyMade "Fortnightly"}} checked="checked"{{/contains}}>
                    <label for="instalments-only-fortnightly"><span class="visually-hidden">Instalments only made </span>Fortnightly</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="instalments-only-monthly" name="instalmentOnlyMade" type="radio" value="Monthly"{{#contains ../sInstalmentOnlyMade "Monthly"}} checked="checked"{{/contains}}>
                    <label for="instalments-only-monthly"><span class="visually-hidden">Instalments only made </span>Monthly</label>
                  </div>

                </fieldset>

              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">Instalment start date</span>
                    <span class="form-hint">For example, 31 3 2017</span>
                  </legend>

                  <div class="form-date">

                    <div class="form-group form-group-day">
                      <label class="form-label" for="instalment-only-start-date-day">Day</label>
                      <input class="form-control" id="instalment-only-start-date-day" name="instalmentOnlyStartDateDay" type="text"{{#if ../sInstalmentOnlyStartDateDay}} value="{{../sInstalmentOnlyStartDateDay}}"{{/if}}>
                    </div>

                    <div class="form-group form-group-month">
                      <label class="form-label" for="instalment-only-start-date-month">Month</label>
                      <input class="form-control" id="instalment-only-start-date-month" name="instalmentOnlyStartDateMonth" type="text"{{#if ../sInstalmentOnlyStartDateMonth}} value="{{../sInstalmentOnlyStartDateMonth}}"{{/if}}>
                    </div>

                    <div class="form-group form-group-year">
                      <label class="form-label" for="instalment-only-start-date-year">Year</label>
                      <input class="form-control" id="instalment-only-start-date-year" name="instalmentOnlyStartDateYear" type="text"{{#if ../sInstalmentOnlyStartDateYear}} value="{{../sInstalmentOnlyStartDateYear}}"{{/if}}>
                    </div>

                  </div>

                </fieldset>

              </div>

            </div>

          </fieldset>

        </div>

        <div class="form-group form-group-related">
          <button class="button" type="submit">Save and continue</button>
        </div>

        <a href="{{../sBack}}">Back</a>

      </form>

    </div>

    <div class="column-third">
      <div class="related">
        {{>legal-adviser/related-documents}}
      </div>
    </div>

  </div>

{{/with}}
