{{>breadcrumb}}

{{#with search}}

  {{>legal-adviser/persist-info}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      {{#if offence.previous-convictions}}
        <div class="panel panel-border-wide" role="note" aria-label="Information">
          <p>Defendant has <b>{{offence.previous-convictions.convictions}}</b> previous convictions.</p>
        </div>
      {{/if}}

      <h2 class="heading-large">Offence 1</h2>

      <h3 class="bold-medium">{{{offence.title}}}</h3>
      <p class="font-xsmall js-text">{{{offence.offence-wording}}}</p>

      <form class="form" method="post" novalidate>

        <div aria-labelledby="fine-and-compensation">

          <h4 class="heading-medium" id="fine-and-compensation">Check fine and compensation</h4>

          {{#if offence.weekly-income}}
            <p>Defendant&rsquo;s weekly income: <b>&pound;{{offence.weekly-income}}</b>{{#if offence.weekly-income-assumed}} (assumed){{/if}}</p>
          {{/if}}

          <!--p><strong class="status-label">Discount applied for guilty plea</strong></p-->

          <div class="form-group">

            <fieldset class="inline">

              <legend>
                <span class="form-label">Fine band applied</span>
              </legend>

              <div class="multiple-choice" data-target="band-a">
                <input id="fine-band-applied-a" name="fineBandApplied" type="radio" value="Band A"{{#if ../sFineBandApplied}}{{#contains ../sFineBandApplied "Band A"}} checked="checked"{{/contains}}{{else}}{{#contains offence.fine-band-applied "Band A"}} checked="checked"{{/contains}}{{/if}}>
                <label for="fine-band-applied-a">Band A</label>
              </div>

              <div class="multiple-choice" data-target="band-b">
                <input id="fine-band-applied-b" name="fineBandApplied" type="radio" value="Band B"{{#if ../sFineBandApplied}}{{#contains ../sFineBandApplied "Band B"}} checked="checked"{{/contains}}{{else}}{{#contains offence.fine-band-applied "Band B"}} checked="checked"{{/contains}}{{/if}}>
                <label for="fine-band-applied-b">Band B</label>
              </div>

              <div class="multiple-choice" data-target="band-c">
                <input id="fine-band-applied-c" name="fineBandApplied" type="radio" value="Band C"{{#if ../sFineBandApplied}}{{#contains ../sFineBandApplied "Band C"}} checked="checked"{{/contains}}{{else}}{{#contains offence.fine-band-applied "Band C"}} checked="checked"{{/contains}}{{/if}}>
                <label for="fine-band-applied-c">Band C</label>
              </div>

            </fieldset>

            <div class="panel panel-border-narrow{{#if ../sFineBandApplied}}{{#isnt ../sFineBandApplied "Band A"}} js-hidden{{/isnt}}{{else}}{{#isnt offence.fine-band-applied "Band A"}} js-hidden{{/isnt}}{{/if}}" id="band-a">

              <div class="form-group form-group-related">
                <label for="fine-a">
                  <span class="form-label">Fine</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" id="fine-a" name="fineA" type="text" value="{{#if ../sFineA}}{{../sFineA}}{{else}}{{offence.fine}}{{/if}}">
                </div>
              </div>

              <p class="font-xsmall text-error js-hidden" id="fine-a-check">Check the amount you&rsquo;ve entered is correct. The recommended maximum fine for this offence is &pound;1000 but you can exceed this if you need to.</p>

              <div class="form-group">

                <label for="compensation-a">
                  <span class="form-label">Compensation</span>
                </label>

                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="compensation-a" name="compensationA" value="{{#if ../sCompensationA}}{{../sCompensationA}}{{else}}{{offence.compensation}}{{/if}}">
                </div>

                <div class="panel panel-border-narrow js-hidden" id="compensation-a-reason">

                  <fieldset>

                    <legend>
                      <span class="form-label">Reason for no compensation</span>
                    </legend>

                    <div class="multiple-choice">
                      <input id="reason-not-enough-a" name="reasonForNoCompensationA" type="radio" value="Not enough detail given by prosecutor">
                      <label for="reason-not-enough-a">Not enough detail given by prosecutor</label>
                    </div>

                    <div class="multiple-choice">
                      <input id="reason-limited-a" name="reasonForNoCompensationA" type="radio" value="Limited means of the defendant">
                      <label for="reason-limited-a">Limited means of the defendant</label>
                    </div>

                    <div class="multiple-choice">
                      <input id="reason-no-loss-a" name="reasonForNoCompensationA" type="radio" value="No loss or damage">
                      <label for="reason-no-loss-a">No loss or damage</label>
                    </div>

                    <div class="multiple-choice" data-target="no-compensation-other-a">
                      <input id="reason-other-a" name="reasonForNoCompensationA" type="radio" value="Other">
                      <label for="reason-other-a">Other</label>
                    </div>

                    <div class="panel panel-border-narrow js-hidden" id="no-compensation-other-a">
                      <label for="reason-for-no-compensation-other-a">
                        <span class="form-label">Reason</span>
                      </label>
                      <textarea class="form-control form-control-3-4 form-control-textarea" id="reason-for-no-compensation-other-a" name="reasonForNoCompensationOtherA" rows="2" cols="50"></textarea>
                    </div>

                  </fieldset>

                </div>

              </div>

            </div>

            <div class="panel panel-border-narrow{{#if ../sFineBandApplied}}{{#isnt ../sFineBandApplied "Band B"}} js-hidden{{/isnt}}{{else}}{{#isnt offence.fine-band-applied "Band B"}} js-hidden{{/isnt}}{{/if}}" id="band-b">

              <div class="form-group form-group-related">
                <label for="fine-b">
                  <span class="form-label">Fine</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="fine-b" name="fineB" value="{{#if ../sFineB}}{{../sFineB}}{{else}}440{{/if}}">
                </div>
              </div>

              <p class="font-xsmall text-error js-hidden" id="fine-b-check">Check the amount you&rsquo;ve entered is correct. The recommended maximum fine for this offence is &pound;1000 but you can exceed this if you need to.</p>

              <div class="form-group">

                <label for="compensation-b">
                  <span class="form-label">Compensation</span>
                </label>

                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="compensation-b" name="compensationB" value="{{#if ../sCompensationB}}{{../sCompensationB}}{{else}}3.12{{/if}}">
                </div>

                <div class="panel panel-border-narrow js-hidden" id="compensation-b-reason">

                  <fieldset>

                    <legend>
                      <span class="form-label">Reason for no compensation</span>
                    </legend>

                    <div class="multiple-choice">
                      <input id="reason-not-enough-b" name="reasonForNoCompensationB" type="radio" value="Not enough detail given by prosecutor">
                      <label for="reason-not-enough-b">Not enough detail given by prosecutor</label>
                    </div>

                    <div class="multiple-choice">
                      <input id="reason-limited-b" name="reasonForNoCompensationB" type="radio" value="Limited means of the defendant">
                      <label for="reason-limited-b">Limited means of the defendant</label>
                    </div>

                    <div class="multiple-choice">
                      <input id="reason-no-loss-b" name="reasonForNoCompensationB" type="radio" value="No loss or damage">
                      <label for="reason-no-loss-b">No loss or damage</label>
                    </div>

                    <div class="multiple-choice" data-target="no-compensation-other-b">
                      <input id="reason-other-b" name="reasonForNoCompensationB" type="radio" value="Other">
                      <label for="reason-other-b">Other</label>
                    </div>

                    <div class="panel panel-border-narrow js-hidden" id="no-compensation-other-b">
                      <label for="reason-for-no-compensation-other-b">
                        <span class="form-label">Reason</span>
                      </label>
                      <textarea class="form-control form-control-3-4 form-control-textarea" id="reason-for-no-compensation-other-b" name="reasonForNoCompensationOtherB" rows="2" cols="50"></textarea>
                    </div>

                </div>

              </div>

            </div>

            <div class="panel panel-border-narrow{{#if ../sFineBandApplied}}{{#isnt ../sFineBandApplied "Band C"}} js-hidden{{/isnt}}{{else}}{{#isnt offence.fine-band-applied "Band C"}} js-hidden{{/isnt}}{{/if}}" id="band-c">

              <div class="form-group form-group-related">
                <label for="fine-c">
                  <span class="form-label">Fine</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="fine-c" name="fineC" value="{{#if ../sFineC}}{{../sFineC}}{{else}}660{{/if}}">
                </div>
              </div>

              <p class="font-xsmall text-error js-hidden" id="fine-c-check">Check the amount you&rsquo;ve entered is correct. The recommended maximum fine for this offence is &pound;1000 but you can exceed this if you need to.</p>

              <div class="form-group">

                <label for="compensation-c">
                  <span class="form-label">Compensation</span>
                </label>

                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="compensation-c" name="compensationC" value="{{#if ../sCompensation}}{{../sCompensation}}{{else}}3.12{{/if}}">
                </div>

                <div class="panel panel-border-narrow js-hidden" id="compensation-c-reason">

                  <fieldset>

                    <legend>
                      <span class="form-label">Reason for no compensation</span>
                    </legend>

                    <div class="multiple-choice">
                      <input id="reason-not-enough-c" name="reasonForNoCompensationC" type="radio" value="Not enough detail given by prosecutor">
                      <label for="reason-not-enough-c">Not enough detail given by prosecutor</label>
                    </div>

                    <div class="multiple-choice">
                      <input id="reason-limited-c" name="reasonForNoCompensationC" type="radio" value="Limited means of the defendant">
                      <label for="reason-limited-c">Limited means of the defendant</label>
                    </div>

                    <div class="multiple-choice">
                      <input id="reason-no-loss-c" name="reasonForNoCompensationC" type="radio" value="No loss or damage">
                      <label for="reason-no-loss-c">No loss or damage</label>
                    </div>

                    <div class="multiple-choice" data-target="no-compensation-other-c">
                      <input id="reason-other-c" name="reasonForNoCompensationC" type="radio" value="Other">
                      <label for="reason-other-c">Other</label>
                    </div>

                    <div class="panel panel-border-narrow js-hidden" id="no-compensation-other-c">
                      <label for="reason-for-no-compensation-other-c">
                        <span class="form-label">Reason</span>
                      </label>
                      <textarea class="form-control form-control-3-4 form-control-textarea" id="reason-for-no-compensation-other-c" name="reasonForNoCompensationOtherC" rows="2" cols="50"></textarea>
                    </div>

                  </fieldset>

                </div>

              </div>

            </div>

          </div>

        </div>

        <hr aria-hidden="true">

        <div aria-labelledby="costs-and-surcharge">

          <h2 class="heading-large" id="costs-and-surcharge">Check costs and surcharge</h2>

          <div class="form-group">

            <label for="cost">
              <span class="form-label">Costs</span>
            </label>

            <div class="form-currency">
              <input class="form-control form-control-1-4" id="cost" name="cost" type="text" value="{{#if ../sCost}}{{../sCost}}{{else}}125{{/if}}">
            </div>

            <div class="panel panel-border-narrow js-hidden" id="costs-reason">
              <div class="form-group">
                <label for="reason-for-no-costs">
                  <span class="form-label">Reason for no costs</span>
                </label>
                <textarea class="form-control form-control-3-4 form-control-textarea" id="reason-for-no-costs" name="reasonForNoCosts" rows="2" cols="50"></textarea>
              </div>
            </div>

          </div>

          <div class="form-group">

            <label for="cost">
              <span class="form-label">Victim surcharge</span>
            </label>
            <div class="form-currency">
              <input class="form-control form-control-1-4" id="surcharge" name="surcharge" type="text" value="{{#if ../sSurcharge}}{{../sSurcharge}}{{else}}30{{/if}}">
            </div>

            <div class="panel panel-border-narrow js-hidden" id="surcharge-reason">
              <div class="form-group">
                <label for="reason-for-reducing-surcharge">
                  <span class="form-label">Reason for reducing surcharge</span>
                </label>
                <textarea class="form-control form-control-3-4 form-control-textarea" id="reason-for-reducing-surcharge" name="reasonForReducingSurcharge" rows="2" cols="50"></textarea>
              </div>
            </div>

          </div>

          <div class="form-group form-group-last">

            <div class="multiple-choice">
              <input id="collection-order" name="collectionOrderConfirmed" type="checkbox" {{#if ../sCollectionOrderConfirmed}}{{#contains ../sCollectionOrderConfirmed "true"}} checked="checked"{{/contains}}{{else}}{{#contains offence.collection-order-confirmed "true"}} checked="checked"{{/contains}}{{/if}}>
              <label for="collection-order">Confirm a collection order will be issued</label>
            </div>

            <div class="panel panel-border-narrow js-hidden">

              <div class="form-group">

                <fieldset class="inline">

                  <legend>
                    <span class="form-label">Are you sure you want to proceed without a collection order?</span>
                  </legend>

                  <div class="form-group">

                    <div class="multiple-choice">
                      <input id="collection-order-yes" name="collectionOrderAnswer" type="radio" value="Yes">
                      <label for="collection-order-yes">Yes</label>
                    </div>

                    <div class="multiple-choice">
                      <input id="collection-order-no" name="collectionOrderAnswer" type="radio" value="No">
                      <label for="collection-order-no">No</label>
                    </div>

                  </div>

                </fieldset>

              </div>

            </div>

          </div>

        </div>

        <div class="form-group form-group-related">
          <button class="button" type="submit">Save and continue</button>
        </div>

        <a href="/{{../baseurl}}/case-details/{{id}}">Back</a>

      </form>

    </div>

    <div class="column-third">
      <div class="related">
        {{>legal-adviser/related-documents}}
      </div>
    </div>

  </div>

{{/with}}
