  <div class="breadcrumbs">
    <ol>
      <li><a href="/case-tasks">Case tasks</a></li>
      <li><a href="/search-for-a-case/">Search for a case</a></li>
      <li>{{search.firstname}} {{search.lastname}}</li>
    </ol>
  </div>
  
  
  <div class="grid-row">
    
    
    <div class="column-two-thirds">
      
      
      <h1 class="heading-xlarge">{{search.firstname}} {{search.lastname}} <span class="heading-secondary">{{search.urn}}</span></h1>


      <section class="section" aria-labelledby="personal-details">

        <header class="section-header">
          <h2 class="bold-medium" id="personal-details">Personal details</h2>
        </header>
        
        <dl class="description description-inline">
          <dt>Gender</dt>
          <dd>{{search.gender}}</dd>
          <dt>Date of birth</dt>
          <dd>{{search.date-of-birth}} (age {{search.age}})</dd>
          <dt>Address</dt>
          <dd>{{search.address.address1}}, <br> {{search.address.town}}, <br> {{search.address.postcode}}</dd>
          <dt>Email</dt>
          <dd>{{#if search.email}}<a href="mailto:{{search.email}}">{{search.email}}</a>{{else}}-{{/if}}</dd>
          <dt>Phone</dt>
          <dd>{{#if search.phone}}{{search.phone}}{{else}}-{{/if}}</dd>
          <dt>National Insurance number</dt>
          <dd>{{#if search.national-insurance-number}}{{search.national-insurance-number}}{{else}}-{{/if}}</dd>
        </dl>
      
      </section>
      
      
      <hr>
      
      
      <section class="section" aria-labelledby="case-details">

        <header class="section-header">
          <h2 class="bold-medium" id="case-details">Case details</h2>
        </header>
        
        <dl class="description description-inline">
          <dt>Prosecutor</dt>
          <dd>{{search.case-details.prosecutor}}</dd>
          <dt>Charge date</dt>
          <dd>{{search.case-details.charge-date}}</dd>
          <dt>Notice served</dt>
          <dd>{{search.case-details.notice-served}}</dd>
          <dt>Documents</dt>
          <dd>
            <ul>
              {{#each search.related-documents.document}}
              <li class="file">
                <i class="icon icon-file-download"></i>
                <div class="file-details">
                  <a href="{{file-path}}">{{title}}</a> 
                  <span class="file-meta">{{file-type}}, {{file-size}}</span>
                </div>
              </li>
              {{/each}}
            </ul>
          </dd>
        </dl>
      
      </section>
      
      
      <hr>
      
        
      <section aria-labelledby="offences">
    
    
        <header>
          <h2 class="bold-medium" id="offences">2 offences</h2>
        </header>
        
        
        {{#each search.offences.offence}}
        <section class="section">
          
          <header>
            <h3 class="bold-small">{{id}}. {{{title}}}</h3>
            <p class="font-xsmall">On <time datetime="2016-02-01T00:00">{{date}}</time></p>
          </header>
          
          <p><strong class="tag">{{plea}}</strong></p>
          
          <div class="panel panel-border-narrow">
            <p class="font-xsmall"><strong class="bold-xsmall">Statement of facts</strong> <br> {{{statement-of-facts}}}</p>
          </div>
          
          <table class="table table-font-xsmall">
            <thead>
              <tr>
                <th colspan="2">Court decisions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Verdict</td>
                <td>Guilty plea accepted</td>
              </tr>
              <tr>
                <td>Fine</td>
                <td>&pound;100</td>
              </tr>
              <tr>
                <td>Compensation</td>
                <td>&pound;3.50</td>
              </tr>
              <tr>
                <td>Guilty plea <abbr title="Taken into Consideration">TIC</abbr></td>
                <td>Yes</td>
              </tr>
            </tbody>
          </table>
          
          <p><a href="/withdraw-offence/{{../search.id}}">Withdraw offence</a></p>
          
        </section>
        {{/each}}  
        
        
      </section>  
      
      
    </div>
    
    
    <div class="column-third">
      
      <div class="related">
    
        <div class="related-section">
          
          <h2 class="related-title">Tasks</h2>
          
          <ul class="list">
            <li><a href="/send-other-documents">Send documents to court</a></li>
            <li><a href="/withdraw-case/{{search.id}}">Withdraw case</a></li>
          </ul>
          
        </div>
      
      </div>
      
    </div>
    
    
  </div>