  {{>breadcrumb}}

  <div class="persist-info">
    <span class="persist-info-reference">{{search.urn}}</span>
    <span class="persist-info-title">{{search.firstname}} {{search.lastname}}</span>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Billy SMITH <span class="heading-secondary">21 years old</span></h1>

      <div class="tabs tabs-horizontal">

        <div class="tabs-header">

          <ul class="list">
            <li><a href="#case-details">Case details</a></li>
            <li><a href="#personal-details">Personal details</a></li>
            <li><a href="#employment-and-income">Employment and income</a></li>
          </ul>

        </div>

        <div class="tabs-content">

          <section id="case-details">

            <h2 class="heading-medium">Case details</h2>

            <dl class="meta meta-large">
              <dt>Case status</dt>
              <dd>Awaiting plea</dd>
              <dt>Prosecutor</dt>
              <dd>{{search.case-details.prosecutor}}</dd>
              <dt>Notice served</dt>
              <dd><time datetime="{{search.case-details.notice-served-datetime}}">{{search.case-details.notice-served}}</time></dd>
              <dt>Documents <br> <a href="#">Manage documents</a></dt>
              <dd>
                <div class="document document-small">
                  <i class="icon icon-file-download"></i>
                  <div class="document-content">
                    <p class="document-title"><a href="#">SJP notice</a></p>
                    <div class="document-meta">
                      <span class="document-meta-details">
                        PDF, 256KB, 3 pages
                      </span>
                    </div>
                  </div>
                </div>
                <div class="document document-small">
                  <i class="icon icon-file-download"></i>
                  <div class="document-content">
                    <p class="document-title"><a href="#">Previous convictions</a></p>
                    <div class="document-meta">
                      <span class="document-meta-details">
                        PDF, 458KB, 3 pages
                      </span>
                    </div>
                  </div>
                </div>
                <div class="document document-small">
                  <i class="icon icon-file-download"></i>
                  <div class="document-content">
                    <p class="document-title"><a href="#">Statement of income and outgoings (MC100)</a></p>
                    <div class="document-meta">
                      <span class="document-meta-details">
                        PDF, 514KB, 6 pages
                      </span>
                    </div>
                  </div>
                </div>
                <div class="document document-small">
                  <i class="icon icon-file-download"></i>
                  <div class="document-content">
                    <p class="document-title"><a href="#">Witness statement</a></p>
                    <div class="document-meta">
                      <span class="document-meta-details">
                        PDF, 256KB, 3 pages
                      </span>
                    </div>
                  </div>
                </div>
                <div class="document document-small">
                  <i class="icon icon-file-download"></i>
                  <div class="document-content">
                    <p class="document-title"><a href="#">Miscellaneous document</a></p>
                    <div class="document-meta">
                      <span class="document-meta-details">
                        PDF, 816KB, 17 pages
                      </span>
                    </div>
                  </div>
                </div>
                <div class="document document-small">
                  <i class="icon icon-file-download"></i>
                  <div class="document-content">
                    <p class="document-title"><a href="#">Plea document</a></p>
                    <div class="document-meta">
                      <span class="document-meta-details">
                        PDF, 376KB, 10 pages
                      </span>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>

          </section>

          <section id="personal-details">

            <h2 class="heading-medium">Personal details</h2>

            <dl class="meta meta-large">
              <dt>Date of birth</dt>
              <dd><time datetime="1985-06-08">8 June 1985</time> (age 21)</dd>
              <dt>Address</dt>
              <dd>14 Tottenham Court Road, Fitzrovia, <br> London W1T 1JY</dd>
              <dt>Email</dt>
              <dd><a href="#">Add email</a></dd>
              <dt>Home telephone</dt>
              <dd><a href="#">Add home telephone</a></dd>
              <dt>Mobile</dt>
              <dd><a href="#">Add mobile</a></dd>
              <dt>National Insurance number</dt>
              <dd><a href="#">Add National Insurance number</a></dd>
            </dl>

          </section>

          <section id="employment-and-income">

            <h2 class="heading-medium">Employment and income</h2>

            <!-- employed -->
            <dl class="meta meta-large">
              <dt>Employment status</dt>
              <dd>Employed</dd>
              <dt>Employer name and address</dt>
              <dd>Barclays Bank, <br> 1 High Street, <br> Croydon <br> CR5 2TP</dd>
              <dt>Employer telephone</dt>
              <dd>0208 576 3924</dd>
              <dt>Weekly income</dt>
              <dd><a href="#">Add weekly income</a></dd>
              <dt>Receiving benefits?</dt>
              <dd>No</dd>
            </dl>

            <hr>

            <!-- unemployed -->
            <dl class="meta meta-large">
              <dt>Employment status</dt>
              <dd>Unemployed <br> (since 15 July 2016)</dd>
              <dt>Receiving benefits?</dt>
              <dd>Yes</dd>
            </dl>

            <hr>

            <!-- unspecified -->
            <dl class="meta meta-large">
              <dt>Employment status</dt>
              <dd><a href="#">Add employment status</a></dd>
              <dt>Receiving benefits?</dt>
              <dd>No</dd>
            </dl>

          </section>

        </div>

      </div>

    </div>

    <div class="column-third">

      <div class="related">

        <div class="related-section">

          <h3 class="related-heading">Case options</h3>

          <ul class="related-links">
            <li><a href="#">View defendant request to change details</a></li>
            <li><a href="#">Send case back to Libra</a></li>
          </ul>

        </div>

      </div>

    </div>

  </div>

  <hr>

  <section aria-labelledby="offences">

    <h2 class="heading-large" id="offences">Offence</h2>

    <section>

      <h3 class="heading-medium">Passenger used ticket issued for another person</h3>

      <p class="font-xsmall">On <time datetime="01-02-2016">1 February 2016</time></p>

      <p><strong class="tag">Pleaded guilty &ndash; under SJP</strong></p>
      <!--p><strong class="tag">Pleaded guilty &ndash; court hearing requested</strong></p-->

      <div class="tabs tabs-horizontal">

        <div class="tabs-header">

          <ul class="list">
            <li><a href="#offence1-details">Details</a></li>
            <li><a href="#offence1-change-plea">Add or change plea</a></li>
            <li><a href="#offence1-decision">Decision</a></li>
          </ul>

        </div>

        <div class="tabs-content">

          <section id="offence1-details">

            <div class="grid-row">

              <div class="column-two-thirds">

                <h3 class="heading-medium">Statement of facts</h3>

                <p>I, Inspector Morse, was suspicious as the defendant kept moving seats away from me. When asked for a ticket he replied &ldquo;I don&rsquo;t have one as I am not really on this train, you&rsquo;re seeing an illusion&rdquo;. I had no choice but to issue him with a ticket&hellip; <a class="link link-more" href="#">More</a></p>

              </div>

            </div>

          </section>

          <section id="offence1-change-plea">

            <h3 class="heading-medium">Select defendant&rsquo;s plea</h3>

            <form class="form">

              <fieldset>

                <legend class="visually-hidden">Make a decision</legend>

                <div class="form-group">

                  <label class="block-label" for="guilty-no-court">
                    <input id="guilty-no-court" type="radio" name="make-a-decision">
                    Guilty &ndash; I don't want to come to court
                  </label>

                  <label class="block-label" for="guilty-court">
                    <input id="guilty-court" type="radio" name="make-a-decision">
                    Guilty &ndash; I want to come to court
                  </label>

                  <label class="block-label" for="not-guilty">
                    <input id="not-guilty" type="radio" name="make-a-decision">
                    Not guilty &ndash; send me the date of my trial
                  </label>

                </div>

                <button class="button" type="submit">Save</buton>

              </fieldset>

            </form>

          </section>

          <section id="offence1-decision">


            <h3 class="heading-medium">Court decision</h3>

            <table class="table table-summary table-font-xsmall">
              <tbody>
                <tr>
                  <td>Verdict</td>
                  <td>Guilty plea accepted</td>
                </tr>
                <tr>
                  <td>Fine</td>
                  <td>&pound;100</td>
                </tr>
                <tr>
                  <td>Compensation</td>
                  <td>&pound;3.50</td>
                </tr>
                <tr>
                  <td>Costs</td>
                  <td>&pound;30</td>
                </tr>
                <tr>
                  <td>Victim surcharge</td>
                  <td>&pound;10</td>
                </tr>
                <tr>
                  <td>Guilty plea taken into account?</td>
                  <td>Yes</td>
                </tr>
              </tbody>
            </table>

          </section>

        </div>

      </div>

    </section>

  </section>
