  <div class="breadcrumbs">
    <ol>
      <li><a href="/case-tasks">Case tasks</a></li>
      <li><a href="/search-for-a-case/">Search for a case</a></li>
      <li>{{search.firstname}} {{search.lastname}}</li>
    </ol>
  </div>
  
  
  <div class="grid-row">
    
    <div class="column-two-thirds">
      
      <h1 class="heading-xlarge">{{search.firstname}} {{search.lastname}} <span class="heading-secondary">{{search.urn}}</span></h1>
      
      <section aria-labelledby="case-details">

        <h2 class="bold-medium" id="case-details">Case details</h2>
        
        <dl class="description description-inline description-tint">
          <dt>Case status</dt>
          <dd>{{{search.case-details.status}}}</dd>
          <dt>Prosecutor</dt>
          <dd>{{search.case-details.prosecutor}}</dd>
          <dt>Charge date</dt>
          <dd><time datetime="{{search.case-details.charge-date-datetime}}">{{search.case-details.charge-date}}</time></dd>
          <dt>Notice served</dt>
          <dd><time datetime="{{search.case-details.notice-served-datetime}}">{{search.case-details.notice-served}}</time></dd>
          <dt>Documents</dt>
          <dd>
            <ul class="list list-inline">
              {{#each search.related-documents.document}}
              <li class="file">
                <i class="icon icon-file-download"></i>
                <div class="file-details">
                  <a href="{{file-path}}">{{title}}</a> 
                  <span class="file-meta">{{file-type}}, {{file-size}}</span>
                </div>
              </li>
              {{/each}}
            </ul>
          </dd>
        </dl>
      
      </section>
      
    </div>
    
    <div class="column-third">
      
      <div class="related">
    
        <div class="related-section">
          
          <h2 class="related-title">Personal details</h2>
          
          <dl class="description description-tint description-small">
            <dt>Date of birth</dt>
            <dd>{{search.date-of-birth}} (age {{search.age}})</dd>
            <dt>Address</dt>
            <dd>{{search.address.address1}}, {{search.address.town}}, <br> {{search.address.postcode}}</dd>
            <dt>Contact</dt>
            <dd>{{#if search.email}}<a href="mailto:{{search.email}}">{{search.email}}</a>{{else}}-{{/if}}</dd>
            <dd>{{#if search.phone}}{{search.phone}}{{else}}-{{/if}}</dd>
            <dt>National Insurance number</dt>
            <dd>{{#if search.national-insurance-number}}{{search.national-insurance-number}}{{else}}-{{/if}}</dd>
          </dl>

        </div>
        
        <div class="related-section">
          
          <h2 class="related-title">Related tasks</h2>
          
          <ul class="list">
            <li><a href="/send-other-documents">Send documents to court</a></li>
            <li><a href="/withdraw-case/{{search.id}}">Withdraw case</a></li>
          </ul>

        </div>
      
      </div>
      
    </div>
    
  </div>
  
  
  <hr>
  
  
  <section aria-labelledby="offences">
    
    <h2 class="bold-large" id="offences">2 offences</h2>
  
    {{#each search.offences.offence}}
    <div class="grid-row">
      
      <div class="column-two-thirds">
        
        <section>
          
          <header>
            <h3 class="heading-small">{{id}}. {{{title}}}</h3>
            <p class="font-xsmall">On <time datetime="{{datetime}}">{{date}}</time></p>
          </header>
          
          <p><strong class="tag">{{plea}}</strong></p>
          
          <div class="panel panel-border-narrow">
            <p class="font-xsmall"><strong class="bold-xsmall">Statement of facts</strong> <br> {{{statement-of-facts}}}</p>
          </div>
          
          {{#if ../search.decision-made}}<table class="table table-font-xsmall">
            <thead>
              <tr>
                <th colspan="2">Court decisions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Verdict</td>
                <td>Guilty plea accepted</td>
              </tr>
              <tr>
                <td>Fine</td>
                <td>&pound;100</td>
              </tr>
              <tr>
                <td>Compensation</td>
                <td>&pound;3.50</td>
              </tr>
              <tr>
                <td>Guilty plea <abbr title="Taken into Consideration">TIC</abbr></td>
                <td>Yes</td>
              </tr>
            </tbody>
          </table>{{/if}}
          
          <p><a href="/withdraw-offence/{{../search.id}}">Withdraw offence</a></p>
          
        </section>
        
      </div>
      
      {{#if ../search.decision-ready}}<div class="column-third">
        
        <aside>
          
          <h3 class="heading-small">Make a decision</h3>
          
          <form class="form">
            
            <fieldset>
  
              <legend class="visually-hidden">Make a decision</legend>
          
              <div class="form-group">
          
                <label class="block-label" for="financial-penalty-{{id}}">
                  <input id="financial-penalty-{{id}}" type="radio" name="make-a-decision-{{id}}">
                  Financial penalty
                </label>
          
                <label class="block-label" for="no-seperate-penalty-{{id}}">
                  <input id="no-seperate-penalty-{{id}}" type="radio" name="make-a-decision-{{id}}">
                  No seperate penalty
                </label>
          
                <label class="block-label" for="refer-for-court-hearing-{{id}}">
                  <input id="refer-for-court-hearing-{{id}}" type="radio" name="make-a-decision-{{id}}">
                  Refer for court hearing
                </label>
                
                <label class="block-label" for="widthdraw-{{id}}">
                  <input id="widthdraw-{{id}}" type="radio" name="make-a-decision-{{id}}">
                  Withdraw
                </label>
                
                <label class="block-label" for="discharge-{{id}}">
                  <input id="discharge-{{id}}" type="radio" name="make-a-decision-{{id}}">
                  Discharge
                </label>
                
                <label class="block-label" for="dismiss-{{id}}">
                  <input id="dismiss-{{id}}" type="radio" name="make-a-decision-{{id}}">
                  Dismiss
                </label>
          
              </div>
          
            </fieldset>
            
          </form>
        
        </aside>
        
      </div>{{/if}}
      
    </div>
    {{/each}} 
  
  </section>
  
  
  {{#if search.decision-ready}}<p><a class="button" href="#" role="button">Save and continue</a></p>{{/if}}