  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Case tasks</a></li>
      <li><a href="/search-for-a-case/">Search for a case</a></li>
      <li>{{search.firstname}} {{search.lastname}}</li>
    </ol>
  </div>
  
  
  <div class="grid-row">
    
    
    <div class="column-two-thirds">
      
      
      <h1 class="heading-xlarge">{{search.firstname}} {{search.lastname}} <span class="heading-secondary">{{search.urn}}</span></h1>


      <section aria-labelledby="personal-details">

        <h2 class="bold-medium" id="personal-details">Personal details</h2>
        
        <dl class="summary">
          <dt class="summary-heading">Gender</dt>
          <dd class="summary-content">{{search.gender}}</dd>
          <dt class="summary-heading">Date of birth</dt>
          <dd class="summary-content">12 Jan 2016 (age {{search.age}})</dd>
          <dt class="summary-heading">Address</dt>
          <dd class="summary-content">{{search.address.address1}}, <br> {{search.address.town}}, <br> {{search.address.postcode}}</dd>
          <dt class="summary-heading">Email</dt>
          <dd class="summary-content">{{#if search.email}}{{search.email}}{{else}}-{{/if}}</dd>
          <dt class="summary-heading">Phone</dt>
          <dd class="summary-content">{{#if search.phone}}{{search.phone}}{{else}}-{{/if}}</dd>
          <dt class="summary-heading">National Insurance number</dt>
          <dd class="summary-content">{{#if search.national-insurance-number}}{{search.national-insurance-number}}{{else}}-{{/if}}</dd>
        </dl>
      
      </section>
      
      
      <hr>
      

      <section aria-labelledby="case-details">

        <h2 class="bold-medium" id="case-details">Case details</h2>
        
        <dl class="summary">
          <dt class="summary-heading">Prosecutor</dt>
          <dd class="summary-content">Transport for London</dd>
          <dt class="summary-heading">Charge date</dt>
          <dd class="summary-content">21 January 2016</dd>
          <dt class="summary-heading">Notice served</dt>
          <dd class="summary-content">2 February 2016</dd>
          <dt class="summary-heading">Documents</dt>
          <dd class="summary-content">
            
            <ul class="list list-file-downloads">
              
              {{#each search.related-documents.document}}
              <li class="file-download">
                
                <i class="icon icon-file-download"></i>
                
                <div class="file-download-content">
                  <a href="{{file-path}}">{{title}}</a> 
                  <span class="file-download-meta">{{file-type}}, {{file-size}}</span>
                </div>
                
              </li>
              {{/each}}
              
            </ul>
          
          </dd>
          
        </dl>
      
      </section>
      
      
      <hr>
      
      
      <section aria-labelledby="offences">
        
          
        <h2 class="bold-medium" id="offences">2 offences</h2>
        
        
        {{#each search.offences.offence}}
        <section>
          
          <h3 class="heading-small">{{{title}}}</h3>
          
          <p class="font-xsmall">On {{date}}</p>
          
          <div class="panel panel-border-narrow">
              
            <h4 class="bold-xsmall">Statement of facts</h4>
            <p class="font-xsmall">{{{statement-of-facts}}}</p>
        
          </div>
          
          <p><a href="/withdraw-offence/{{../search.id}}">Withdraw offence</a></p>
          
        </section>
        {{/each}}
  
        
      </section>
      
      
    </div>
    
    
    <div class="column-third">
      
      <div class="related">
    
        <div class="related-section">
          <h2 class="related-title">Tasks</h2>
          <ul class="related-links">
            <li><a href="/send-other-documents">Send documents to court</a></li>
            <li><a href="/withdraw-case/{{search.id}}">Withdraw case</a></li>
          </ul>
        </div>
      
      </div>
      
    </div>
    
    
  </div>