  <div class="breadcrumbs">
    <ol>
      <li><a href="/case-tasks">Case tasks</a></li>
      <li>Check uploads</li>
    </ol>
  </div>
  
  
  <h1 class="heading-xlarge">Check uploads</h1>
  
  
  <h3 class="heading-medium">20 files found</h3>
  
  <table class="table table-font-xsmall">
    <caption class="visuallyhidden">Data file uploads</caption>
    <thead>
      <tr>
        <th scope="col">Uploaded</th>
        <th scope="col">By</th>
        <th scope="col">File name</th>
        <th scope="col" colspan="2">Status</th>
      </tr>
    </thead>
    <tbody>
    {{#each searches}}
      <tr>
        <td>{{file.uploaded}}</td>
        <td>{{lastname}} {{firstname}}</td>
        <td>{{file.filename}}</td>
        <td>{{{file.status}}}</td>
        <td>{{#if file.url}}<a href="#">Download</a>{{else}}&ndash;{{/if}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  
  
  <div class="pager">
      
    <div class="pager-controls">
      
      <ul class="pager-items">
        <li>1</li>
        <li><a href="#">2</a></li>
      </ul>
      
      <a class="pager-next" href="#">Next</a>
      
    </div>
    
    <div class="pager-summary">Showing 1 &dash; 10 of 20 results</div>
    
  </div>