  <div class="breadcrumbs">
    <ol>
      <li><a href="/case-tasks">Case tasks</a></li>
      <li>Export case results by date</li>
    </ol>
  </div>
  
  
  <h1 class="heading-xlarge">Export case results by date</h1>
  
  
  <form class="form">
    
    
    <div class="form-group">
    
      <fieldset>
        <legend>
          <span class="form-label-bold">From</span>
          <span class="form-hint" id="from-hint">For example, 13 6 2016</span>
        </legend>
        <div class="form-date">
          <div class="form-group form-group-day">
            <label class="form-label" for="from-day">Day</label>
            <input class="form-control" id="from-day" name="from-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="from-hint">
          </div>
          <div class="form-group form-group-month">
            <label class="form-label" for="from-month">Month</label>
            <input class="form-control" id="from-month" name="from-month" type="number" pattern="[0-9]*" min="0" max="12">
          </div>
          <div class="form-group form-group-year">
            <label class="form-label" for="from-year">Year</label>
            <input class="form-control" id="from-year" name="from-year" type="number" pattern="[0-9]*" min="0" max="2016">
          </div>
        </div>
      </fieldset>
    
    </div>
    
    
    <div class="form-group">
    
      <fieldset>
        <legend>
          <span class="form-label-bold">To</span>
          <span class="form-hint" id="to-hint">For example, 13 7 2016</span>
        </legend>
        <div class="form-date">
          <div class="form-group form-group-day">
            <label class="form-label" for="to-day">Day</label>
            <input class="form-control" id="to-day" name="to-day" type="text" pattern="[0-9]*" min="0" max="31" aria-describedby="to-hint">
          </div>
          <div class="form-group form-group-month">
            <label class="form-label" for="to-month">Month</label>
            <input class="form-control" id="to-month" name="to-month" type="text" pattern="[0-9]*" min="0" max="12">
          </div>
          <div class="form-group form-group-year">
            <label class="form-label" for="to-year">Year</label>
            <input class="form-control" id="to-year" name="to-year" type="text" pattern="[0-9]*" min="0" max="2016">
          </div>
        </div>
      </fieldset>
    
    </div>
    
    
    <button class="button" type="submit">Search</button>
    
  
  </form>
  
  
  <h3 class="heading-medium">20 case results found</h3>
  
  
  <!--table class="table table-font-xsmall table-valign-top">
    <caption class="visuallyhidden">Court results</caption>
    <thead>
      <th scope="col">Name</th>
      <th scope="col">URN</th>
      <th scope="col">Notice served</th>
      <th scope="col">Hearing</th>
      <th scope="col">Verdict</th>
      <th scope="col">Decision</th>
      <th scope="col">Cost</th>
      <th scope="col">Compensation</th>
    </thead>
    <tbody>
      {{#each searches}}
      <tr>
        <th scope="row"><a href="case-details/{{id}}">{{lastname}} {{firstname}}</a></th>
        <td>{{urn}}</td>
        <td>{{notice-served}}</td>
        <td>{{#if hearing}}{{hearing}}{{else}}n/a{{/if}}</td>
        <td>{{verdict}}</td>
        <td>{{decision}}</td>
        <td>{{#if cost}}&pound;{{cost}}{{else}}n/a{{/if}}</td>
        <td>{{#if compensation}}&pound;{{compensation}}{{else}}n/a{{/if}}</td>
      </tr>
      {{/each}}
    </tbody>   
  </table>
  
  <div class="pager">
      
    <div class="pager-controls">
      
      <ul class="pager-items">
        <li>1</li>
        <li><a href="#">2</a></li>
      </ul>
      
      <a class="pager-next" href="#">Next</a>
      
    </div>
    
    <div class="pager-summary">Showing 1 &ndash; 10 of 20 results</div>
    
  </div-->
  
  
  <p><a class="button button-secondary" href="#" role="button">Download results in CSV file</a></p>