  {{>breadcrumb}}
  
    
  <h1 class="heading-xlarge">{{pagetitle}}</h1>
  
  
  <form class="form">

    <div class="form-group form-group-related">   
      <label class="form-label" for="case-number">Case number or defendant&rsquo;s last name</label>
      <input class="form-control" id="case-number" type="text" value="Smith">
    </div>
    
    <button class="button" type="submit">Search</button>
    
  </form>
  
  
  <h3 class="heading-medium">40 cases found</h3>
  
  <table class="table table-font-xsmall">
    <caption class="visuallyhidden">Defendant cases</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Reference number</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Case status</th>
        <th scope="col">Notice served</th>
      </tr>
    </thead>
    <tbody>
    {{#each searches}}
      <tr>
        <th scope="row"><a href="/case-details/{{id}}">{{lastname}} {{firstname}}</a></th>
        <td>{{urn}}</td>
        <td>{{date-of-birth}}</td>
        <td>{{{case-details.status}}}</td>
        <td>{{notice-served}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  
  
  <div class="pagination">
    
    <div class="pagination-prev">
      <a href="#" rel="prev" title="Navigate to previous part">
        <span class="pagination-label">Previous</span>
      </a>
    </div>
    
    <ul class="pagination-numbers">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
    </ul>
    
    <div class="pagination-next">
      <a href="#" rel="next" title="Navigate to next part">
        <span class="pagination-label">Next</span>
      </a>
    </div>
    
  </div>