  <div class="breadcrumbs">
    <ol>
      <li><a href="/case-tasks">Case tasks</a></li>
      <li>Search for a case</li>
    </ol>
  </div>
    
    
  <h1 class="heading-xlarge">Search for a case</h1>
  
  
  <form class="form">

    <div class="form-group form-group-related">   
      <label class="form-label" for="case-number">Case number or defendant&rsquo;s last name</label>
      <input class="form-control" id="case-number" type="text" value="Smith">
    </div>
    
    <button class="button" type="submit">Search</button>
    
  </form>
  
  
  <h3 class="heading-medium">20 cases found</h3>
  
  <table class="table table-font-xsmall">
    <caption class="visuallyhidden">Defendant cases</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">URN</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Status</th>
        <th scope="col">Notice served</th>
      </tr>
    </thead>
    <tbody>
    {{#each searches}}
      <tr>
        <th scope="row"><a href="/case-details/{{id}}">{{lastname}} {{firstname}}</a></th>
        <td>{{urn}}</td>
        <td>{{date-of-birth}}</td>
        <td>{{verdict}}</td>
        <td>{{notice-served}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  
  
  <div class="pager">
      
    <div class="pager-controls">
      
      <ul class="pager-items">
        <li>1</li>
        <li><a href="#">2</a></li>
      </ul>
      
      <a class="pager-next" href="#">Next</a>
      
    </div>
    
    <div class="pager-summary">Showing 1 &ndash; 10 of 20 results</div>
    
  </div>