{{>breadcrumb}}

{{#with search}}

  {{>legal-adviser/persist-info}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      {{#if ../sTotalToPay}}
      <div class="panel panel-border-wide" role="note" aria-label="Information">
        <p>Total to pay <br> <b class="bold-medium">&pound;{{../sTotalToPay}}</b></p>
      </div>
      {{/if}}

      <form class="form" method="post" novalidate>

        <h2 class="heading-medium">Employer details</h2>

        <div class="form-group">
          <label for="employee-number">
            <span class="form-label">Employee number (optional)</span>
          </label>
          <input class="form-control" id="employee-number" name="employeeNumber" type="text" value="{{uppercase employment.employee-number}}">
        </div>

        <div class="form-group">
          <label for="employer-name">
            <span class="form-label">Employer name</span>
          </label>
          <input class="form-control" id="employer-name" name="employerName" type="text" value="{{employment.employer-name}}">
        </div>

        <div class="form-group form-group-compound">
          <label for="employer-address1">
            <span class="form-label">Street</span>
          </label>
          <input class="form-control" id="employer-address1" name="employerAddress1" type="text" value="{{employment.employer-address.address1}}">
        </div>

        <div class="form-group">
          <label class="visually-hidden" for="employer-address2">
            <span class="form-label">Street</span>
          </label>
          <input class="form-control" id="employer-address2" name="employerAddress2" type="text" value="{{employment.employer-address.address2}}">
        </div>

        <div class="form-group">
          <label for="employer-town">
            <span class="form-label">Town or City</span>
          </label>
          <input class="form-control form-control-1-4" id="employer-town" name="employerTown" type="text" value="{{employment.employer-address.town}}">
        </div>

        <div class="form-group">
          <label for="employer-postcode">
            <span class="form-label">Postcode</span>
          </label>
          <input class="form-control form-control-1-4" id="employer-postcode" name="employerPostcode" type="text" value="{{uppercase employment.employer-address.postcode}}">
        </div>

        <h2 class="heading-medium">Reason for attaching to earnings</h2>

        <div class="form-group">

          <fieldset>

            <legend class="visually-hidden">Reason for attaching to earnings</legend>

            <div class="multiple-choice">
              <input id="compensation-ordered" name="reasonForAttachingToEarnings" type="radio" value="Compensation ordered" checked="checked">
              <label for="compensation-ordered">Compensation ordered</label>
            </div>

            <p class="form-block">or</p>

            <div class="multiple-choice">
              <input id="known-defaulter" name="reasonForAttachingToEarnings" type="radio" value="Defendant is a know defaulter">
              <label for="known-defaulter">Defendant is a known defaulter</label>
            </div>

            <div class="multiple-choice">
              <input id="defendant-requested" name="reasonForAttachingToEarnings" type="radio" value="Defendant requested this">
              <label for="defendant-requested">Defendant requested this</label>
            </div>

          </fieldset>

        </div>

        <h2 class="heading-medium">Set reserve terms</h2>

        <div class="form-group form-group-last">

          <fieldset>

            <legend class="visually-hidden">Set reserve terms</legend>

            <div class="multiple-choice">
              <input id="reserve-terms-pay-14-days" name="reserveTerms" type="radio" value="Lump sum within 14 days"
              {{#if ../sReserveTerms}}
                {{#contains ../sReserveTerms "Lump sum within 14 days"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reserve-terms "Lump sum within 14 days"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="reserve-terms-pay-14-days">Lump sum within 14 days</label>
            </div>

            <p class="form-block">or</p>

            <div class="multiple-choice">
              <input id="reserve-terms-pay-28-days" name="reserveTerms" type="radio" value="Lump sum within 28 days"
              {{#if ../sReserveTerms}}
                {{#contains ../sReserveTerms "Lump sum within 28 days"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reserve-terms "Lump sum within 28 days"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="reserve-terms-pay-28-days">Lump sum within 28 days</label>
            </div>

            <div class="multiple-choice" data-target="lump-sum-plus-instalments">
              <input id="reserve-terms-lump-sum" name="reserveTerms" type="radio" value="Lump sum plus instalments"
              {{#if ../sReserveTerms}}
                {{#contains ../sReserveTerms "Lump sum plus instalments"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reserve-terms "Lump sum plus instalments"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="reserve-terms-lump-sum">Lump sum plus instalments</label>
            </div>

            <div class="panel panel-border-narrow{{#isnt ../sReserveTerms "Lump sum plus instalments"}} js-hidden{{/isnt}}" id="lump-sum-plus-instalments">

              <div class="form-group">
                <label for="lump-sum-amount">
                  <span class="form-label">Lump sum amount</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" id="lump-sum-amount" name="lumpSumAmount" type="text"{{#if ../sLumpSumAmount}} value="{{../sLumpSumAmount}}"{{/if}}>
                </div>
              </div>

              <div class="form-group">
                <label for="lump-sum-instalment-amount">
                  <span class="form-label">Instalment amount</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" id="lump-sum-instalment-amount" name="lumpSumInstalmentAmount" type="text"{{#if ../sLumpSumInstalmentAmount}} value="{{../sLumpSumInstalmentAmount}}"{{/if}}>
                </div>
              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">How often should instalments be made?</span>
                  </legend>

                  <div class="multiple-choice">
                    <input id="lump-sum-weekly" name="lumpSumInstalmentMade" type="radio" value="Weekly"{{#contains ../sLumpSumInstalmentMade "Weekly"}} checked="checked"{{/contains}}>
                    <label for="lump-sum-weekly"><span class="visually-hidden">Lump sum instalments made </span>Weekly</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="lump-sum-fortnightly" name="lumpSumInstalmentMade" type="radio" value="Fortnightly"{{#contains ../sLumpSumInstalmentMade "Fortnightly"}} checked="checked"{{/contains}}>
                    <label for="lump-sum-fortnightly"><span class="visually-hidden">Lump sum instalments made </span>Fortnightly</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="lump-sum-monthly" name="lumpSumInstalmentMade" type="radio" value="Monthly"{{#contains ../sLumpSumInstalmentMade "Monthly"}} checked="checked"{{/contains}}>
                    <label for="lump-sum-monthly"><span class="visually-hidden">Lump sum instalments made </span>Monthly</label>
                  </div>

                </fieldset>

              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">Instalment start date</span>
                    <span class="form-hint" id="lump-sum-instalment-start-date-hint">For example, 31 3 2017</span>
                  </legend>

                  <div class="form-date">

                    <div class="form-group form-group-day">
                      <label class="form-label" for="lump-sum-instalment-start-date-day">Day</label>
                      <input class="form-control" id="lump-sum-instalment-start-date-day" name="lumpSumInstalmentStartDateDay" type="number"{{#if ../sLumpSumInstalmentStartDateDay}} value="{{../sLumpSumInstalmentStartDateDay}}"{{/if}} aria-describedby="lump-sum-instalment-start-date-hint">
                    </div>

                    <div class="form-group form-group-month">
                      <label class="form-label" for="lump-sum-instalment-start-date-month">Month</label>
                      <input class="form-control" id="lump-sum-instalment-start-date-month" name="lumpSumInstalmentStartDateMonth" type="number"{{#if ../sLumpSumInstalmentStartDateMonth}} value="{{../sLumpSumInstalmentStartDateMonth}}"{{/if}}>
                    </div>

                    <div class="form-group form-group-year">
                      <label class="form-label" for="lump-sum-instalment-start-date-year">Year</label>
                      <input class="form-control" id="lump-sum-instalment-start-date-year" name="lumpSumInstalmentStartDateYear" type="number"{{#if ../sLumpSumInstalmentStartDateYear}} value="{{../sLumpSumInstalmentStartDateYear}}"{{/if}}>
                    </div>

                  </div>

                </fieldset>

              </div>

            </div>

            <div class="multiple-choice" data-target="instalments-only">
              <input id="reserve-terms-instalments" name="reserveTerms" type="radio" value="Instalments only"
              {{#if ../sReserveTerms}}
                {{#contains ../sReserveTerms "Instalments only"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reserve-terms "Instalments only"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="reserve-terms-instalments">Instalments only</label>
            </div>

            <div class="panel panel-border-narrow{{#isnt ../sReserveTerms "Instalments only"}} js-hidden{{/isnt}}" id="instalments-only">

              <div class="form-group">
                <label for="instalment-only-amount">
                  <span class="form-label">Instalment amount</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" id="instalment-only-amount" name="instalmentOnlyAmount" type="text"{{#if ../sInstalmentOnlyAmount}} value="{{../sInstalmentOnlyAmount}}"{{/if}}>
                </div>
              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">How often should instalments be made?</span>
                  </legend>

                  <div class="multiple-choice">
                    <input id="instalments-only-weekly" name="instalmentOnlyMade" type="radio" value="Weekly"{{#contains ../sInstalmentOnlyMade "Weekly"}} checked="checked"{{/contains}}>
                    <label for="instalments-only-weekly"><span class="visually-hidden">Instalments only made </span>Weekly</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="instalments-only-fortnightly" name="instalmentOnlyMade" type="radio" value="Fortnightly"{{#contains ../sInstalmentOnlyMade "Fortnightly"}} checked="checked"{{/contains}}>
                    <label for="instalments-only-fortnightly"><span class="visually-hidden">Instalments only made </span>Fortnightly</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="instalments-only-monthly" name="instalmentOnlyMade" type="radio" value="Monthly"{{#contains ../sInstalmentOnlyMade "Monthly"}} checked="checked"{{/contains}}>
                    <label for="instalments-only-monthly"><span class="visually-hidden">Instalments only made </span>Monthly</label>
                  </div>

                </fieldset>

              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">Instalment start date</span>
                    <span class="form-hint" id="instalment-only-start-date-hint">For example, 31 3 2017</span>
                  </legend>

                  <div class="form-date">

                    <div class="form-group form-group-day">
                      <label class="form-label" for="instalment-only-start-date-day">Day</label>
                      <input class="form-control" id="instalment-only-start-date-day" name="instalmentOnlyStartDateDay" type="number"{{#if ../sInstalmentOnlyStartDateDay}} value="{{../sInstalmentOnlyStartDateDay}}"{{/if}} aria-describedby="instalment-only-start-date-hint">
                    </div>

                    <div class="form-group form-group-month">
                      <label class="form-label" for="instalment-only-start-date-month">Month</label>
                      <input class="form-control" id="instalment-only-start-date-month" name="instalmentOnlyStartDateMonth" type="number"{{#if ../sInstalmentOnlyStartDateMonth}} value="{{../sInstalmentOnlyStartDateMonth}}"{{/if}}>
                    </div>

                    <div class="form-group form-group-year">
                      <label class="form-label" for="instalment-only-start-date-year">Year</label>
                      <input class="form-control" id="instalment-only-start-date-year" name="instalmentOnlyStartDateYear" type="number"{{#if ../sInstalmentOnlyStartDateYear}} value="{{../sInstalmentOnlyStartDateYear}}"{{/if}}>
                    </div>

                  </div>

                </fieldset>

              </div>

            </div>

          </fieldset>

        </div>

        <div class="form-group form-group-related">
          <button class="button" type="submit">Save and continue</button>
        </div>

        <p><a href="{{../sBack}}">Cancel</a><p>

      </form>

    </div>

    <div class="column-third">
      <div class="related">
        {{>legal-adviser/related-documents}}
      </div>
    </div>

  </div>

{{/with}}
