{{>breadcrumb}}

{{#with search}}

  <div class="persist-info">
    <div class="persist-info-content">
      <span class="persist-info-reference">{{personal-details.urn}}</span>
      <span class="persist-info-title">
        {{#and ../sFirstname ../sLastname}}
          <b>{{../sFirstname}} {{uppercase ../sLastname}}</b>
        {{else}}
          <b>{{personal-details.firstname}} {{uppercase personal-details.lastname}}</b>
        {{/and}}
      </span>
    </div>
    <ul class="persist-info-links">
      <li><a href="/legal-adviser/end-session/">End session</a></li>
    </ul>
  </div>

  {{#if ../sHasSaved}}
  <div class="banner banner-confirmation" role="alert">
    <i class="icon icon-banner-confirmation" role="presentation" aria-hidden="true"></i>
    <div class="banner-message">
      <p>Your changes have been saved</p>
    </div>
  </div>
  {{/if}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{#and ../sFirstname ../sLastname}}
          {{../sFirstname}} {{uppercase ../sLastname}}
        {{else}}
          {{personal-details.firstname}} {{uppercase personal-details.lastname}}
        {{/and}}
        <span class="heading-secondary">
          {{#if ../sDob}}
            <time datetime="{{moment ../sDob format="YYYY-MM-DD"}}">{{moment ../sDob format="D MMMM YYYY"}}</time>
          {{else}}
            <time datetime="{{moment personal-details.dob format="YYYY-MM-DD"}}">{{moment personal-details.dob format="D MMMM YYYY"}}</time> ({{personal-details.age}} years old)
          {{/if}}
        </span>
      </h1>

      <div class="tabs tabs-horizontal">

        <div class="tabs-header">
          <ul class="list">
            <li{{#is ../sActiveTab "Case details"}} class="is-active"{{/is}}><a href="#case-details">Case details</a></li>
            <li{{#is ../sActiveTab "Personal details"}} class="is-active"{{/is}}><a href="#personal-details">Personal details</a></li>
          </ul>
        </div>

        <div class="tabs-content">

          {{#with case-details}}
          <section id="case-details">

            <h2 class="heading-medium">Case details</h2>

            <dl class="meta meta-inline meta-boldterms">
              <dt>Case status</dt>
              <dd>{{{status}}}</dd>
              <dt>Prosecutor</dt>
              <dd>{{{prosecutor}}}</dd>
              <dt><abbr title="Single Justice Procedure">SJP</abbr> notice served</dt>
              <dd><time datetime="{{moment notice-served format="YYYY-MM-DD"}}">{{moment notice-served format="D MMMM YYYY"}}</time></dd>
            </dl>

          </section>
          {{/with}}

          {{#with personal-details}}
          <section id="personal-details">

            <header class="section-header">
              <h2 class="heading-medium">Personal details</h2>
              <a class="font-small" href="/legal-adviser/personal-details/{{../id}}" title="Change personal details">Change <span class="visuallyhidden">personal details</span></a>
            </header>

            <dl class="meta meta-inline meta-boldterms">

              <dt>Name</dt>
              <dd>
                {{#and ../../sFirstname ../../sLastname}}
                  {{../../sFirstname}} {{uppercase ../../sLastname}}
                {{else}}
                  {{firstname}} {{uppercase lastname}}
                {{/and}}
              </dd>

              <dt>Date of birth</dt>
              <dd>
                {{#if ../../sDob}}
                  <time datetime="{{moment ../../sDob format="YYYY-MM-DD"}}">{{moment ../../sDob format="D MMM YYYY"}}</time>
                {{else}}
                  <time datetime="{{moment dob format="YYYY-MM-DD"}}">{{moment dob format="D MMM YYYY"}}</time> ({{age}} years old)
                {{/if}}
              </dd>

              <dt>Address</dt>
              <dd>
                {{#if ../../sAddress1}}{{../../sAddress1}}<br>{{else}}{{address.address1}}<br>{{/if}}
                {{#if ../../sAddress2}}{{../../sAddress2}}<br>{{else}}{{#if address.address2}}{{address.address2}}<br>{{/if}}{{/if}}
                {{#if ../../sTown}}{{../../sTown}}<br>{{else}}{{address.town}}<br>{{/if}}
                {{#if ../../sPostcode}}{{uppercase ../../sPostcode}}{{else}}{{uppercase address.postcode}}{{/if}}
              </dd>

              <dt>Email</dt>
              <dd>
                {{#if ../../sEmail}}
                  {{../../sEmail}}
                {{else}}
                  {{#if email}}
                    {{email}}
                  {{else}}
                    <a href="/legal-adviser/personal-details/{{../id}}/#email">Add email</a>
                  {{/if}}
                {{/if}}
              </dd>

              <dt>Home telephone</dt>
              <dd>
                {{#if ../../sPhone}}
                  {{../../sPhone}}
                {{else}}
                  {{#if phone}}
                    {{phone}}
                  {{else}}
                    <a href="/legal-adviser/personal-details/{{../id}}/#phone">Add home telephone</a>
                  {{/if}}
                {{/if}}
              </dd>

              <dt>Mobile</dt>
              <dd>
                {{#if ../../sMobile}}
                  {{../../sMobile}}
                {{else}}
                  {{#if mobile}}
                    {{mobile}}
                  {{else}}
                    <a href="/legal-adviser/personal-details/{{../id}}/#mobile">Add mobile</a>
                  {{/if}}
                {{/if}}
              </dd>

            </dl>

          </section>
          {{/with}}

        </div>

      </div>

    </div>

    <div class="column-third">

      <div class="related">

        <div class="related-section">

          <h3 class="related-heading">Documents</h3>

          <ul class="related-links">
            {{#each related-documents.document}}
              {{#is show true}}
                <li>
                  <div class="document document-small">
                    <i class="icon icon-file-download"></i>
                    <div class="document-content">
                      <p class="document-title"><a href="#">{{{capitalize title}}}</a></p>
                        <div class="document-meta">
                          <span class="document-meta-details">
                            {{{file-type}}}, {{{file-size}}}, {{{file-pages}}} {{#if printed-for-posting}}<br> <time datetime="{{printed-for-posting-iso}}">{{printed-for-posting}}</time>{{/if}}
                        </span>
                      </div>
                    </div>
                  </div>
                </li>
              {{/is}}
            {{/each}}
          </ul>

        </div>

      </div>

    </div>

  </div>

  <hr aria-hidden="true">

  <div aria-labelledby="offences">

    <h2 class="heading-large" id="offences">Offence 1</h2>

    {{#with offence}}
    <section aria-labelledby="offence">

      <div class="grid-row">

        <div class="column-two-thirds">

          <h3 class="bold-medium">{{title}}</h3>
          <p class="font-xsmall js-text-more">On <time datetime="2014-06-10">10/06/2014</time> At grosvenor place SW1 Being a passenger on a Public Service Vehicle operated on behalf of London Bus Services Limited being used for the carriage of passengers at separate fares where the vehicle was being operated by a <!--Driver without a Conductor did not immediately on boarding pay the fare to the Driver for the journey you intended to take.-->&hellip; <a href="#">More</a></p>

          <p><strong class="status-label">{{{plea}}}</strong></p>

        </div>

      </div>

      <div class="grid-row">

        <div class="column-two-thirds">

          {{#if statement-of-facts}}
            <h3 class="heading-small">Statement of facts</h3>
            <p class="text">{{{statement-of-facts}}}</p>
          {{/if}}

          {{#if mitigation}}
            <h3 class="heading-small">Mitigation</h3>
            <p class="text">{{{mitigation}}}</p>
          {{/if}}

        </div>

        <div class="column-third">

          <h3 class="heading-small">Make a decision</h3>

          <form class="form" method="post">

            <fieldset>

              <legend class="visually-hidden">Make a decision</legend>

              <div class="form-group">

                <label class="block-label">
                  <input type="radio" name="makeDecision" value="Financial penalty"{{#contains ../../sMakeDecision "Financial penalty"}} checked="checked"{{/contains}}> Financial penalty
                </label>

                <label class="block-label">
                  <input type="radio" name="makeDecision" value="Refer for court hearing"{{#contains ../../sMakeDecision "Refer for court hearing"}} checked="checked"{{/contains}}> Refer for court hearing
                </label>

                <label class="block-label">
                  <input type="radio" name="makeDecision" value="Withdraw"{{#contains ../../sMakeDecision "Withdraw"}} checked="checked"{{/contains}}> Withdraw
                </label>

                <label class="block-label">
                  <input type="radio" name="makeDecision" value="Discharge"{{#contains ../../sMakeDecision "Discharge"}} checked="checked"{{/contains}}> Discharge
                </label>

                <label class="block-label">
                  <input type="radio" name="makeDecision" value="Dismiss"{{#contains ../../sMakeDecision "Dismiss"}} checked="checked"{{/contains}}> Dismiss
                </label>

              </div>

              <div class="form-group form-group-related">
                <button class="button" type="submit">Save and continue</button>
              </div>

            </fieldset>

          </form>

        </div>

      </div>

    </section>
    {{/with}}

  </div>

{{/with}}
