{{>breadcrumb}}

{{#with search}}

  <div class="persist-info">
    <div class="persist-info-content">
      <span class="persist-info-reference">{{personal-details.urn}}</span>
      <span class="persist-info-title"><b>{{personal-details.firstname}} {{uppercase personal-details.lastname}}</b></span>
    </div>
    <ul class="persist-info-links">
      <li><a href="#">End session</a></li>
    </ul>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{personal-details.firstname}} {{uppercase personal-details.lastname}}
        <span class="heading-secondary"><time datetime="{{moment personal-details.dob format="YYYY-MM-DD"}}">{{moment personal-details.dob format="D MMMM YYYY"}}</time> ({{personal-details.age}} years old)</span>
      </h1>

      <div class="tabs tabs-horizontal">

        <div class="tabs-header">
          <ul class="list">
            <li><a href="#case-details">Case details</a></li>
            <li><a href="#personal-details">Personal details</a></li>
          </ul>
        </div>

        <div class="tabs-content">

          {{#with case-details}}
          <section id="case-details">

            <h2 class="heading-medium">Case details</h2>

            <dl class="meta meta-large">
              <dt>Case status</dt>
              <dd>{{{status}}}</dd>
              <dt>Prosecutor</dt>
              <dd>{{{prosecutor}}}</dd>
              <dt>Notice served</dt>
              <dd><time datetime="{{moment notice-served format="YYYY-MM-DD"}}">{{moment notice-served format="D MMMM YYYY"}}</time></dd>
            </dl>

          </section>
          {{/with}}

          {{#with personal-details}}
          <section id="personal-details">

            <header class="section-header">
              <h2 class="heading-medium">Personal details</h2>
              <a class="font-small" href="#" title="Change personal details">Change <span class="visuallyhidden">personal details</span></a>
            </header>

            <dl class="meta meta-large">

              <dt>Name</dt>
              <dd>{{firstname}} {{uppercase lastname}}</dd>

              <dt>Date of birth</dt>
              <dd><time datetime="{{moment dob format="YYYY-MM-DD"}}">{{moment dob format="D MMM YYYY"}}</time> ({{age}} years old)</dd>

              <dt>Address</dt>
              <dd>{{address.address1}}<br>{{#if address.address2}}{{address.address2}}<br>{{/if}}{{address.town}}<br>{{uppercase address.postcode}}</dd>

              <dt>Email</dt>
              <dd>{{#if email}}{{email}}{{else}}&ndash;{{/if}}</dd>

              <dt>Home telephone</dt>
              <dd>{{#if phone}}{{phone}}{{else}}&ndash;{{/if}}</dd>

              <dt>Mobile</dt>
              <dd>{{#if mobile}}{{mobile}}{{else}}&ndash;{{/if}}</dd>

            </dl>

          </section>
          {{/with}}

        </div>

      </div>

    </div>

    <div class="column-third">

      <figure class="figure">
        <img src="/public/images/logo-tfl.png" alt="Transport for London" title="Transport for London">
      </figure>

      <div class="related">

        <div class="related-section">

          <h3 class="related-heading">Documents</h3>

          <ul class="related-links">
            {{#each related-documents.document}}
              {{#is show true}}
                <li>
                  <div class="document document-small">
                    <i class="icon icon-file-download"></i>
                    <div class="document-content">
                      <p class="document-title"><a href="#">{{{capitalize title}}}</a></p>
                        <div class="document-meta">
                          <span class="document-meta-details">
                            {{{file-type}}}, {{{file-size}}}, {{{file-pages}}} {{#if printed-for-posting}}<br> <time datetime="{{printed-for-posting-iso}}">{{printed-for-posting}}</time>{{/if}}
                        </span>
                      </div>
                    </div>
                  </div>
                </li>
              {{/is}}
            {{/each}}
          </ul>

        </div>

      </div>

    </div>

  </div>

  <hr aria-hidden="true">

  <div aria-labelledby="offences">

    <h2 class="heading-large" id="offences">Offence</h2>

    {{#with offence}}
    <section aria-labelledby="offence">

      <div class="grid-row">

        <div class="column-two-thirds">

          <h3 class="font-medium" id="offence">{{{title}}}</h3>

          <p class="font-xsmall">On <time datetime="{{moment date format="YYYY-MM-DD"}}">{{moment date format="D MMMM YYYY"}}</time></p>

          <p><strong class="status-label">{{{plea}}}</strong></p>

          <div class="tabs tabs-horizontal">

            <div class="tabs-header">
              <ul class="list">
                <li><a href="#offence-details">Details</a></li>
                <li class="is-active"><a href="#offence-decision">Make a decision</a></li>
              </ul>
            </div>

            <div class="tabs-content">

              <section id="offence-details">

                {{#if statement-of-facts}}
                  <h3 class="heading-medium">Statement of facts</h3>
                  <p>{{{statement-of-facts}}}</p>
                {{/if}}

                {{#if mitigation}}
                  <h3 class="heading-medium">Mitigation</h3>
                  <p>{{{mitigation}}}</p>
                {{/if}}

              </section>

              <section id="offence-decision">

                <h3 class="heading-medium">Make a decision</h3>

                <form class="form" method="post">

                  <fieldset>

                    <legend class="visually-hidden">Make a decision</legend>

                    <div class="form-group">

                      <label class="block-label">
                        <input type="radio" name="makeDecision" value="Financial penalty"> Financial penalty
                      </label>

                      <label class="block-label">
                        <input type="radio" name="makeDecision" value="No separate penalty"> No separate penalty
                      </label>

                      <label class="block-label">
                        <input type="radio" name="makeDecision" value="Refer for court hearing"> Refer for court hearing
                      </label>

                      <label class="block-label">
                        <input type="radio" name="makeDecision" value="Withdraw"> Withdraw
                      </label>

                      <label class="block-label">
                        <input type="radio" name="makeDecision" value="Discharge"> Discharge
                      </label>

                      <label class="block-label">
                        <input type="radio" name="makeDecision" value="Dismiss"> Dismiss
                      </label>

                    </div>

                  </fieldset>

                  <div class="form-group form-group-related">
                    <button class="button" type="submit">Save</button>
                  </div>

                </form>

              </section>

            </div>

          </div>

        </div>

      </div>

    </section>
    {{/with}}

  </div>

{{/with}}
