{{>breadcrumb}}

{{#with search}}

  {{>legal-adviser/persist-info}}

  <h1 class="heading-xlarge">{{../pagetitle}}</h1>

  <section aria-labelledby="offence">

    <h2 class="heading-medium" id="offence">Passenger used ticket issued for another person</h2>

    <div class="check-answers">

      <table class="table table-summary">

        <colgroup>
          <col class="table-summary-title">
          <col>
        </colgroup>

        <tbody>
          <tr>
            <th>Result</th>
            <td>{{../sMakeDecision}}</td>
          </tr>
          <tr>
            <th>Verdict</th>
            <td>Proven SJP</td>
          </tr>
        </tbody>

      </table>

      <p class="check-answers-action"><a href="/legal-adviser/case-details/{{id}}/#decision" title="Change decision">Change<span> decision</span></a></p>

    </div>

    <!-- financial penalty route only -->
    {{#contains ../sMakeDecision "Financial penalty"}}
    <div class="check-answers">

      <table class="table table-summary">

        <colgroup>
          <col class="table-summary-title">
          <col>
        </colgroup>

        <tbody>
          <tr>
            <th>Defendant&rsquo;s weekly income</th>
            <td>&pound;440 (assumed)</td>
          </tr>
          <tr>
            <th>Fine band applied</th>
            <td>{{../sFineBandApplied}}</td>
          </tr>
          <tr>
            <th>Fine</th>
            <td>
              {{#if ../sFineA}}
                &pound;{{../sFineA}}
              {{else if ../sFineB}}
                &pound;{{../sFineB}}
              {{else if ../sFineC}}
                &pound;{{../sFineC}}
              {{/if}}
            </td>
          </tr>
          <tr>
            <th>Compensation</th>
            <td>
              {{#if ../sCompensationA}}
                &pound;{{../sCompensationA}}
              {{else if ../sCompensationB}}
                &pound;{{../sCompensationB}}
              {{else if ../sCompensationC}}
                &pound;{{../sCompensationC}}
              {{/if}}
            </td>
          </tr>
          {{#or ../sReasonForNoCompensationA ../sReasonForNoCompensationB ../sReasonForNoCompensationC}}
          <tr>
            <th>Reason for no compensation</th>
            <td>
              {{#if ../sReasonForNoCompensationA}}
                {{../sReasonForNoCompensationA}}
              {{else if ../sReasonForNoCompensationB}}
                {{../sReasonForNoCompensationB}}
              {{else if ../sReasonForNoCompensationC}}
                {{../sReasonForNoCompensationC}}
              {{/if}}
            </td>
          </tr>
          {{/or}}
        </tbody>

      </table>

      <p class="check-answers-action"><a href="/legal-adviser/financial-penalty/{{id}}/?change=true/#fine-and-compensation" title="Change fine and compensation">Change<span> fine and compensation</span></a></p>

    </div>
    {{/contains}}
    <!-- end -->

    <!-- discharge route only -->
    {{#contains ../sMakeDecision "Discharge"}}
    <div class="check-answers">

      <table class="table table-summary">

        <colgroup>
          <col class="table-summary-title">
          <col>
        </colgroup>

        <tbody>
          <tr>
            <th>Type of discharge</th>
            <td>{{../sTypeOfDischarge}}</td>
          </tr>

          {{#contains ../sTypeOfDischarge "Conditional"}}
          <tr>
            <th>Length of conditional discharge</th>
            <td>{{../sDurationAmount}} {{../sDurationTimeSpan}}</td>
          </tr>
          {{/contains}}

          <tr>
            <th>Compensation</th>
            <td>&pound;{{../sCompensation}}</td>
          </tr>
        </tbody>

      </table>

      <p class="check-answers-action"><a href="/legal-adviser/discharge/{{id}}/?change=true" title="Change type of discharge and compensation">Change<span> type of discharge and compensation</span></a></p>

    </div>
    {{/contains}}
    <!-- end -->

  </section>

  <hr class="divider divider-border-dark divider-gutter-large" aria-hidden="true">

  <section aria-labelledby="costs-and-surcharge">

    <h2 class="heading-medium" id="costs-and-surcharge">Costs and surcharge</h2>

    <div class="check-answers">

      <table class="table table-summary">

        <colgroup>
          <col class="table-summary-title">
          <col>
        </colgroup>

        <tbody>
          <tr>
            <th>Costs</th>
            <td>&pound;{{../sCost}}</td>
          </tr>
          <tr>
            <th>Victim surcharge</th>
            <td>&pound;{{../sSurcharge}}</td>
          </tr>
          <tr>
            <th>Collection order issued</th>
            <td>
              {{#if ../sCollectionOrderConfirmed}}
                {{#contains ../sCollectionOrderConfirmed "true"}}Yes{{else}}No{{/contains}}
              {{/if}}
            </td>
          </tr>
        </tbody>

      </table>

      <p class="check-answers-action"><a href="/legal-adviser/discharge/{{id}}/?change=true/#costs-and-surcharge" title="Change costs and surcharge">Change <span>cost and surcharge</span></a></p>

    </div>

  </section>


  {{#contains ../sMakeDecision "Financial penalty"}}

  <hr class="divider divider-border-dark divider-gutter-large" aria-hidden="true">

  <section aria-labelledby="payment">

    <h2 class="heading-medium" id="payment">Payment</h2>

    <div class="check-answers">

      <table class="table table-summary">

        <colgroup>
          <col class="table-summary-title">
          <col>
        </colgroup>

        {{#is ../sPaymentMethod "Pay direct to court"}}
        <tbody>
          <tr>
            <th>Payment method</th>
            <td>{{../sPaymentMethod}}</td>
          </tr>
          <tr>
            <th>Reason you didn&rsquo;t deduct from benefits?</th>
            <td>{{../sReasonForNotDeductFromBenefitsOrAttachToEarnings}}</td>
          </tr>
          <tr>
            <th>How should defendant pay the court?</th>
            <td>{{../sDefendantPay}}</td>
          </tr>

          {{#is ../sDefendantPay "Lump sum plus instalments"}}
          <tr>
            <th>Amount to be paid</th>
            <td>&pound;{{../sLumpSumAmount}} (within {{../sLumpSumAmountPaidWithin}})</td>
          </tr>
          <tr>
            <th>Instalment amount</th>
            <td>&pound;{{../sLumpSumInstalmentAmount}} ({{../sLumpSumInstalmentMade}}) starting on 16 December 2017</td>
          </tr>
          {{/is}}

          {{#is ../sDefendantPay "Instalments only"}}
          <tr>
            <th>Instalment amount</th>
            <td>&pound;{{../sInstalmentOnlyAmount}} ({{../sInstalmentOnlyMade}}) starting on 16 December 2017</td>
          </tr>
          {{/is}}

        </tbody>
        {{/is}}

        {{#is ../sPaymentMethod "Deduct from benefits"}}
        <tbody>
          <tr>
            <th>Payment method</th>
            <td>{{../sPaymentMethod}}</td>
          </tr>
          <tr>
            <th>National Insurance number</th>
            <td>{{../sNationalInsuranceNumber}}</td>
          </tr>
          <tr>
            <th>Reason for deducting from benefits</th>
            <td>{{../sReasonForDeductingFromBenefits}}</td>
          </tr>
          <tr>
            <th>Reserve terms</th>
            <td>{{../sReserveTerms}}</td>
          </tr>
          {{#is ../sReserveTerms "Lump sum plus instalments"}}
          <tr>
            <th>Amount to be paid</th>
            <td>&pound;{{../sLumpSumAmount}} (within {{../sLumpSumPaidWithin}})</td>
          </tr>
          <tr>
            <th>Instalment amount</th>
            <td>&pound;{{../sLumpSumInstalmentAmount}} ({{../sLumpSumInstalmentMade}}) starting on 16 December 2017</td>
          </tr>
          {{/is}}
          {{#is ../sReserveTerms "Instalments only"}}
          <tr>
            <th>Instalment amount</th>
            <td>&pound;{{../sInstalmentOnlyAmount}} ({{../sInstalmentOnlyMade}}) starting on 16 December 2017</td>
          </tr>
          {{/is}}
        </tbody>
        {{/is}}

        {{#is ../sPaymentMethod "Attach to earnings"}}
        <tbody>
          <tr>
            <th>Payment method</th>
            <td>{{../sPaymentMethod}}</td>
          </tr>
          <tr>
            <th>Employee number</th>
            <td>{{../sEmployeeNumber}}</td>
          </tr>
          <tr>
            <th>Employer name</th>
            <td>{{../sEmployerName}}</td>
          </tr>
          <tr>
            <th>Employer address</th>
            <td>
              {{#if ../sEmployerAddress1}}{{../sEmployerAddress1}} <br>{{/if}}
              {{#if ../sEmployerAddress2}}{{../sEmployerAddress2}} <br>{{/if}}
              {{#if ../sEmployerTown}}{{../sEmployerTown}} <br> {{/if}}
              {{#if ../sEmployerPostcode}}{{../sEmployerPostcode}}{{/if}}
            </td>
          </tr>
          <tr>
            <th>Reason for attaching to earnings</th>
            <td>{{../reasonForAttachingToEarnings}}</td>
          </tr>
          <tr>
            <th>Reserve terms</th>
            <td>{{../sReservedTerms}}</td>
          </tr>
        </tbody>
        {{/is}}

      </table>

      <p class="check-answers-action"><a href="/legal-adviser/payment-method/{{id}}/?change=true/#collection-payment" title="Change payment">Change<span> payment</span></a></p>

    </div>

  </section>

  {{/contains}}

  <hr class="divider divider-border-dark divider-gutter-large" aria-hidden="true">

  <section aria-labelledby="other-information">

    <h2 class="heading-medium" id="other-information">Add a note (optional)</h2>

    <p class="text">Only add if you have important information you couldn&rsquo;t enter elsewhere.</p>

    <form class="form" method="post">

      <div class="form-group">
        <label class="visually-hidden" for="notes">
          <span class="form-label">Notes (optional)</span>
        </label>
        <textarea class="form-control form-control-textarea" id="notes" name="notes" rows="5" cols="60"></textarea>
      </div>

      <div class="form-group form-group-related">
        <button class="button" type="submit">Confirm and submit</button>
      </div>

      <p><a href="{{../sBack}}">Back</a></p>

    </form>

  </section>

{{/with}}
