{{>breadcrumb}}

{{#with search}}


  {{>legal-adviser/persist-info}}


  <h1 class="heading-xlarge">{{../pagetitle}}</h1>


  <section aria-labelledby="offence">

    <h2 class="heading-medium" id="offence">Offence 1</h2>

    <div class="check-answers">

      <table class="table table-summary">
        <tbody>
          <tr>
            <th class="table-cell-title">Type</th>
            <td class="table-cell-content">{{{offence.title}}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Verdict</th>
            <td class="table-cell-content">{{{offence.verdict}}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Result</th>
            <td class="table-cell-content">{{../sMakeDecision}}</td>
          </tr>
        </tbody>
      </table>

      <p class="check-answers-action"><a href="{{../baseurl}}case-details/{{id}}">Change<span class="visually-hidden"> decision</span></a></p>

    </div>

    <!-- financial penalty route only -->
    {{#contains ../sMakeDecision "Financial penalty"}}
    <div class="check-answers">

      <table class="table table-summary">
        <tbody>
          <tr>
            <th class="table-cell-title">Defendant&rsquo;s weekly income</th>
            <td class="table-cell-content">&pound;{{offence.weekly-income}}{{#if offence.weekly-income-assumed}} (assumed){{/if}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Fine band applied</th>
            <td class="table-cell-content">{{../sFineBandApplied}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Fine</th>
            <td class="table-cell-content">
              {{#if ../sFineA}}
                &pound;{{../sFineA}}
              {{else if ../sFineB}}
                &pound;{{../sFineB}}
              {{else if ../sFineC}}
                &pound;{{../sFineC}}
              {{/if}}
            </td>
          </tr>
          <tr>
            <th class="table-cell-title">Compensation</th>
            <td class="table-cell-content">
              {{#if ../sCompensationA}}
                &pound;{{../sCompensationA}}
              {{else if ../sCompensationB}}
                &pound;{{../sCompensationB}}
              {{else if ../sCompensationC}}
                &pound;{{../sCompensationC}}
              {{/if}}
            </td>
          </tr>
          {{#or ../sReasonForNoCompensationA ../sReasonForNoCompensationB ../sReasonForNoCompensationC}}
          <tr>
            <th class="table-cell-title">Reason for no compensation</th>
            <td class="table-cell-content">
              {{#if ../sReasonForNoCompensationA}}
                {{../sReasonForNoCompensationA}}
              {{else if ../sReasonForNoCompensationB}}
                {{../sReasonForNoCompensationB}}
              {{else if ../sReasonForNoCompensationC}}
                {{../sReasonForNoCompensationC}}
              {{/if}}
            </td>
          </tr>
          {{/or}}
        </tbody>
      </table>

      <p class="check-answers-action"><a href="{{../baseurl}}financial-penalty/{{id}}/?change=true">Change<span class="visually-hidden"> fine and compensation</span></a></p>

    </div>
    {{/contains}}
    <!-- end -->

    <!-- discharge route only -->
    {{#contains ../sMakeDecision "Discharge"}}
    <div class="check-answers">

      <table class="table table-summary">
        <tbody>
          <tr>
            <th class="table-cell-title">Type of discharge</th>
            <td class="table-cell-content">{{../sTypeOfDischarge}}</td>
          </tr>
          {{#contains ../sTypeOfDischarge "Conditional"}}
          <tr>
            <th class="table-cell-title">Length of conditional discharge</th>
            <td class="table-cell-content">{{../sDurationAmount}} {{../sDurationTimeSpan}}</td>
          </tr>
          {{/contains}}
          <tr>
            <th class="table-cell-title">Compensation</th>
            <td class="table-cell-content">&pound;{{../sCompensation}}</td>
          </tr>
        </tbody>
      </table>

      <p class="check-answers-action"><a href="{{../baseurl}}discharge/{{id}}/?change=true">Change<span class="visually-hidden"> type of discharge and compensation</span></a></p>

    </div>
    {{/contains}}
    <!-- end -->

  </section>


  {{#is ../sMakeDecision "Financial penalty"}}
  <hr class="divider divider-border-dark divider-gutter-large" aria-hidden="true">
  {{/is}}


  {{#is ../sMakeDecision "Financial penalty"}}
  <section aria-labelledby="costs-and-surcharge">

    <h2 class="heading-medium" id="costs-and-surcharge">Costs and surcharge</h2>

    <div class="check-answers">

      <table class="table table-summary">
        <tbody>
          <tr>
            <th class="table-cell-title">Costs</th>
            <td class="table-cell-content">&pound;{{../sCost}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Victim surcharge</th>
            <td class="table-cell-content">&pound;{{../sSurcharge}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Collection order issued</th>
            <td class="table-cell-content">
              {{#if ../sCollectionOrderConfirmed}}
                {{#contains ../sCollectionOrderConfirmed "true"}}Yes{{else}}No{{/contains}}
              {{/if}}
            </td>
          </tr>
        </tbody>
      </table>

      <p class="check-answers-action"><a href="{{../baseurl}}financial-penalty/{{id}}/?change=true">Change<span class="visually-hidden"> costs and surcharge</span></a></p>

    </div>

  </section>
  {{/is}}


  {{#is ../sMakeDecision "Discharge"}}
  <hr class="divider divider-border-dark divider-gutter-large" aria-hidden="true">
  {{/is}}


  {{#is ../sMakeDecision "Discharge"}}
  <section aria-labelledby="costs-and-surcharge">

    <h2 class="heading-medium" id="costs-and-surcharge">Costs and surcharge</h2>

    <div class="check-answers">

      <table class="table table-summary">
        <tbody>
          <tr>
            <th class="table-cell-title">Costs</th>
            <td class="table-cell-content">&pound;{{../sCost}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Victim surcharge</th>
            <td class="table-cell-content">&pound;{{../sSurcharge}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Collection order issued</th>
            <td class="table-cell-content">
              {{#if ../sCollectionOrderConfirmed}}
                {{#contains ../sCollectionOrderConfirmed "true"}}Yes{{else}}No{{/contains}}
              {{/if}}
            </td>
          </tr>
        </tbody>
      </table>

      <p class="check-answers-action"><a href="{{../baseurl}}discharge/{{id}}/?change=true">Change<span class="visually-hidden"> cost and surcharge</span></a></p>

    </div>

  </section>
  {{/is}}


  {{#is ../sMakeDecision "Financial penalty"}}
  <hr class="divider divider-border-dark divider-gutter-large" aria-hidden="true">
  {{/is}}


  {{#is ../sMakeDecision "Financial penalty"}}
  <section aria-labelledby="payment">

    <h2 class="heading-medium" id="payment">Payment</h2>

    <div class="check-answers">

      <table class="table table-summary">
        {{#is ../sPaymentMethod "Pay direct to court"}}
        <tbody>
          <tr>
            <th class="table-cell-title">Total</th>
            <td class="table-cell-content">&pound;{{../sTotalToPay}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Payment method</th>
            <td class="table-cell-content">{{../sPaymentMethod}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Reason you didn&rsquo;t deduct from benefits?</th>
            <td class="table-cell-content">{{../sReasonForNotDeductFromBenefitsOrAttachToEarnings}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">How should defendant pay the court?</th>
            <td class="table-cell-content">{{../sDefendantPay}}</td>
          </tr>
          {{#is ../sDefendantPay "Lump sum plus instalments"}}
          <tr>
            <th class="table-cell-title">Lump sum amount</th>
            <td class="table-cell-content">&pound;{{../sLumpSumAmount}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Instalments</th>
            <td class="table-cell-content">&pound;{{../sLumpSumInstalmentAmount}} ({{../sLumpSumInstalmentMade}}) starting on ({{moment ../sLumpSumInstalmentStartDate format="D MMMM YYYY"}})</td>
          </tr>
          {{/is}}
          {{#is ../sDefendantPay "Instalments only"}}
          <tr>
            <th class="table-cell-title">Instalments</th>
            <td class="table-cell-content">&pound;{{../sInstalmentOnlyAmount}} ({{../sInstalmentOnlyMade}}) starting on ({{moment ../sInstalmentOnlyStartDate format="D MMMM YYYY"}})</td>
          </tr>
          {{/is}}
        </tbody>
        {{/is}}
        {{#is ../sPaymentMethod "Deduct from benefits"}}
        <tbody>
          <tr>
            <th class="table-cell-title">Payment method</th>
            <td class="table-cell-content">{{../sPaymentMethod}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">National Insurance number</th>
            <td class="table-cell-content">
              {{#if ../sNationalInsuranceNumber}}
                {{../sNationalInsuranceNumber}}
              {{else}}
                &ndash;
              {{/if}}
            </td>
          </tr>
          <tr>
            <th class="table-cell-title">Reason for deducting from benefits</th>
            <td class="table-cell-content">{{../sReasonForDeductingFromBenefits}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Reserve terms</th>
            <td class="table-cell-content">{{../sReserveTerms}}</td>
          </tr>
          {{#is ../sReserveTerms "Lump sum plus instalments"}}
          <tr>
            <th class="table-cell-title">Amount to be paid</th>
            <td class="table-cell-content">&pound;{{../sLumpSumAmount}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Instalment amount</th>
            <td class="table-cell-content">&pound;{{../sLumpSumInstalmentAmount}} ({{../sLumpSumInstalmentMade}}) starting on ({{moment ../sLumpSumInstalmentStartDate format="D MMMM YYYY"}})</td>
          </tr>
          {{/is}}
          {{#is ../sReserveTerms "Instalments only"}}
          <tr>
            <th class="table-cell-title">Instalment amount</th>
            <td class="table-cell-content">&pound;{{../sInstalmentOnlyAmount}} ({{../sInstalmentOnlyMade}}) starting on ({{moment ../sInstalmentOnlyStartDate format="D MMMM YYYY"}})</td>
          </tr>
          {{/is}}
        </tbody>
        {{/is}}
        {{#is ../sPaymentMethod "Attach to earnings"}}
        <tbody>
          <tr>
            <th class="table-cell-title">Payment method</th>
            <td class="table-cell-content">{{../sPaymentMethod}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Employee number</th>
            <td class="table-cell-content">
              {{#if ../sEmployeeNumber}}
                {{../sEmployeeNumber}}
              {{else}}
                &ndash;
              {{/if}}
            </td>
          </tr>
          <tr>
            <th class="table-cell-title">Employer name</th>
            <td class="table-cell-content">
              {{#if ../sEmployerName}}
                {{../sEmployerName}}
              {{else}}
                &ndash;
              {{/if}}
            </td>
          </tr>
          <tr>
            <th class="table-cell-title">Employer address</th>
            <td class="table-cell-content">
              {{#if ../sEmployerAddress1}}
                {{#if ../sEmployerAddress1}}{{../sEmployerAddress1}} <br>{{/if}}
                {{#if ../sEmployerAddress2}}{{../sEmployerAddress2}} <br>{{/if}}
                {{#if ../sEmployerTown}}{{../sEmployerTown}} <br> {{/if}}
                {{#if ../sEmployerPostcode}}{{../sEmployerPostcode}}{{/if}}
              {{else}}
                &ndash;
              {{/if}}
            </td>
          </tr>
          <tr>
            <th class="table-cell-title">Reason for attaching to earnings</th>
            <td class="table-cell-content">{{../sReasonForAttachingToEarnings}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Reserve terms</th>
            <td class="table-cell-content">{{../sReserveTerms}}</td>
          </tr>
          {{#is ../sReserveTerms "Lump sum plus instalments"}}
          <tr>
            <th class="table-cell-title">Amount to be paid</th>
            <td class="table-cell-content">&pound;{{../sLumpSumAmount}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Instalment amount</th>
            <td class="table-cell-content">&pound;{{../sLumpSumInstalmentAmount}} ({{../sLumpSumInstalmentMade}}) starting on ({{moment ../sLumpSumInstalmentStartDate format="D MMMM YYYY"}})</td>
          </tr>
          {{/is}}
          {{#is ../sReserveTerms "Instalments only"}}
          <tr>
            <th class="table-cell-title">Instalment amount</th>
            <td class="table-cell-content">&pound;{{../sInstalmentOnlyAmount}} ({{../sInstalmentOnlyMade}}) starting on ({{moment ../sInstalmentOnlyStartDate format="D MMMM YYYY"}})</td>
          </tr>
          {{/is}}
        </tbody>
        {{/is}}
      </table>

      <p class="check-answers-action"><a href="{{../baseurl}}payment-method/{{id}}/?change=true">Change<span class="visually-hidden"> payment</span></a></p>

    </div>

  </section>
  {{/is}}


  {{#is ../sMakeDecision "Discharge"}}
  <hr class="divider divider-border-dark divider-gutter-large" aria-hidden="true">
  {{/is}}


  {{#is ../sMakeDecision "Discharge"}}
  <section aria-labelledby="payment">

    <h2 class="heading-medium" id="payment">Payment</h2>

    <div class="check-answers">

      <table class="table table-summary">
        {{#is ../sPaymentMethod "Pay direct to court"}}
        <tbody>
          <tr>
            <th class="table-cell-title">Payment method</th>
            <td class="table-cell-content">{{../sPaymentMethod}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Reason you didn&rsquo;t deduct from benefits or attach to earnings?</th>
            <td class="table-cell-content">{{../sReasonForNotDeductFromBenefitsOrAttachToEarnings}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">How should defendant pay the court?</th>
            <td class="table-cell-content">{{../sDefendantPay}}</td>
          </tr>
          {{#is ../sDefendantPay "Lump sum plus instalments"}}
          <tr>
            <th class="table-cell-title">Amount to be paid</th>
            <td class="table-cell-content">&pound;{{../sLumpSumAmount}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Instalment amount</th>
            <td class="table-cell-content">&pound;{{../sLumpSumInstalmentAmount}} ({{../sLumpSumInstalmentMade}}) starting on ({{moment ../sLumpSumInstalmentStartDate format="D MMMM YYYY"}})</td>
          </tr>
          {{/is}}
          {{#is ../sDefendantPay "Instalments only"}}
          <tr>
            <th class="table-cell-title">Instalment amount</th>
            <td class="table-cell-content">&pound;{{../sInstalmentOnlyAmount}} ({{../sInstalmentOnlyMade}}) starting on ({{moment ../sInstalmentOnlyStartDate format="D MMMM YYYY"}})</td>
          </tr>
          {{/is}}
        </tbody>
        {{/is}}
        {{#is ../sPaymentMethod "Deduct from benefits"}}
        <tbody>
          <tr>
            <th class="table-cell-title">Payment method</th>
            <td class="table-cell-content">{{../sPaymentMethod}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">National Insurance number</th>
            <td class="table-cell-content">
              {{#if ../sNationalInsuranceNumber}}
                {{../sNationalInsuranceNumber}}
              {{else}}
                &ndash;
              {{/if}}
            </td>
          </tr>
          <tr>
            <th class="table-cell-title">Reason for deducting from benefits</th>
            <td class="table-cell-content">{{../sReasonForDeductingFromBenefits}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Reserve terms</th>
            <td class="table-cell-content">{{../sReserveTerms}}</td>
          </tr>
          {{#is ../sReserveTerms "Lump sum plus instalments"}}
          <tr>
            <th class="table-cell-title">Amount to be paid</th>
            <td class="table-cell-content">&pound;{{../sLumpSumAmount}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Instalment amount</th>
            <td class="table-cell-content">&pound;{{../sLumpSumInstalmentAmount}} ({{../sLumpSumInstalmentMade}}) starting on ({{moment ../sLumpSumInstalmentStartDate format="D MMMM YYYY"}})</td>
          </tr>
          {{/is}}
          {{#is ../sReserveTerms "Instalments only"}}
          <tr>
            <th class="table-cell-title">Instalment amount</th>
            <td class="table-cell-content">&pound;{{../sInstalmentOnlyAmount}} ({{../sInstalmentOnlyMade}}) starting on ({{moment ../sInstalmentOnlyStartDate format="D MMMM YYYY"}})</td>
          </tr>
          {{/is}}
        </tbody>
        {{/is}}
        {{#is ../sPaymentMethod "Attach to earnings"}}
        <tbody>
          <tr>
            <th class="table-cell-title">Payment method</th>
            <td class="table-cell-content">{{../sPaymentMethod}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Employee number</th>
            <td class="table-cell-content">
              {{#if ../sEmployeeNumber}}
                {{../sEmployeeNumber}}
              {{else}}
                &ndash;
              {{/if}}
            </td>
          </tr>
          <tr>
            <th class="table-cell-title">Employer name</th>
            <td class="table-cell-content">
              {{#if ../sEmployerName}}
                {{../sEmployerName}}
              {{else}}
                &ndash;
              {{/if}}
            </td>
          </tr>
          <tr>
            <th class="table-cell-title">Employer address</th>
            <td class="table-cell-content">
              {{#if ../sEmployerAddress1}}
                {{#if ../sEmployerAddress1}}{{../sEmployerAddress1}} <br>{{/if}}
                {{#if ../sEmployerAddress2}}{{../sEmployerAddress2}} <br>{{/if}}
                {{#if ../sEmployerTown}}{{../sEmployerTown}} <br> {{/if}}
                {{#if ../sEmployerPostcode}}{{../sEmployerPostcode}}{{/if}}
              {{else}}
                &ndash;
              {{/if}}
            </td>
          </tr>
          <tr>
            <th class="table-cell-title">Reason for attaching to earnings</th>
            <td class="table-cell-content">{{../sReasonForAttachingToEarnings}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Reserve terms</th>
            <td class="table-cell-content">{{../sReserveTerms}}</td>
          </tr>
          {{#is ../sReserveTerms "Lump sum plus instalments"}}
          <tr>
            <th class="table-cell-title">Amount to be paid</th>
            <td class="table-cell-content">&pound;{{../sLumpSumAmount}}</td>
          </tr>
          <tr>
            <th class="table-cell-title">Instalment amount</th>
            <td class="table-cell-content">&pound;{{../sLumpSumInstalmentAmount}} ({{../sLumpSumInstalmentMade}}) starting on ({{moment ../sLumpSumInstalmentStartDate format="D MMMM YYYY"}})</td>
          </tr>
          {{/is}}
          {{#is ../sReserveTerms "Instalments only"}}
          <tr>
            <th class="table-cell-title">Instalment amount</th>
            <td class="table-cell-content">&pound;{{../sInstalmentOnlyAmount}} ({{../sInstalmentOnlyMade}}) starting on ({{moment ../sInstalmentOnlyStartDate format="D MMMM YYYY"}})</td>
          </tr>
          {{/is}}
        </tbody>
        {{/is}}
      </table>

      <p class="check-answers-action"><a href="{{../baseurl}}payment-method/{{id}}/?change=true">Change<span class="visually-hidden"> payment</span></a></p>

    </div>

  </section>
  {{/is}}


  <hr class="divider divider-border-dark divider-gutter-large" aria-hidden="true">


  <section aria-labelledby="other-information">

    <h2 class="heading-medium" id="other-information">Add a note (optional)</h2>

    <p class="text">This will only be seen by court staff.</p>

    <form class="form" method="post">

      <div class="form-group">
        <label class="visually-hidden" for="notes">
          <span class="form-label">Notes (optional)</span>
        </label>
        <textarea class="form-control form-control-textarea" id="notes" name="notes" rows="3" cols="60"></textarea>
      </div>

      <div class="form-group form-group-related">
        <button class="button" type="submit">Confirm and submit</button>
      </div>

      <p><a href="{{../sBack}}">Back</a></p>

    </form>

  </section>


{{/with}}
