{{>breadcrumb}}

{{#with search}}

<div class="persist-info">
  <div class="persist-info-content">
    <span class="persist-info-reference">{{personal-details.urn}}</span>
    <span class="persist-info-title"><b>{{personal-details.firstname}} {{uppercase personal-details.lastname}}</b></span>
  </div>
  <ul class="persist-info-links">
    <li><a href="/legal-adviser/end-session/">End session</a></li>
  </ul>
</div>

  <h1 class="heading-xlarge">{{../pagetitle}}</h1>

  <section class="check-answers" aria-labelledby="offences">

    <header class="check-answers-header">
      <h2 class="bold-medium" id="offences">Offences</h2>
    </header>

    <dl class="meta meta-light meta-large">
      <dt>Offence</dt>
      <dd>Passenger used a ticket issued for another person</dd>
      <dt>Plea</dt>
      <dd>Guilty</dd>
    </dl>

  </section>

  <section class="check-answers" aria-labelledby="make-a-decision">

    <header class="check-answers-header">
      <h2 class="bold-medium" id="make-a-decision">Make a decision</h2>
      <a class="check-answers-action" href="/legal-adviser/case-details/{{id}}/?change=true/#offence-decision" title="Change make a decision">Change <span class="visually-hidden">make a decision</span></a>
    </header>

    <dl class="meta meta-light meta-large">
      <dt>Decision</dt>
      <dd>
        {{#if ../sMakeDecision}}
          {{../sMakeDecision}}
        {{else}}
          {{#if offence.decision}}
            {{offence.decision}}
          {{else}}
            &ndash;
          {{/if}}
        {{/if}}
      </dd>
    </dl>

  </section>

  <hr aria-hidden="true">

  <section class="check-answers" aria-labelledby="fine-and-compensation">

    <header class="check-answers-header">
      <h2 class="bold-medium" id="fine-and-compensation">Fine and compensation</h2>
      <a class="check-answers-action" href="/legal-adviser/your-decisions/{{id}}/?change=true/#fine-and-compensation" title="Change fine and compensation">Change <span class="visually-hidden">fine and compensation</span></a>
    </header>

    <dl class="meta meta-light meta-large">

      <dt>Find band applied</dt>
      <dd>
      {{#if ../sFineBandApplied}}
        {{../sFineBandApplied}}
      {{else}}
        {{#if offence.fine-band-applied}}
          {{offence.fine-band-applied}}
        {{else}}
          &ndash;
        {{/if}}
      {{/if}}
      </dd>

      <dt>Fine</dt>
      <dd>
        {{#if ../sFine}}
          {{../sFine}}
        {{else}}
          {{#if offence.fine}}
            {{offence.fine}}
          {{else}}
            &ndash;
          {{/if}}
        {{/if}}
      </dd>

      <dt>Compensation</dt>
      <dd>
        {{#if ../sCompensation}}
          {{../sCompensation}}
        {{else}}
          {{#if offence.compensation}}
            {{offence.compensation}}
          {{else}}
            &ndash;
          {{/if}}
        {{/if}}
      </dd>
    </dl>

  </section>

  <section class="check-answers" aria-labelledby="cost-and-surcharge">

    <header class="check-answers-header">
      <h2 class="bold-medium" id="cost-and-surcharge">Cost and surcharge</h2>
      <a class="check-answers-action" href="/legal-adviser/your-decisions/{{id}}/?change=true/#costs-and-surcharge" title="Change cost and surcharge">Change <span class="visually-hidden">cost and surcharge</span></a>
    </header>

    <dl class="meta meta-light meta-large">

      <dt>Cost</dt>
      <dd>
        {{#if ../sCost}}
          &pound;{{../sCost}}
        {{else}}
          &pound;{{offence.cost}}
        {{/if}}
      </dd>

      <dt>Surcharge and victim fund</dt>
      <dd>
        {{#if ../sSurcharge}}
          &pound;{{../sSurcharge}}
        {{else}}
          &pound;{{offence.surcharge}}
        {{/if}}
      </dd>

      <dt>Collection order issued</dt>
      <dd>
      {{#if ../sCollectionOrderConfirmed}}
        {{#contains ../sCollectionOrderConfirmed "true"}}Yes{{else}}No{{/contains}}
      {{else}}
        {{#contains offence.collection-order-confirmed "true"}}Yes{{else}}No{{/contains}}
      {{/if}}
    </dd>

    </dl>

  </section>

  <hr aria-hidden="true">

  <section class="check-answers" aria-labelledby="collection-and-payment">

    <header class="check-answers-header">
      <h2 class="bold-medium" id="collection-and-payment">Collection and payment</h2>
      <a class="check-answers-action" href="/legal-adviser/collection-payment/{{id}}/?change=true/#collection-payment" title="Change collection and payment">Change <span class="visually-hidden">collection and payment</span></a>
    </header>


    {{#is ../sPaymentMethod "Pay direct to court"}}

      <dl class="meta meta-light meta-large">

        <dt>Payment method</dt>
        <dd>
          {{#if ../sPaymentMethod}}
            {{../sPaymentMethod}}
          {{else}}
            {{offence.payment-method}}
          {{/if}}
        </dd>

        <dt>Reason you didn&rsquo;t deduct from benefits?</dt>
        <dd>
          {{#if ../sReasonForNotDeductFromBenefitsOrAttachToEarnings}}
            {{../sReasonForNotDeductFromBenefitsOrAttachToEarnings}}
          {{else}}
            {{offence.reason-for-not-deducting-from-benefits}}
          {{/if}}
        </dd>

        <dt>How should defendant pay the court?</dt>
        <dd>
          {{#if ../sDefendantPay}}
            {{../sDefendantPay}}
          {{else}}
            {{offence.defendant-pay}}
          {{/if}}
        </dd>

      </dl>

    {{/is}}


    {{#is ../sPaymentMethod "Deduct from benefits"}}

      <dl class="meta meta-light meta-large">

        <dt>Payment method</dt>
        <dd>Deduct from benefits</dd>

        <dt>National Insurance number</dt>
        <dd>
          {{#if ../sNationalInsuranceNumber}}
            {{../sNationalInsuranceNumber}}
          {{else}}
            {{employment.national-insurance-number}}
          {{/if}}
        </dd>

        <dt>Reason for deducting from benefits</dt>
        <dd>
          {{#if ../sReserveTerms}}
            {{../sReserveTerms}}
          {{else}}
            {{offence.reserve-terms}}
          {{/if}}
        </dd>

        {{#is ../sReserveTerms "Lump sum plus instalments"}}
          <dt>Amount to be paid</dt>
          <dd>&pound;200.00 (within 14 days)</dd>
          <dt>Instalment amount</dt>
          <dd>&pound;50.00 (weekly) starting on 16 December 2017</dd>
        {{/is}}

        {{#is ../sReserveTerms "Instalments only"}}
          <dt>Instalment amount</dt>
          <dd>&pound;50.00 (weekly) starting on 16 December 2017</dd>
        {{/is}}

      </dl>

    {{/is}}


    {{#is ../sPaymentMethod "Attach to earnings"}}

      <dl class="meta meta-light meta-large">

        <dt>Payment method</dt>
        <dd>
          {{#if ../sPaymentMethod}}
            {{../sPaymentMethod}}
          {{else}}
            {{offence.paymentMethod}}
          {{/if}}
        </dd>

        <dt>Employee number</dt>
        <dd>
          {{#if ../sEmployeeNumber}}
            {{../sEmployeeNumber}}
          {{else}}
            {{employment.employee-number}}
          {{/if}}
        </dd>

        <dt>Employer name</dt>
        <dd>
          {{#if ../sEmployerName}}
            {{../sEmployerName}}
          {{else}}
            {{employment.employer-name}}
          {{/if}}
        </dd>

        <dt>Employer address</dt>
        <dd>
          {{#if ../sEmployerAddress1}}
            {{#if ../sEmployerAddress1}}{{../sEmployerAddress1}} <br>{{/if}}
            {{#if ../sEmployerAddress2}}{{../sEmployerAddress2}} <br>{{/if}}
            {{#if ../sEmployerTown}}{{../sEmployerTown}}<br> {{/if}}
            {{#if ../sEmployerPostcode}}{{../sEmployerPostcode}}{{/if}}
          {{else}}
            {{#if employment.employer-address.address1}}{{employment.employer-address.address1}}<br>{{/if}}
            {{#if employment.employer-address.address2}}{{employment.employer-address.address2}}<br>{{/if}}
            {{#if employment.employer-address.town}}{{employment.employer-address.town}}<br>{{/if}}
            {{#if employment.employer-address.postcode}}{{employment.employer-address.postcode}}{{/if}}
          {{/if}}
        </dd>

        <dt>Reason for attaching to earnings</dt>
        <dd>
          {{#if ../reasonForAttachingToEarnings}}
            {{../reasonForAttachingToEarnings}}
          {{else}}
            {{offence.reason-for-attaching-to-earnings}}
          {{/if}}
        </dd>

        <dt>Reserve terms</dt>
        <dd>
          {{#if ../sReservedTerms}}
            {{../sReservedTerms}}
          {{else}}
            {{offence.reserve-terms}}
          {{/if}}
        </dd>

      </dl>

    {{/is}}



  </section>

  <hr aria-hidden="true">

  <section class="check-answers" aria-labelledby="decision">

    <h2 class="heading-medium" id="decision">Decision</h2>

    <div class="panel panel-border-narrow">
      <p class="text">Only add if you have important information you couldn&rsquo;t enter elsewhere. The details you enter may be shown publicly, for example to the defendant.</p>
    </div>

    <form class="form" method="post">

      <div class="form-group">
        <label for="notes">
          <span class="form-label">Notes (optional)</span>
        </label>
        <textarea class="form-control form-control-textarea" id="notes" name="notes" rows="5" cols="60"></textarea>
      </div>

      <div class="form-group form-group-related">
        <button class="button" type="submit">Save and continue</button>
      </div>

      <p><a href="{{../sBack}}">Back</a></p>

    </form>

  </section>

{{/with}}
