{{>breadcrumb}}

{{#with search}}

  {{>legal-adviser/persist-info}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      {{#if ../sTotalToPay}}
      <div class="panel panel-border-wide" role="note" aria-label="Information">
        <p>Total to pay <br> <b class="bold-medium">&pound;{{../sTotalToPay}}</b></p>
      </div>
      {{/if}}

      <form class="form" method="post" novalidate>

        <h2 class="heading-medium">Defendant&rsquo;s details</h2>

        <div class="form-group">
          <label for="national-insurance-number">
            <span class="form-label">National Insurance number</span>
            <span class="form-hint" id="national-insurance-number-hint">For example, VO 12 34 56 D</span>
          </label>
          <input class="form-control" id="national-insurance-number" name="nationalInsuranceNumber" type="text" value="{{#if ../sNationalInsuranceNumber}}{{../sNationalInsuranceNumber}}{{else}}{{employment.national-insurance-number}}{{/if}}" aria-describedby="national-insurance-number-hint">
        </div>

        <h2 class="heading-medium">Reason for deducting from benefits</h2>

        <div class="form-group">

          <fieldset>

            <legend class="visually-hidden">Reason for deducting from benefits</legend>

            <div class="multiple-choice">
              <input id="compensation-ordered" name="reasonForDeductingFromBenefits" type="radio" value="Compensation ordered"
              {{#if ../sReasonForDeductingFromBenefits}}
                {{#contains ../sReasonForDeductingFromBenefits "Compensation ordered"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reason-for-deducting-from-benefits "Compensation ordered"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="compensation-ordered">Compensation ordered</label>
            </div>

            <p class="form-block">or</p>

            <div class="multiple-choice">
              <input id="known-defaulter" name="reasonForDeductingFromBenefits" type="radio" value="Defendant is a know defaulter"
              {{#if ../sReasonForDeductingFromBenefits}}
                {{#contains ../sReasonForDeductingFromBenefits "Defendant is a know defaulter"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reason-for-deducting-from-benefits "Defendant is a know defaulter"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="known-defaulter">Defendant is a known defaulter</label>
            </div>

            <div class="multiple-choice">
              <input id="defendant-requested" name="reasonForDeductingFromBenefits" type="radio" value="Defendant requested this"
              {{#if ../sReasonForDeductingFromBenefits}}
                {{#contains ../sReasonForDeductingFromBenefits "Defendant requested this"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reason-for-deducting-from-benefits "Defendant requested this"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="defendant-requested">Defendant requested this</label>
            </div>

          </fieldset>

        </div>

        <h2 class="heading-medium">Set reserve terms</h2>

        <div class="form-group form-group-last">

          <fieldset>

            <legend class="visually-hidden">Set reserve terms</legend>

            <div class="multiple-choice">
              <input id="reserve-terms-pay-14-days" name="reserveTerms" type="radio" value="Lump sum within 14 days"
              {{#if ../sReserveTerms}}
                {{#contains ../sReserveTerms "Lump sum within 14 days"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reserve-terms "Lump sum within 14 days"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="reserve-terms-pay-14-days">Lump sum within 14 days</label>
            </div>

            <p class="form-block">or</p>

            <div class="multiple-choice">
              <input id="reserve-terms-pay-28-days" name="reserveTerms" type="radio" value="Lump sum within 28 days"
              {{#if ../sReserveTerms}}
                {{#contains ../sReserveTerms "Lump sum within 28 days"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reserve-terms "Lump sum within 28 days"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="reserve-terms-pay-28-days">Lump sum within 28 days</label>
            </div>

            <div class="multiple-choice" data-target="lump-sum-plus-instalments">
              <input id="reserve-terms-lump-sum" name="reserveTerms" type="radio" value="Lump sum plus instalments"
              {{#if ../sReserveTerms}}
                {{#contains ../sReserveTerms "Lump sum plus instalments"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reserve-terms "Lump sum plus instalments"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="reserve-terms-lump-sum">Lump sum plus instalments</label>
            </div>

            <div class="panel panel-border-narrow{{#isnt ../sReserveTerms "Lump sum plus instalments"}} js-hidden{{/isnt}}" id="lump-sum-plus-instalments">

              <div class="form-group">
                <label for="lump-sum-amount">
                  <span class="form-label">Lump sum amount</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" id="lump-sum-amount" name="lumpSumAmount" type="text"{{#if ../sLumpSumAmount}} value="{{../sLumpSumAmount}}"{{/if}}>
                </div>
              </div>

              <div class="form-group">
                <label for="lump-sum-instalment-amount">
                  <span class="form-label">Instalment amount</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" id="lump-sum-instalment-amount" name="lumpSumInstalmentAmount" type="text"{{#if ../sLumpSumInstalmentAmount}} value="{{../sLumpSumInstalmentAmount}}"{{/if}}>
                </div>
              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">How often should instalments be made?</span>
                  </legend>

                  <div class="multiple-choice">
                    <input id="lump-sum-weekly" name="lumpSumInstalmentMade" type="radio" value="Weekly"{{#contains ../sLumpSumInstalmentMade "Weekly"}} checked="checked"{{/contains}}>
                    <label for="lump-sum-weekly"><span class="visually-hidden">Lump sum instalments made </span>Weekly</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="lump-sum-fortnightly" name="lumpSumInstalmentMade" type="radio" value="Fortnightly"{{#contains ../sLumpSumInstalmentMade "Fortnightly"}} checked="checked"{{/contains}}>
                    <label for="lump-sum-fortnightly"><span class="visually-hidden">Lump sum instalments made </span>Fortnightly</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="lump-sum-monthly" name="lumpSumInstalmentMade" type="radio" value="Monthly"{{#contains ../sLumpSumInstalmentMade "Monthly"}} checked="checked"{{/contains}}>
                    <label for="lump-sum-monthly"><span class="visually-hidden">Lump sum instalments made </span>Monthly</label>
                  </div>

                </fieldset>

              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">Instalment start date</span>
                    <span class="form-hint" id="lump-sum-instalment-start-date-hint">For example, 31 3 2017</span>
                  </legend>

                  <div class="form-date">

                    <div class="form-group form-group-day">
                      <label class="form-label" for="lump-sum-instalment-start-date-day">Day</label>
                      <input class="form-control" type="text" id="lump-sum-instalment-start-date-day" name="lumpSumInstalmentStartDateDay"{{#if ../sLumpSumInstalmentStartDateDay}} value="{{../sLumpSumInstalmentStartDateDay}}"{{/if}} aria-describedby="lump-sum-instalment-start-date-hint">
                    </div>

                    <div class="form-group form-group-month">
                      <label class="form-label" for="lump-sum-instalment-start-date-month">Month</label>
                      <input class="form-control" type="text" id="lump-sum-instalment-start-date-month" name="lumpSumInstalmentStartDateMonth"{{#if ../sLumpSumInstalmentStartDateMonth}} value="{{../sLumpSumInstalmentStartDateMonth}}"{{/if}}>
                    </div>

                    <div class="form-group form-group-year">
                      <label class="form-label" for="lump-sum-instalment-start-date-year">Year</label>
                      <input class="form-control" type="text" id="lump-sum-instalment-start-date-year" name="lumpSumInstalmentStartDateYear"{{#if ../sLumpSumInstalmentStartDateYear}} value="{{../sLumpSumInstalmentStartDateYear}}"{{/if}}>
                    </div>

                  </div>

                </fieldset>

              </div>

            </div>

            <div class="multiple-choice" data-target="instalments-only">
              <input id="reserve-terms-instalments" name="reserveTerms" type="radio" value="Instalments only"
              {{#if ../sReserveTerms}}
                {{#contains ../sReserveTerms "Instalments only"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reserve-terms "Instalments only"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="reserve-terms-instalments">Instalments only</label>
            </div>

            <div class="panel panel-border-narrow{{#isnt ../sReserveTerms "Instalments only"}} js-hidden{{/isnt}}" id="instalments-only">

              <div class="form-group">
                <label for="instalment-only-amount">
                  <span class="form-label">Instalment amount</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" id="instalment-only-amount" name="instalmentOnlyAmount" type="text"{{#if ../sInstalmentOnlyAmount}} value="{{../sInstalmentOnlyAmount}}"{{/if}}>
                </div>
              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">How often should instalments be made?</span>
                  </legend>

                  <div class="multiple-choice">
                    <input id="instalments-only-weekly" name="instalmentOnlyMade" type="radio" value="Weekly"{{#contains ../sInstalmentOnlyMade "Weekly"}} checked="checked"{{/contains}}>
                    <label for="instalments-only-weekly"><span class="visually-hidden">Instalments only made </span>Weekly</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="instalments-only-fortnightly" name="instalmentOnlyMade" type="radio" value="Fortnightly"{{#contains ../sInstalmentOnlyMade "Fortnightly"}} checked="checked"{{/contains}}>
                    <label for="instalments-only-fortnightly"><span class="visually-hidden">Instalments only made </span>Fortnightly</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="instalments-only-monthly" name="instalmentOnlyMade" type="radio" value="Monthly"{{#contains ../sInstalmentOnlyMade "Monthly"}} checked="checked"{{/contains}}>
                    <label for="instalments-only-monthly"><span class="visually-hidden">Instalments only made </span>Monthly</label>
                  </div>

                </fieldset>

              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">Instalment start date</span>
                    <span class="form-hint" id="instalment-only-start-date-hint">For example, 31 3 2017</span>
                  </legend>

                  <div class="form-date">

                    <div class="form-group form-group-day">
                      <label class="form-label" for="instalment-only-start-date-day">Day</label>
                      <input class="form-control" type="text" id="instalment-only-start-date-day" name="instalmentOnlyStartDateDay"{{#if ../sInstalmentOnlyStartDateDay}} value="{{../sInstalmentOnlyStartDateDay}}"{{/if}} aria-describedby="instalment-only-start-date-hint">
                    </div>

                    <div class="form-group form-group-month">
                      <label class="form-label" for="instalment-only-start-date-month">Month</label>
                      <input class="form-control" type="text" id="instalment-only-start-date-month" name="instalmentOnlyStartDateMonth"{{#if ../sInstalmentOnlyStartDateMonth}} value="{{../sInstalmentOnlyStartDateMonth}}"{{/if}}>
                    </div>

                    <div class="form-group form-group-year">
                      <label class="form-label" for="instalment-only-start-date-year">Year</label>
                      <input class="form-control" type="text" id="instalment-only-start-date-year" name="instalmentOnlyStartDateYear"{{#if ../sInstalmentOnlyStartDateYear}} value="{{../sInstalmentOnlyStartDateYear}}"{{/if}}>
                    </div>

                  </div>

                </fieldset>

              </div>

            </div>

          </fieldset>

        </div>

        <div class="form-group form-group-related">
          <button class="button" type="submit">Save and continue</button>
        </div>

        <p><a href="{{../sBack}}">Back</a><p>

      </form>

    </div>

    <div class="column-third">
      <div class="related">
        {{>legal-adviser/related-documents}}
      </div>
    </div>

  </div>

{{/with}}
