{{>breadcrumb}}

{{#with search}}

  <div class="persist-info">
    <div class="persist-info-content">
      <span class="persist-info-reference">{{personal-details.urn}}</span>
      <span class="persist-info-title"><b>{{personal-details.firstname}} {{uppercase personal-details.lastname}}</b></span>
    </div>
    <ul class="persist-info-links">
      <li><a href="/legal-adviser/end-session/">End session</a></li>
    </ul>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      <form class="form" method="post">

        <h3 class="heading-medium">Defendant&rsquo;s details</h3>

        <div class="form-group">
          <label for="national-insurance-number">
            <span class="form-label">National Insurance number</span>
            <span class="form-hint" id="national-insurance-number-hint">For example, VO 12 34 56 D</span>
          </label>
          <input class="form-control" type="text" id="national-insurance-number" name="nationalInsuranceNumber" value="{{#if ../sNationalInsuranceNumber}}{{../sNationalInsuranceNumber}}{{else}}{{employment.national-insurance-number}}{{/if}}" aria-describedby="defendants-national-insurance-number">
        </div>

        <h3 class="heading-medium">Reason for deducting from benefits</h3>

        <div class="form-group">

          <fieldset>

            <legend class="visuallyhidden">Reason for deducting from benefits</legend>

            <label class="block-label">
              <input type="radio" name="reasonForDeductingFromBenefits" value="Compensation ordered"
              {{#if ../sReasonForDeductingFromBenefits}}
                {{#contains ../sReasonForDeductingFromBenefits "Compensation ordered"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reason-for-deducting-from-benefits "Compensation ordered"}} checked="checked"{{/contains}}
              {{/if}}>
              Compensation ordered
            </label>

            <p class="form-block">or</p>

            <label class="block-label">
              <input type="radio" name="reasonForDeductingFromBenefits" value="Defendant is a know defaulter"
              {{#if ../sReasonForDeductingFromBenefits}}
                {{#contains ../sReasonForDeductingFromBenefits "Defendant is a know defaulter"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reason-for-deducting-from-benefits "Defendant is a know defaulter"}} checked="checked"{{/contains}}
              {{/if}}>
              Defendant is a known defaulter
            </label>

            <label class="block-label">
              <input type="radio" name="reasonForDeductingFromBenefits" value="Defendant requested this"
              {{#if ../sReasonForDeductingFromBenefits}}
                {{#contains ../sReasonForDeductingFromBenefits "Defendant requested this"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reason-for-deducting-from-benefits "Defendant requested this"}} checked="checked"{{/contains}}
              {{/if}}>
              Defendant requested this
            </label>

          </fieldset>

        </div>

        <h3 class="heading-medium">Set reserve terms</h3>

        <div class="form-group form-group-last">

          <fieldset>

            <legend class="visuallyhidden">Set reserve terms</legend>

            <label class="block-label">
              <input type="radio" name="reserveTerms" value="Lump sum 14 days" checked="checked"
              {{#if ../sReserveTerms}}
                {{#contains ../sReserveTerms "Lump sum 14 days"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reserve-terms "Lump sum 14 days"}} checked="checked"{{/contains}}
              {{/if}}>
              Lump sum  within 14 days
            </label>

            <p class="form-block">or</p>

            <label class="block-label">
              <input type="radio" name="reserveTerms" value="Lump sum 28 days"
              {{#if ../sReserveTerms}}
                {{#contains ../sReserveTerms "Lump sum 28 days"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reserve-terms "Lump sum 28 days"}} checked="checked"{{/contains}}
              {{/if}}>
              Lump sum within 28 days
            </label>

            <label class="block-label" data-target="lump-sum-plus-instalments">
              <input type="radio" name="reserveTerms" value="Lump sum plus instalments"
              {{#if ../sReserveTerms}}
                {{#contains ../sReserveTerms "Lump sum plus instalments"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reserve-terms "Lump sum plus instalments"}} checked="checked"{{/contains}}
              {{/if}}>
              Lump sum plus instalments
            </label>

            <div class="panel panel-border-narrow{{#isnt ../sReserveTerms "Lump sum plus instalments"}} js-hidden{{/isnt}}" id="lump-sum-plus-instalments">

              <div class="form-group">
                <label for="lump-sum-amount">
                  <span class="form-label">Amount</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="lump-sum-amount" name="lumpSumAmount"{{#if ../sLumpSumAmount}} value="{{../sLumpSumAmount}}"{{/if}}>
                </div>
              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">To be paid within</span>
                  </legend>

                  <label class="block-label">
                    <input type="radio" name="lumpSumPaidWithin" value="14 days"{{#contains ../sLumpSumPaidWithin "14 days"}} checked="checked"{{/contains}}> 14 days
                  </label>

                  <label class="block-label">
                    <input type="radio" name="lumpSumPaidWithin" value="28 days"{{#contains ../sLumpSumPaidWithin "28 days"}} checked="checked"{{/contains}}> 28 days
                  </label>

                  <label class="block-label">
                    <input type="radio" name="lumpSumPaidWithin" value="Other"{{#contains ../sLumpSumPaidWithin "Other"}} checked="checked"{{/contains}}> Other
                  </label>

                </fieldset>

              </div>

              <div class="form-group">
                <label for="lump-sum-instalment-amount">
                  <span class="form-label">Instalment amount</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="lump-sum-instalment-amount" name="lumpSumInstalmentAmount"{{#if ../sLumpSumInstalmentAmount}} value="{{../sLumpSumInstalmentAmount}}"{{/if}}>
                </div>
              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">How often should instalments be made?</span>
                  </legend>

                  <label class="block-label">
                    <input type="radio" name="lumpSumInstalmentMade" value="Weekly"{{#contains ../sLumpSumInstalmentMade "Weekly"}} checked="checked"{{/contains}}> Weekly
                  </label>

                  <label class="block-label">
                    <input type="radio" name="lumpSumInstalmentMade" value="Fortnightly"{{#contains ../sLumpSumInstalmentMade "Fortnightly"}} checked="checked"{{/contains}}> Fortnightly
                  </label>

                  <label class="block-label">
                    <input type="radio" name="lumpSumInstalmentMade" value="Monthly"{{#contains ../sLumpSumInstalmentMade "Monthly"}} checked="checked"{{/contains}}> Monthly
                  </label>

                </fieldset>

              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">Instalment start date</span>
                    <span class="form-hint" id="lump-sum-instalment-start-date-hint">For example, 31 3 2017</span>
                  </legend>

                  <div class="form-date">

                    <div class="form-group form-group-day">
                      <label class="form-label" for="lump-sum-instalment-start-date-day">Day</label>
                      <input class="form-control" type="text" id="lump-sum-instalment-start-date-day" name="lumpSumInstalmentStartDateDay" aria-describedby="lump-sum-instalment-start-date-hint">
                    </div>

                    <div class="form-group form-group-month">
                      <label class="form-label" for="lump-sum-instalment-start-date-month">Month</label>
                      <input class="form-control" type="text" id="lump-sum-instalment-start-date-month" name="lumpSumInstalmentStartDateMonth">
                    </div>

                    <div class="form-group form-group-year">
                      <label class="form-label" for="lump-sum-instalment-start-date-year">Year</label>
                      <input class="form-control" type="text" id="lump-sum-instalment-start-date-year" name="lumpSumInstalmentStartDateYear">
                    </div>

                  </div>

                </fieldset>

              </div>

            </div>

            <label class="block-label" data-target="instalments-only">
              <input type="radio" name="reserveTerms" value="Instalments only"
              {{#if ../sReserveTerms}}
                {{#contains ../sReserveTerms "Instalments only"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reserve-terms "Instalments only"}} checked="checked"{{/contains}}
              {{/if}}>
              Instalments only
            </label>

            <div class="panel panel-border-narrow{{#isnt ../sReserveTerms "Instalments only"}} js-hidden{{/isnt}}" id="instalments-only">

              <div class="form-group">
                <label for="instalment-only-amount">
                  <span class="form-label">Instalment amount</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="instalment-only-amount" name="instalmentOnlyAmount"{{#if ../sInstalmentOnlyAmount}} value="{{../sInstalmentOnlyAmount}}"{{/if}}>
                </div>
              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">How often should instalments be made?</span>
                  </legend>

                  <label class="block-label">
                    <input type="radio" name="instalmentOnlyMade" value="Weekly"{{#contains ../sInstalmentOnlyMade "Weekly"}} checked="checked"{{/contains}}> Weekly
                  </label>

                  <label class="block-label">
                    <input type="radio" name="instalmentOnlyMade" value="Fortnightly"{{#contains ../sInstalmentOnlyMade "Fortnightly"}} checked="checked"{{/contains}}> Fortnightly
                  </label>

                  <label class="block-label">
                    <input type="radio" name="instalmentOnlyMade" value="Monthly"{{#contains ../sInstalmentOnlyMade "Monthly"}} checked="checked"{{/contains}}> Monthly
                  </label>

                </fieldset>

              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">Instalment start date</span>
                    <span class="form-hint" id="lump-sum-instalment-start-date-hint">For example, 31 3 2017</span>
                  </legend>

                  <div class="form-date">

                    <div class="form-group form-group-day">
                      <label class="form-label" for="lump-sum-instalment-start-date-day">Day</label>
                      <input class="form-control" type="text" id="lump-sum-instalment-start-date-day" name="lumpSumInstalmentStartDateDay" aria-describedby="lump-sum-instalment-start-date-hint">
                    </div>

                    <div class="form-group form-group-month">
                      <label class="form-label" for="lump-sum-instalment-start-date-month">Month</label>
                      <input class="form-control" type="text" id="lump-sum-instalment-start-date-month" name="lumpSumInstalmentStartDateMonth">
                    </div>

                    <div class="form-group form-group-year">
                      <label class="form-label" for="lump-sum-instalment-start-date-year">Year</label>
                      <input class="form-control" type="text" id="lump-sum-instalment-start-date-year" name="lumpSumInstalmentStartDateYear">
                    </div>

                  </div>

                </fieldset>

              </div>

            </div>

          </fieldset>

        </div>

        <div class="form-group form-group-related">
          <button class="button" type="submit">Save and continue</button>
        </div>

        <p><a href="{{../sBack}}">Back</a><p>

      </form>

    </div>

    <div class="column-third">

      <div class="related">

        <h3 class="bold-medium">Weekly income</h3>
        <p>&pound;440 (assumed)</p>

        <div class="related-section">
          <h3 class="related-heading">Documents</h3>
          <ul class="related-links">
            {{#each related-documents.document}}
              {{#is show true}}
                <li>
                  <div class="document document-small">
                    <i class="icon icon-file-download"></i>
                    <div class="document-content">
                      <p class="document-title"><a href="#">{{{capitalize title}}}</a></p>
                        <div class="document-meta">
                          <span class="document-meta-details">
                            {{{file-type}}}, {{{file-size}}}, {{{file-pages}}} {{#if printed-for-posting}}<br> <time datetime="{{printed-for-posting-iso}}">{{printed-for-posting}}</time>{{/if}}
                        </span>
                      </div>
                    </div>
                  </div>
                </li>
              {{/is}}
            {{/each}}
          </ul>
        </div>

      </div>

    </div>

  </div>

{{/with}}
