{{>breadcrumb}}

{{#with search}}

  <div class="persist-info">
    <div class="persist-info-content">
      <span class="persist-info-reference">{{personal-details.urn}}</span>
      <span class="persist-info-title"><b>{{personal-details.firstname}} {{uppercase personal-details.lastname}}</b></span>
    </div>
    <ul class="persist-info-links">
      <li><a href="/legal-adviser/end-session/">End session</a></li>
    </ul>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      <form class="form" method="post">

        <h3 class="heading-medium">Select why you didn&rsquo;t deduct from benefits or attach to earnings</h3>

        <div class="form-group">

          <fieldset>

            <legend class="visuallyhidden">Select why you didn&rsquo;t deduct from benefits or attach to earnings</legend>

            <label class="block-label">
              <input type="radio" name="reasonForNotDeductFromBenefitsOrAttachToEarnings" value="No information from the defendant"
              {{#if ../reasonForNotDeductFromBenefitsOrAttachToEarnings}}
                {{#contains ../reasonForNotDeductFromBenefitsOrAttachToEarnings "No information from the defendant"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reason-for-not-deducting-from-benefits "No information from the defendant"}} checked="checked"{{/contains}}
              {{/if}}>
              No information from defendant
            </label>

            <label class="block-label" data-target="reason">
              <input type="radio" name="reasonForNotDeductFromBenefitsOrAttachToEarnings" value="Other reason"
              {{#if ../reasonForNotDeductFromBenefitsOrAttachToEarnings}}
                {{#contains ../reasonForNotDeductFromBenefitsOrAttachToEarnings "Other reason"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.reason-for-not-deducting-from-benefits "Other reason"}} checked="checked"{{/contains}}
              {{/if}}>
              Other reason
            </label>

            <div class="panel panel-border-narrow js-hidden" id="reason">
              <label for="other-reason">
                <span class="form-label">Enter reason</span>
              </label>
              <textarea class="form-control form-control-3-4 form-control-textarea" id="other-reason" name="otherReason" rows="5" cols="60"></textarea>
            </div>

          </fieldset>

        </div>

        <h3 class="heading-medium">How should defendant pay the court?</h3>

        <div class="form-group form-group-last">

          <fieldset>

            <legend class="visuallyhidden">How should defendant pay the court?</legend>

            <label class="block-label">
              <input type="radio" name="defendantPay" value="Lump sum within 14 days"
              {{#if ../sDefendantPay}}
                {{#contains ../sDefendantPay "Lump sum within 14 days"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.defendant-pay "Lump sum within 14 days"}} checked="checked"{{/contains}}
              {{/if}}> Lump sum within 14 days
            </label>

            <p class="form-block">or</p>

            <label class="block-label">
              <input type="radio" name="defendantPay" value="Lump sum within 28 days"
              {{#if ../sDefendantPay}}
                {{#contains ../sDefendantPay "Lump sum within 28 days"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.defendant-pay "Lump sum within 28 days"}} checked="checked"{{/contains}}
              {{/if}}> Lump sum within 28 days
            </label>

            <label class="block-label" data-target="lump-sum-plus-instalments">
              <input type="radio" name="defendantPay" value="Lump sum plus instalments"
              {{#if ../sDefendantPay}}
                {{#contains ../sDefendantPay "Lump sum plus instalments"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.defendant-pay "Lump sum plus instalments"}} checked="checked"{{/contains}}
              {{/if}}> Lump sum plus instalments
            </label>

            <div class="panel panel-border-narrow js-hidden" id="lump-sum-plus-instalments">

              <div class="form-group">
                <label for="lump-sum-amount">
                  <span class="form-label">Amount</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="lump-sum-amount" name="lumpSumAmount"{{#if ../sLumpSumAmount}} value="{{../sLumpSumAmount}}"{{/if}}>
                </div>
              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">To be paid within</span>
                  </legend>

                  <label class="block-label">
                    <input type="radio" name="lumpSumAmountPaidWithin" value="14 days"{{#contains ../sLumpSumPaidWithin "14 days"}} checked="checked"{{/contains}}> 14 days
                  </label>

                  <label class="block-label">
                    <input type="radio" name="lumpSumAmountPaidWithin" value="28 days"{{#contains ../sLumpSumPaidWithin "28 days"}} checked="checked"{{/contains}}> 28 days
                  </label>

                  <label class="block-label">
                    <input type="radio" name="lumpSumAmountPaidWithin" value="Other"{{#contains ../sLumpSumPaidWithin "Other"}} checked="checked"{{/contains}}> Other
                  </label>

                </fieldset>

              </div>

              <div class="form-group">
                <label for="lump-sum-instalment-amount">
                  <span class="form-label">Instalment amount</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="lump-sum-instalment-amount" name="lumpSumInstalmentAmount"{{#if ../sLumpSumInstalmentAmount}} value="{{../sLumpSumInstalmentAmount}}"{{/if}}>
                </div>
              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">How often should instalments be made?</span>
                  </legend>

                  <label class="block-label">
                    <input type="radio" name="lumpSumInstalmentsMade" value="Weekly"{{#contains ../sLumpSumInstalmentMade "Weekly"}} checked="checked"{{/contains}}> Weekly
                  </label>

                  <label class="block-label">
                    <input type="radio" name="lumpSumInstalmentsMade" value="Fortnightly"{{#contains ../sLumpSumInstalmentMade "Fortnightly"}} checked="checked"{{/contains}}> Fortnightly
                  </label>

                  <label class="block-label">
                    <input type="radio" name="lumpSumInstalmentsMade" value="Monthly"{{#contains ../sLumpSumInstalmentMade "Monthly"}} checked="checked"{{/contains}}> Monthly
                  </label>

                </fieldset>

              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">Instalment start date</span>
                    <span class="form-hint" id="lump-sum-instalment-start-date-hint">For example, 31 3 2017</span>
                  </legend>

                  <div class="form-date">

                    <div class="form-group form-group-day">
                      <label class="form-label" for="lump-sum-instalment-start-date-day">Day</label>
                      <input class="form-control" type="text" id="lump-sum-instalment-start-date-day" name="lumpSumInstalmentStartDateDay" aria-describedby="lump-sum-instalment-start-date-hint">
                    </div>

                    <div class="form-group form-group-month">
                      <label class="form-label" for="lump-sum-instalment-start-date-month">Month</label>
                      <input class="form-control" type="text" id="lump-sum-instalment-start-date-month" name="lumpSumInstalmentStartDateMonth">
                    </div>

                    <div class="form-group form-group-year">
                      <label class="form-label" for="lump-sum-instalment-start-date-year">Year</label>
                      <input class="form-control" type="text" id="lump-sum-instalment-start-date-year" name="lumpSumInstalmentStartDateYear">
                    </div>

                  </div>

                </fieldset>

              </div>

            </div>

            <label class="block-label" data-target="lump-sum-instalments-only">
              <input type="radio" name="defendantPay" value="Instalments only"
              {{#if ../sDefendantPay}}
                {{#contains ../sDefendantPay "Instalments only"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.defendant-pay "Instalments only"}} checked="checked"{{/contains}}
              {{/if}}> Instalments only
            </label>

            <div class="panel panel-border-narrow{{#isnt ../sDefendantPay "Instalments only"}} js-hidden{{/isnt}}" id="lump-sum-instalments-only">

              <div class="form-group">
                <label for="instalment-amount">
                  <span class="form-label">Instalment amount</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="instalment-amount" name="instalmentAmount"{{#if ../sInstalmentOnlyAmount}} value="{{../sInstalmentOnlyAmount}}"{{/if}}>
                </div>
              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">How often should instalments be made?</span>
                  </legend>

                  <label class="block-label">
                    <input type="radio" name="instalmentsMade" value="Weekly"{{#contains ../sInstalmentOnlyMade "Weekly"}} checked="checked"{{/contains}}> Weekly
                  </label>

                  <label class="block-label">
                    <input type="radio" name="instalmentsMade" value="Fortnightly"{{#contains ../sInstalmentOnlyMade "Fortnightly"}} checked="checked"{{/contains}}> Fortnightly
                  </label>

                  <label class="block-label">
                    <input type="radio" name="instalmentsMade" value="Monthly"{{#contains ../sInstalmentOnlyMade "Monthly"}} checked="checked"{{/contains}}> Monthly
                  </label>

                </fieldset>

              </div>

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label">Instalment start date</span>
                    <span class="form-hint" id="instalment-start-date-hint">For example, 31 3 2017</span>
                  </legend>

                  <div class="form-date">

                    <div class="form-group form-group-day">
                      <label class="form-label" for="instalment-start-date-day">Day</label>
                      <input class="form-control" type="text" id="instalment-start-date-day" name="instalmentStartDateDay" aria-describedby="instalment-start-date-hint">
                    </div>

                    <div class="form-group form-group-month">
                      <label class="form-label" for="instalment-start-date-month">Month</label>
                      <input class="form-control" type="text" id="instalment-start-date-month" name="instalmentStartDateMonth">
                    </div>

                    <div class="form-group form-group-year">
                      <label class="form-label" for="instalment-start-date-year">Year</label>
                      <input class="form-control" type="text" id="instalment-start-date-year" name="instalmentStartDateYear">
                    </div>

                  </div>

                </fieldset>

              </div>

            </div>

          </fieldset>

        </div>

        <div class="form-group form-group-related">
          <button class="button" type="submit">Save and continue</button>
        </div>

        <p><a href="{{../sBack}}">Back</a><p>

      </form>

    </div>

    <div class="column-third">

      <div class="related">

        <div class="related-section">
          <h3 class="related-heading">Documents</h3>
          <ul class="related-links">
            {{#each related-documents.document}}
              {{#is show true}}
                <li>
                  <div class="document document-small">
                    <i class="icon icon-file-download"></i>
                    <div class="document-content">
                      <p class="document-title"><a href="#">{{{capitalize title}}}</a></p>
                        <div class="document-meta">
                          <span class="document-meta-details">
                            {{{file-type}}}, {{{file-size}}}, {{{file-pages}}} {{#if printed-for-posting}}<br> <time datetime="{{printed-for-posting-iso}}">{{printed-for-posting}}</time>{{/if}}
                        </span>
                      </div>
                    </div>
                  </div>
                </li>
              {{/is}}
            {{/each}}
          </ul>
        </div>

      </div>

    </div>

  </div>

{{/with}}
