{{>breadcrumb}}

{{#with search}}

  {{>legal-adviser/persist-info}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      {{#if ../sTotalToPay}}
      <div class="panel panel-border-wide" role="note" aria-label="Information">
        <p>Total to pay <br> <b class="bold-medium">&pound;{{../sTotalToPay}}</b></p>
      </div>
      {{/if}}

      <form class="form" method="post" novalidate>

        <h2 class="heading-medium" id="collection-payment">Select option</h2>

        <div class="form-group">

          <fieldset>

            <legend class="visually-hidden">Select option</legend>

            <div class="multiple-choice">
              <input id="pay-directly-to-court" name="paymentMethod" type="radio" value="Pay directly to court"
              {{#if ../sPaymentMethod}}
                {{#contains ../sPaymentMethod "Pay directly to court"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.payment-method "Pay directly to court"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="pay-directly-to-court">Pay directly to court</label>
            </div>

            <p class="form-block">or</p>

            <div class="multiple-choice">
              <input id="deduct-from-benefits" name="paymentMethod" type="radio" value="Deduct from benefits"
              {{#if ../sPaymentMethod}}
                {{#contains ../sPaymentMethod "Deduct from benefits"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.payment-method "Deduct from benefits"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="deduct-from-benefits">Deduct from benefits</label>
            </div>

            <div class="multiple-choice">
              <input id="attach-to-earnings" name="paymentMethod" type="radio" value="Attach to earnings"
              {{#if ../sPaymentMethod}}
                {{#contains ../sPaymentMethod "Attach to earnings"}} checked="checked"{{/contains}}
              {{else}}
                {{#contains offence.payment-method "Attach to earnings"}} checked="checked"{{/contains}}
              {{/if}}>
              <label for="attach-to-earnings">Attach to earnings</label>
            </div>

          </fieldset>

        </div>

        <div class="form-group form-group-related">
          <button class="button" type="submit">Save and continue</button>
        </div>

        <p><a href="{{../sBack}}">Back</a><p>

      </form>

    </div>

    <div class="column-third">
      <div class="related">
        {{>legal-adviser/related-documents}}
      </div>
    </div>

  </div>

{{/with}}
