{{>breadcrumb}}

{{#with search}}

  {{>legal-adviser/persist-info}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>
      <h2 class="heading-large">Offence 1</h2>
      <h3 class="bold-medium">{{{offence.title}}}</h3>
      <p class="font-xsmall js-text">{{{offence.offence-wording}}}</p>

      <form class="form" method="post" novalidate>

        <h4 class="heading-medium">Refer for court hearing</h4>

        <div class="form-group">

          <label for="court-location">
            <span class="form-label">Refer to which court?</span>
          </label>

          <select class="form-control" id="court-location" name="courtLocation">
            <option>Select</option>
            <option value="Lavender Hill"{{#contains ../sCourtLocation "Lavender Hill"}} selected{{/contains}}>Lavender Hill</option>
            <option value="Wimbledon"{{#contains ../sCourtLocation "Wimbledon"}} selected{{/contains}}>Wimbledon</option>
            <option value="Swansea"{{#contains ../sCourtLocation "Swansea"}} selected{{/contains}}>Swansea</option>
          </select>

        </div>

        <div class="form-group">

          <label for="court-room">
            <span class="form-label">Court room</span>
          </label>

          <select class="form-control form-control-1-4" id="court-room" name="courtRoom">
            <option>Select</option>
            <option value="01"{{#contains ../sCourtRoom "01"}} selected{{/contains}}>01</option>
            <option value="02"{{#contains ../sCourtRoom "02"}} selected{{/contains}}>02</option>
            <option value="03"{{#contains ../sCourtRoom "03"}} selected{{/contains}}>03</option>
            <option value="04"{{#contains ../sCourtRoom "04"}} selected{{/contains}}>04</option>
            <option value="05"{{#contains ../sCourtRoom "05"}} selected{{/contains}}>05</option>
            <option value="06"{{#contains ../sCourtRoom "06"}} selected{{/contains}}>06</option>
            <option value="07"{{#contains ../sCourtRoom "07"}} selected{{/contains}}>07</option>
            <option value="08"{{#contains ../sCourtRoom "08"}} selected{{/contains}}>08</option>
            <option value="09"{{#contains ../sCourtRoom "09"}} selected{{/contains}}>09</option>
          </select>

        </div>

        <div class="form-group">

          <fieldset>

            <legend>
              <span class="form-label">Date of hearing</span>
              <span class="form-hint" id="date-of-hearing-hint">For example, 31 3 2017</span>
            </legend>

            <div class="form-date">

              <div class="form-group form-group-day">
                <label class="form-label" for="date-of-hearing-day">Day</label>
                <input class="form-control" id="date-of-hearing-day" name="dateOfHearingDay" type="number" aria-describedby="date-of-hearing-hint" value="{{../sDateOfHearingDay}}">
              </div>

              <div class="form-group form-group-month">
                <label class="form-label" for="date-of-hearing-month">Month</label>
                <input class="form-control" id="date-of-hearing-month" name="dateOfHearingMonth" type="number" value="{{../sDateOfHearingMonth}}">
              </div>

              <div class="form-group form-group-year">
                <label class="form-label" for="date-of-hearing-year">Year</label>
                <input class="form-control" id="date-of-hearing-year" name="dateOfHearingYear" type="number" value="{{../sDateOfHearingYear}}">
              </div>

            </div>

          </fieldset>

        </div>

        <div class="form-group">

          <fieldset>

            <legend>
              <span class="form-label">Start time of hearing session</span>
              <span class="form-hint" id="start-time-of-hearing-hint">For example, 13:30</span>
            </legend>

            <div class="form-time">

              <div class="form-group form-group-hour">
                <label class="form-label visually-hidden" for="start-time-of-hearing-hour">Hour</label>
                <input class="form-control" id="start-time-of-hearing-hour" name="startTimeOfHearingHour" type="number" aria-describedby="start-time-of-hearing-hint" value="{{../sStartTimeOfHearingHour}}">
              </div>

              <div class="form-group form-group-minute">
                <label class="form-label visually-hidden" for="start-time-of-hearing-minute">Minutes</label>
                <input class="form-control" id="start-time-of-hearing-minute" name="startTimeOfHearingMinute" type="number" value="{{../sStartTimeOfHearingMinute}}">
              </div>

            </div>

          </fieldset>

        </div>

        <div class="form-group">

          <fieldset>

            <legend>
              <span class="form-label">Reason for referring to court</span>
            </legend>

            <div class="multiple-choice" data-target="equivocal-plea">
              <input id="reason-equivocal" name="reasonForReferring" type="radio" value="Equivocal plea"{{#contains ../sReasonForReferring "Equivocal plea"}} checked{{/contains}}>
              <label for="reason-equivocal">Equivocal plea</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="equivocal-plea">

              <fieldset>

                <legend>
                  <span class="form-label">Select</span>
                </legend>

                <div class="multiple-choice">
                  <input id="defendant-to-attend-to-clarify-plea" name="equivocalPlea" type="radio" value="defendant to attend to clarify plea"{{#contains ../sEquivocalPlea "defendant to attend to clarify plea"}} checked{{/contains}}>
                  <label for="defendant-to-attend-to-clarify-plea">Defendant to attend to clarify plea</label>
                </div>

                <div class="multiple-choice">
                  <input id="for-trial" name="equivocalPlea" type="radio" value="for trial"{{#contains ../sEquivocalPlea "for trial"}} checked{{/contains}}>
                  <label for="for-trial">For trial</label>
                </div>

              </fieldset>

            </div>

            <div class="multiple-choice">
              <input id="reason-defence" name="reasonForReferring" type="radio" value="Defence request"{{#contains ../sReasonForReferring "Defence request"}} checked{{/contains}}>
              <label for="reason-defence">Defence request</label>
            </div>

            <div class="multiple-choice">
              <input id="reason-for-trial" name="reasonForReferring" type="radio" value="For trial"{{#contains ../sReasonForReferring "For trial"}} checked{{/contains}}>
              <label for="reason-for-trial">For trial</label>
            </div>

            <div class="multiple-choice" data-target="case-management-hearing">
              <input id="reason-case-management" name="reasonForReferring" type="radio" value="For case management hearing"{{#contains ../sReasonForReferring "For case management hearing"}} checked{{/contains}}>
              <label for="reason-case-management">For case management hearing</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="case-management-hearing">

              <fieldset>

                <legend>
                  <span class="form-label">Select</span>
                </legend>

                <div class="multiple-choice">
                  <input id="defendant-to-attend" name="caseManagementHearing" type="radio" value="defendant to attend"{{#contains ../sCaseManagementHearing "defendant to attend"}} checked{{/contains}}>
                  <label for="defendant-to-attend">Defendant to attend</label>
                </div>

                <div class="multiple-choice">
                  <input id="no-appearance" name="caseManagementHearing" type="radio" value="no need for defendant to attend"{{#contains ../sCaseManagementHearing "no need for defendant to attend"}} checked{{/contains}}>
                  <label for="no-appearance">No need for defendant to attend</label>
                </div>

              </fieldset>

            </div>

            <div class="multiple-choice">
              <input id="reason-sentencing-hearing" name="reasonForReferring" type="radio" value="For sentencing hearing (defendant to attend)"{{#contains ../sReasonForReferring "For sentencing hearing (defendant to attend)"}} checked{{/contains}}>
              <label for="reason-sentencing-hearing">For sentencing hearing (defendant to attend)</label>
            </div>

            <div class="multiple-choice">
              <input id="reason-disqualification" name="reasonForReferring" type="radio" value="For disqualification (defendant to attend)"{{#contains ../sReasonForReferring "For disqualification (defendant to attend)"}} checked{{/contains}}>
              <label for="reason-disqualification">For disqualification (defendant to attend)</label>
            </div>

            <div class="multiple-choice">
              <input id="reason-case-unsuitable" name="reasonForReferring" type="radio" value="Case unsuitable for SJP"{{#contains ../sReasonForReferring "Case unsuitable for SJP"}} checked{{/contains}}>
              <label for="reason-case-unsuitable">Case unsuitable for <abbr title="Single Justice Procedure">SJP</abbr></label>
            </div>

          </fieldset>

        </div>

        <div class="form-group form-group-related">
          <button class="button" type="submit">Save and continue</button>
        </div>

        <p><a href="{{../baseurl}}case-details/{{id}}">Back</a></p>

      </form>

    </div>

    <div class="column-third">
      <div class="related">
        {{>legal-adviser/related-documents}}
      </div>
    </div>

  </div>

{{/with}}
