{{>breadcrumb}}

{{#with search}}

  <div class="persist-info">
    <div class="persist-info-content">
      <span class="persist-info-reference">{{personal-details.urn}}</span>
      <span class="persist-info-title"><b>{{personal-details.firstname}} {{uppercase personal-details.lastname}}</b></span>
    </div>
    <ul class="persist-info-links">
      <li><a href="/legal-adviser/end-session/">End session</a></li>
    </ul>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      <h2 class="heading-large"><span class="heading-secondary">{{../sMakeDecision}}</span> Offence 1</h2>

      <h3 class="font-medium">Passenger used ticket issued for another person</h3>

      <p class="font-xsmall">On <time datetime="2016-02-18">18 February 2016</time></p>

      <p><strong class="status-label">Guilty plea &ndash; discount applied</strong></p>

      <form class="form" method="post">

        <section aria-labelledby="fine-and-compensation">

          <h3 class="heading-medium" id="fine-and-compensation">Check fine and compensation</h3>

          <div class="form-group">

            <fieldset>

              <legend>
                <span class="form-label">Fine band applied</span>
              </legend>

              <label class="block-label" for="fine-band-b" data-target="band-b">
                <input type="radio" id="fine-band-b" name="fineBandApplied" value="Band B"{{#if ../sFineBandApplied}}{{#contains ../sFineBandApplied "Band B"}} checked="checked"{{/contains}}{{else}} checked="checked"{{/if}}> Band B
              </label>

              <div class="panel panel-border-narrow{{#if ../sFineBandApplied}}{{#isnt ../sFineBandApplied "Band B"}} js-hidden{{/isnt}}{{/if}}" id="band-b">

                <div class="form-group form-group-related">
                  <label for="fine-b">
                    <span class="form-label">Fine</span>
                  </label>
                  <div class="form-currency">
                    <input class="form-control form-control-1-4" type="text" id="fine-b" name="fineB" value="{{#if ../sFineB}}{{../sFineB}}{{else}}220.00{{/if}}">
                  </div>
                </div>

                <div class="form-group">
                  <label for="compensation-b">
                    <span class="form-label">Compensation</span>
                  </label>
                  <div class="form-currency">
                    <input class="form-control form-control-1-4" type="text" id="compensation-b" name="compensationB" value="{{#if ../sCompensationB}}{{../sCompensationB}}{{else}}3.12{{/if}}">
                  </div>
                </div>

              </div>

              <p class="form-block">or switch to</p>

              <label class="block-label" for="fine-band-a"data-target="band-a">
                <input type="radio" id="fine-band-a" name="fineBandApplied" value="Band A"{{#contains ../sFineBandApplied "Band A"}} checked="checked"{{/contains}}> Band A
              </label>

              <div class="panel panel-border-narrow{{#isnt ../sFineBandApplied "Band A"}} js-hidden{{/isnt}}" id="band-a">

                <div class="form-group form-group-related">
                  <label for="fine-a">
                    <span class="form-label">Fine</span>
                  </label>
                  <div class="form-currency">
                    <input class="form-control form-control-1-4" type="text" id="fine-a" name="fineA" value="{{#if ../sFineA}}{{../sFineA}}{{else}}440.00{{/if}}">
                  </div>
                </div>

                <div class="form-group">
                  <label for="compensation-a">
                    <span class="form-label">Compensation</span>
                  </label>
                  <div class="form-currency">
                    <input class="form-control form-control-1-4" type="text" id="compensation-a" name="compensationA" value="{{#if ../sCompensationA}}{{../sCompensationA}}{{else}}3.12{{/if}}">
                  </div>
                </div>

              </div>

              <label class="block-label" for="fine-band-c" data-target="band-c">
                <input type="radio" id="fine-band-c" name="fineBandApplied" value="Band C"{{#contains ../sFineBandApplied "Band C"}} checked="checked"{{/contains}}> Band C
              </label>

              <div class="panel panel-border-narrow{{#isnt ../sFineBandApplied "Band C"}} js-hidden{{/isnt}}" id="band-c">

                <div class="form-group form-group-related">
                  <label for="fine-c">
                    <span class="form-label">Fine</span>
                  </label>
                  <div class="form-currency">
                    <input class="form-control form-control-1-4" type="text" id="fine-c" name="fineC" value="{{#if ../sFineC}}{{../sFineC}}{{else}}660.00{{/if}}">
                  </div>
                </div>

                <div class="form-group">
                  <label for="compensation-c">
                    <span class="form-label">Compensation</span>
                  </label>
                  <div class="form-currency">
                    <input class="form-control form-control-1-4" type="text" id="compensation-c" name="compensationC" value="{{#if ../sCompensation}}{{../sCompensation}}{{else}}3.12{{/if}}">
                  </div>
                </div>

              </div>

            </fieldset>

          </div>

        </section>

        <hr aria-hidden="true">

        <section aria-labelledby="costs-and-surcharge">

          <h3 class="heading-large" id="costs-and-surcharge">Check costs and surcharge</h3>

          <div class="form-group">
            <label for="cost">
              <span class="form-label">Costs</span>
            </label>
            <div class="form-currency">
              <input class="form-control form-control-1-4" type="text" id="cost" name="cost" value="{{#if ../sCost}}{{../sCost}}{{else}}125.00{{/if}}">
            </div>
          </div>

          <div class="form-group">
            <label for="cost">
              <span class="form-label">Surcharge for victim fund</span>
            </label>
            <div class="form-currency">
              <input class="form-control form-control-1-4" type="text" id="surcharge" name="surcharge" value="{{#if ../sSurcharge}}{{../sSurcharge}}{{else}}30.00{{/if}}">
            </div>
          </div>

          <div class="form-group">
            <label class="block-label">
              <input type="checkbox" name="collectionOrderConfirmed" {{#if ../sCollectionOrderConfirmed}}{{#contains ../sCollectionOrderConfirmed "true"}} checked="checked"{{/contains}}{{else}}{{#contains offence.collection-order-confirmed "true"}} checked="checked"{{/contains}}{{/if}}> Confirm a collection order will be issued
            </label>
          </div>

        </section>

        <div class="form-group form-group-related">
          <button class="button" type="submit">Save and continue</button>
        </div>

        <p><a href="{{../sBack}}">Back</a></p>

      </form>

    </div>

    <div class="column-third">

      <div class="related">

        <h3 class="bold-medium">Weekly income</h3>
        <p>&pound;440 (assumed)</p>

        <div class="related-section">
          <h3 class="related-heading">Documents</h3>
          <ul class="related-links">
            {{#each related-documents.document}}
              {{#is show true}}
                <li>
                  <div class="document document-small">
                    <i class="icon icon-file-download"></i>
                    <div class="document-content">
                      <p class="document-title"><a href="#">{{{capitalize title}}}</a></p>
                        <div class="document-meta">
                          <span class="document-meta-details">
                            {{{file-type}}}, {{{file-size}}}, {{{file-pages}}} {{#if printed-for-posting}}<br> <time datetime="{{printed-for-posting-iso}}">{{printed-for-posting}}</time>{{/if}}
                        </span>
                      </div>
                    </div>
                  </div>
                </li>
              {{/is}}
            {{/each}}
          </ul>
        </div>

      </div>

    </div>

  </div>

{{/with}}
