{{>breadcrumb}}

{{#with search}}

  <div class="persist-info">
    <div class="persist-info-content">
      <span class="persist-info-reference">{{personal-details.urn}}</span>
      <span class="persist-info-title"><b>{{personal-details.firstname}} {{uppercase personal-details.lastname}}</b></span>
    </div>
    <ul class="persist-info-links">
      <li><a href="#">End session</a></li>
    </ul>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{../pagetitle}}</h1>

      <form class="form" method="post">

        <section>

          <h2 class="heading-large"><span class="heading-secondary">{{../sMakeDecision}}</span> Offence 1</h2>

          <h3 class="font-medium">Passenger used ticket issued for another person</h3>
          <p class="font-xsmall">On <time datetime="2016-02-18">18 February 2016</time></p>

          <p><strong class="status-label">Guilty plea &ndash; discount applied</strong></p>

          <h3 class="heading-medium">Check fine and compensation</h3>

          <fieldset>

            <legend>
              <span class="form-label">Fine band applied</span>
            </legend>

            <label class="block-label" for="fine-band-b" data-target="band-b">
              <input type="radio" id="fine-band-b" name="fineBand" value="Band B" checked="checked"> Band B
            </label>

            <div class="panel panel-border-narrow" id="band-b">

              <div class="form-group form-group-related">
                <label for="fine-b">
                  <span class="form-label">Fine</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="fine-b" name="fine-b" value="220.00">
                </div>
              </div>

              <div class="form-group">
                <label for="compensation-b">
                  <span class="form-label">Compensation</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="compensation-b" name="compensation-b" value="3.12">
                </div>
              </div>

            </div>

            <p class="form-block">or switch to</p>

            <label class="block-label" for="fine-band-a" data-target="band-a">
              <input type="radio" id="fine-band-a" name="fineBand" value="Band A"> Band A
            </label>

            <div class="panel panel-border-narrow js-hidden" id="band-a">

              <div class="form-group form-group-related">
                <label for="fine-a">
                  <span class="form-label">Fine</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="fine-a" name="fine-a" value="440.00">
                </div>
              </div>

              <div class="form-group">
                <label for="compensation-a">
                  <span class="form-label">Compensation</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="compensation-a" name="compensation-a" value="3.12">
                </div>
              </div>

            </div>

            <label class="block-label" for="fine-band-c" data-target="band-c">
              <input type="radio" id="fine-band-c" name="fineBand" value="Band C"> Band C
            </label>

            <div class="panel panel-border-narrow js-hidden" id="band-c">

              <div class="form-group form-group-related">
                <label for="fine-c">
                  <span class="form-label">Fine</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="fine-c" name="fine-c" value="660.00">
                </div>
              </div>

              <div class="form-group">
                <label for="compensation-c">
                  <span class="form-label">Compensation</span>
                </label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="compensation-c" name="compensation-c" value="3.12">
                </div>
              </div>

            </div>

          </fieldset>

        </section>

        <hr role="presentation" aria-hidden="true">

        <section>

          <h3 class="heading-large">Check costs and surcharge</h3>

          <div class="form-group">
            <label for="cost">
              <span class="form-label">Costs</span>
            </label>
            <div class="form-currency">
              <input class="form-control form-control-1-4" type="text" id="cost" name="cost" value="125.00">
            </div>
          </div>

          <div class="form-group">
            <label for="cost">
              <span class="form-label">Surcharge for victim fund</span>
            </label>
            <div class="form-currency">
              <input class="form-control form-control-1-4" type="text" id="surcharge" name="surcharge" value="30.00">
            </div>
          </div>

          <div class="form-group">
            <label class="block-label" for="confirm">
              <input type="checkbox" id="confirm" name="confirm" checked="checked"> Confirm a collection order will be issued
            </label>
          </div>

          <div class="form-group">
            <button class="button" type="submit">Save and continue</button>
          </div>

        </section>

      </form>

    </div>

    <div class="column-third">

      <div class="related">

        <h3 class="bold-medium">Weekly income</h3>
        <p>&pound;440 (assumed)</p>

        <div class="related-section">
          <h3 class="related-heading">Documents</h3>
          <ul class="related-links">
            {{#each related-documents.document}}
              {{#is show true}}
                <li>
                  <div class="document document-small">
                    <i class="icon icon-file-download"></i>
                    <div class="document-content">
                      <p class="document-title"><a href="#">{{{capitalize title}}}</a></p>
                        <div class="document-meta">
                          <span class="document-meta-details">
                            {{{file-type}}}, {{{file-size}}}, {{{file-pages}}} {{#if printed-for-posting}}<br> <time datetime="{{printed-for-posting-iso}}">{{printed-for-posting}}</time>{{/if}}
                        </span>
                      </div>
                    </div>
                  </div>
                </li>
              {{/is}}
            {{/each}}
          </ul>
        </div>

      </div>

    </div>

  </div>

{{/with}}
