  {{>breadcrumb}}

    <h1 class="heading-xlarge">{{{pagetitle}}}</h1>

    <section aria-labelledby="missing-notices">

      <h3 class="heading-medium" id="missing-notices">5 cases missing notices</h3>

      <table class="table table-font-xsmall">
        <caption class="visually-hidden">Cases missing Single Justice Procedure notices</caption>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Reference number</th>
            <th scope="col">Date of birth</th>
          </tr>
        </thead>
        <tbody>
          {{#each searches}}
            {{#if missing-sjp}}
            <tr>
              <td><span class="text-uppercase">{{lastname}}</span> {{firstname}}</td>
              <td>{{urn}}</td>
              <td>{{date-of-birth}}</td>
            </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>

    </section>

    <section aria-labelledby="upload-documents">

      <h3 class="heading-medium" id="upload-documents">When you&rsquo;ve found the missing notices</h3>

      <p>Put the notices in a new zip file and then upload.</p>

      <p><a class="button" href="/prosecutor/send-other-documents/" role="button">Go to upload documents</a></p>

    </section>
