{{>breadcrumb}}

<h1 class="heading-xlarge">{{pagetitle}}</h1>

<div class="grid-row">

  <div class="column-two-thirds">

    <form class="form" method="post" novalidate>

      <div class="form-group">

        <div class="form-search">

          <label for="search">
            <span class="form-label">Enter reference number or defendant&rsquo;s last name</span>
          </label>

          <input class="form-control form-control-wide" type="search" id="search" name="search" value="Smith"><button class="form-search-button" type="submit">Search</button>

        </div>

        <div class="panel panel-border-wide">
          <p>40 cases found</p>
        </div>

      </div>

    </form>

  </div>

</div>

<table class="table table-font-xsmall">
  <caption class="visuallyhidden">Defendant cases</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Reference number</th>
      <th scope="col">Date of birth</th>
      <th scope="col">Case status</th>
      <th scope="col">Notice served</th>
    </tr>
  </thead>
  <tbody>
  {{#each searches}}
    <tr>
      <th scope="row"><a href="/prosecutor/case-details/{{id}}"><span class="text-uppercase">{{personal-details.lastname}}</span> {{personal-details.firstname}}</a></th>
      <td>{{personal-details.urn}}</td>
      <td>{{moment personal-details.dob format="D MMM YYYY"}}</td>
      <td>{{{case-details.status}}}</td>
      <td>{{moment notice-served format="D MMM YYYY"}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

<!--div class="pagination">

  <div class="pagination-prev">
    <a href="#" rel="prev" title="Navigate to previous part">
      <span class="pagination-label">Previous</span>
    </a>
  </div>

  <ul class="pagination-numbers">
    <li><a href="#">1</a></li>
    <li class="is-active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
  </ul>

  <div class="pagination-next">
    <a href="#" rel="next" title="Navigate to next part">
      <span class="pagination-label">Next</span>
    </a>
  </div>

</div-->
