{{>breadcrumb}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge"><span class="heading-secondary">{{apptitle}}</span> {{pagetitle}}</h1>

    <h2 class="heading-medium">Search for a case</h2>

    <form class="form" method="post">

      <div class="form-group">

        <div class="form-search">

          <label for="search">
            <span class="form-label">Enter case reference number or defendant&rsquo;s last name</span>
          </label>

          <input class="form-control form-control-wide" type="search" id="search" name="search"><button class="form-search-button" type="submit">Search</button>

        </div>

      </div>

    </form>

  </div>

</div>

<div class="grid-row">

  <div class="column-two-thirds">

    <h2 class="heading-medium" id="print-orders">Print orders</h2>

    <ul class="list" aria-labelledby="print-orders">
      <li><p><a href="{{baseurl}}#">Print new orders</a> (273)</p></li>
      <li><p><a href="{{baseurl}}#">Find previously printed orders</a></p></li>
    </ul>

    <h2 class="heading-medium" id="information-for-the-public">Information for the public</h2>

    <ul class="list" aria-labelledby="information-for-the-public">
      <li><p><a href="{{baseurl}}court-list">Print list of cases awaiting decision</a></p></li>
      <li><p><a href="{{baseurl}}print-register-view-of-cases">Download register for the press</a></p></li>
    </ul>

  </div>

</div>
