{{#compare hideconvictions '===' 'yes'}}

  <div class="related-section">

    <h2 class="related-heading">Documents</h2>

    <ul class="related-links">
      {{#each related-documents.document}}
        {{#compare title  "!="  'previous convictions' }}
        <li>
          <div class="document document-small">
            <i class="icon icon-file-download" aria-hidden="true" role="presentation"></i>
            <div class="document-content">
              <p class="document-title"><a href="{{{file-path}}}" target="_blank">{{{capitalize title}}}<span class="visually-hidden"> (opens in a new window)</span></a></p>
              <div class="document-meta">
                <span class="document-meta-details">{{{file-type}}}, {{{file-size}}}, {{{file-pages}}}</span>
              </div>
            </div>
          </div>
        </li>
        {{/compare}}
      {{/each}}
    </ul>

  </div>

{{else}}

  <div class="related-section">

    <h2 class="related-heading">Documents</h2>

    <ul class="related-links">
      {{#each related-documents.document}}{{#compare title  "!="  'previous convictions' }}
      <li>
        <div class="document document-small">
          <i class="icon icon-file-download" aria-hidden="true" role="presentation"></i>
          <div class="document-content">
            <p class="document-title"><a href="{{{file-path}}}">{{{capitalize title}}}<span class="visually-hidden"> (opens in a new window)</span></a></p>
            <div class="document-meta">
              <span class="document-meta-details">{{{file-type}}}, {{{file-size}}}, {{{file-pages}}}</span>
            </div>
          </div>
        </div>
      </li>
      {{/compare}}{{/each}}
    </ul>

  </div>

  {{#each related-documents.document}}{{#compare title  "==="  'previous convictions' }}
  <div class="related-section">

    <h2 class="related-heading">Now available</h2>

    <ul class="related-links">
      <li>
        <div class="document document-small">
          <i class="icon icon-file-download" aria-hidden="true" role="presentation"></i>
          <div class="document-content">
            <p class="document-title"><a href="{{{file-path}}}" title="{{{capitalize title}}} (opens in a new window)">{{{capitalize title}}}</a></p>
            <div class="document-meta">
              <span class="document-meta-details">{{{file-type}}}, {{{file-size}}}, {{{file-pages}}}</span>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>
  {{/compare}}{{/each}}

{{/compare}}
