{{>breadcrumb}}

{{#with search}}

  {{>court-administrator/persist-info}}

  {{#if ../sIsLocked}}
  <div class="banner banner-warning" role="alert">
    <i class="icon icon-banner-warning" role="presentation" aria-hidden="true"></i>
    <div class="banner-message">
      <p>This case is view&ndash;only, as a legal adviser is making a decision on it &ndash; try again later if you need to edit.</p>
    </div>
  </div>
  {{/if}}


  {{#unless related-documents.document}}
  <div class="banner banner-warning" role="alert">
    <i class="icon icon-banner-warning" role="presentation" aria-hidden="true"></i>
    <div class="banner-message">
      <p>You can&rsquo;t edit this case at the moment as we&rsquo;re awaiting case documents from the prosecutor. Check back again soon.</p>
    </div>
  </div>
  {{/unless}}


  {{#if ../sHasSaved}}
  <div class="banner banner-confirmation" role="alert">
    <i class="icon icon-banner-confirmation" role="presentation" aria-hidden="true"></i>
    <div class="banner-message">
      <p>Your changes have been saved</p>
    </div>
  </div>
  {{/if}}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge mb-l">
      {{#and ../sFirstname ../sLastname}}
        {{../sFirstname}} <span class="text-uppercase">{{../sLastname}}</span>
      {{else}}
        {{personal-details.firstname}} <span class="text-uppercase">{{personal-details.lastname}}</span>
      {{/and}}
      </h1>

      <p class="mb-xl">
        {{#if ../sDob}}<time datetime="{{moment ../sDob format="YYYY-MM-DD"}}">{{moment ../sDob format="D MMM YYYY"}}</time>{{else}}<time datetime="{{moment personal-details.dob format="YYYY-MM-DD"}}">{{moment personal-details.dob format="D MMM YYYY"}}</time> ({{personal-details.age}} years old){{/if}}<br>
        {{#if ../sAddress1}}{{../sAddress1}},{{else}}{{personal-details.address.address1}},{{/if}}
        {{#if ../sAddress2}}{{../sAddress2}},{{else}}{{#if personal-details.address.address2}}{{personal-details.address.address2}}, {{/if}}{{/if}}
        {{#if ../sTown}}{{../sTown}}{{else}}{{personal-details.address.town}}{{/if}}
        {{#if ../sPostcode}}<span class="text-uppercase">{{../sPostcode}}</span>{{else}}<span class="text-uppercase">{{personal-details.address.postcode}}</span>{{/if}}
      </p>

      <div class="tabs tabs-horizontal">

        <div class="tabs-header">
          <ul class="list">
            <li{{#is ../sCaseActiveTab "Case details"}} class="is-active"{{/is}}><a href="#case-details">Case details</a></li>
            <li{{#is ../sCaseActiveTab "Personal details"}} class="is-active"{{/is}}><a href="#personal-details">Personal details</a></li>
            <li{{#is ../sCaseActiveTab "Employment and income"}} class="is-active"{{/is}}><a href="#employment-and-income">Income</a></li>
            <li{{#is ../sCaseActiveTab "Documents"}} class="is-active"{{/is}}><a href="#documents">Documents</a></li>
          </ul>
        </div>

        <div class="tabs-content">

          {{#with case-details}}
          <section id="case-details">

            <h2 class="heading-medium">Case details</h2>

            <dl class="meta meta-inline meta-boldterms">
              <dt>Case status</dt>
              <dd>
              {{#is status 'Completed'}}
                {{#if ../../sCaseNumber}}
                  Reopened <time datetime="{{moment ../../sDateOrder format="YYYY-MM-DD"}}">{{moment ../../sDateOrder format="D MMMM YYYY"}}</time><br>
                  Reopened case number: {{../../sCaseNumber}} <br>
                  Reason: {{../../sReasonForReopening}} <br>
                  <a href="/court-administrator/change-reopened-case-status/{{../id}}">Change<span class="visually-hidden"> reopened case status</span></a>
                {{else}}
                  {{{status}}}
                {{/if}}
              {{else}}
                {{{status}}}
              {{/is}}
              </dd>
              <dt>Prosecutor</dt>
              <dd>{{{prosecutor}}}</dd>
              <dt>Notice served</dt>
              <dd><time datetime="{{moment notice-served format="YYYY-MM-DD"}}">{{moment notice-served format="D MMMM YYYY"}}</time></dd>
            </dl>

          </section>
          {{/with}}

          {{#with personal-details}}
          <section id="personal-details">

            <h2 class="heading-medium">Personal details</h2>

            <dl class="meta meta-inline meta-boldterms">

              <dt>Name</dt>
              <dd>
                {{#and ../../sFirstname ../../sLastname}}
                  {{../../sFirstname}} <span class="text-uppercase">{{../../sLastname}}</span>
                {{else}}
                  {{firstname}} <span class="text-uppercase">{{lastname}}</span>
                {{/and}}
              </dd>

              <dt>Date of birth</dt>
              <dd>
                {{#if ../../sDob}}
                  <time datetime="{{moment ../../sDob format="YYYY-MM-DD"}}">{{moment ../../sDob format="D MMM YYYY"}}</time>
                {{else}}
                  <time datetime="{{moment dob format="YYYY-MM-DD"}}">{{moment dob format="D MMM YYYY"}}</time> ({{age}} years old)
                {{/if}}
              </dd>

              <dt>Address</dt>
              <dd>
                {{#if ../../sAddress1}}{{../../sAddress1}}<br>{{else}}{{address.address1}}<br>{{/if}}
                {{#if ../../sAddress2}}{{../../sAddress2}}<br>{{else}}{{#if address.address2}}{{address.address2}}<br>{{/if}}{{/if}}
                {{#if ../../sTown}}{{../../sTown}}<br>{{else}}{{address.town}}<br>{{/if}}
                {{#if ../../sPostcode}}<span class="text-uppercase">{{../../sPostcode}}</span>{{else}}<span class="text-uppercase">{{address.postcode}}</span>{{/if}}
              </dd>

              <dt>Email</dt>
              <dd>
                {{#if ../../sEmail}}
                  {{../../sEmail}}
                {{else}}
                  {{#if email}}
                    {{email}}
                  {{else}}
                    {{#is ../case-details.status 'Completed'}}&ndash;{{else}}<a href="/court-administrator/personal-details/{{../id}}/#email">Add email</a>{{/is}}
                  {{/if}}
                {{/if}}
              </dd>

              <dt>Home telephone</dt>
              <dd>
                {{#if ../../sPhone}}
                  {{../../sPhone}}
                {{else}}
                  {{#if phone}}
                    {{phone}}
                  {{else}}
                    {{#is ../case-details.status 'Completed'}}&ndash;{{else}}<a href="/court-administrator/personal-details/{{../id}}/#phone">Add home telephone</a>{{/is}}
                  {{/if}}
                {{/if}}
              </dd>

              <dt>Mobile</dt>
              <dd>
                {{#if ../../sMobile}}
                  {{../../sMobile}}
                {{else}}
                  {{#if mobile}}
                    {{mobile}}
                  {{else}}
                    {{#is ../case-details.status 'Completed'}}&ndash;{{else}}<a href="/court-administrator/personal-details/{{../id}}/#mobile">Add mobile</a>{{/is}}
                  {{/if}}
                {{/if}}
              </dd>

            </dl>

            {{#isnt ../case-details.status 'Completed'}}
            <p><a class="font-small" href="/court-administrator/personal-details/{{../id}}/">Change personal details</a></p>
            {{/isnt}}

          </section>
          {{/with}}

          {{#with employment}}
          <section id="employment-and-income">

            <h2 class="heading-medium">Employment and income</h2>

            <dl class="meta meta-inline meta-boldterms">

              <dt>National Insurance number</dt>
              <dd>
                {{#if ../../sNationalInsurance}}
                  {{../../sNationalInsurance}}
                {{else}}
                  {{#if ../national-insurance-number}}
                    {{../national-insurance-number}}
                  {{else}}
                    {{#is ../case-details.status 'Completed'}}&ndash;{{else}}<a href="/court-administrator/employment-and-income/{{../id}}/#national-insurance">Add National Insurance number</a>{{/is}}
                  {{/if}}
                {{/if}}
              </dd>

              <dt>Income and outgoings</dt>
              <dd>
                {{#if ../../sPayFrequency}}
                  {{../../sPayFrequency}}
                {{else}}
                  {{#if pay.frequency}}
                    {{pay.frequency}}
                  {{else}}
                    {{#is ../case-details.status 'Completed'}}&ndash;{{else}}<a href="/court-administrator/employment-and-income/{{../id}}/#pay-frequency">Add frequency</a>{{/is}}
                  {{/if}}
                {{/if}}
              </dd>

              <dt>Employment status</dt>
              <dd>
                {{#if ../../sEmployment}}
                  {{../../sEmployment}}
                {{else}}
                  {{#if status}}
                    {{status}}
                  {{else}}
                    {{#is ../case-details.status 'Completed'}}&ndash;{{else}}<a href="/court-administrator/employment-and-income/{{../id}}/#employed">Add employment status</a>{{/is}}
                  {{/if}}
                {{/if}}
              </dd>

              {{#compare ../../sEmployment "===" "Employed"}}

                <dt>Employer name</dt>
                <dd>
                  {{#if ../../sEmployerName}}
                    {{../../sEmployerName}}
                  {{else}}
                    {{#if ../employer-name}}
                      {{../employer-name}}
                    {{else}}
                      {{#is ../case-details.status 'Completed'}}&ndash;{{else}}<a href="/court-administrator/employment-and-income/{{../id}}/#employer-name">Add employer name</a>{{/is}}
                    {{/if}}
                  {{/if}}
                </dd>

                <dt>Employer telephone</dt>
                <dd>
                  {{#if ../../sEmployerTelephone}}
                    {{../../sEmployerTelephone}}
                  {{else}}
                    {{#if employer-telephone}}
                      {{employer-telephone}}
                    {{else}}
                      {{#is ../case-details.status 'Completed'}}&ndash;{{else}}<a href="/court-administrator/employment-and-income/{{../id}}/#employer-telephone">Add employer telephone</a>{{/is}}
                    {{/if}}
                  {{/if}}
                </dd>

                <dt>Employer address</dt>
                <dd>
                  {{#if ../../sEmployerAddress1}}
                    {{#if ../../sEmployerAddress1}}{{../../sEmployerAddress1}} <br>{{/if}}
                    {{#if ../../sEmployerAddress2}}{{../../sEmployerAddress2}} <br>{{/if}}
                    {{#if ../../sEmployerTown}}{{../../sEmployerTown}}<br> {{/if}}
                    {{#if ../../sEmployerPostcode}}{{../../sEmployerPostcode}}{{/if}}
                  {{else}}
                    {{#if employer-address1}}
                      {{#if employer-address.address1}}{{employer-address.address1}}, <br>{{/if}}
                      {{#if employer-address.address2}}{{employer-address.address2}}, <br>{{/if}}
                      {{#if employer-address.town}}{{employer-address.town}}{{/if}}
                      {{#if employer-address.postcode}}{{employer-address.postcode}}{{/if}}
                    {{else}}
                      {{#is ../case-details.status 'Completed'}}&ndash;{{else}}<a href="/court-administrator/employment-and-income/{{../id}}/#employer-address-1">Add employer address</a>{{/is}}
                    {{/if}}
                  {{/if}}
                </dd>

                <dt>Net pay (take home pay)</dt>
                <dd>
                  {{#if ../../sPayAmount}}
                    &pound;{{../../sPayAmount}}
                  {{else}}
                    {{#if pay.amount}}
                        &pound;{{pay.amount}}
                    {{else}}
                      {{#is ../case-details.status 'Completed'}}&ndash;{{else}}<a href="/court-administrator/employment-and-income/{{../id}}/#pay-amount">Add income</a>{{/is}}
                    {{/if}}
                  {{/if}}
                </dd>

              {{/compare}}

              <dt>Receiving benefits?</dt>
              <dd>
                {{#if ../../sReceivingBenefits}}
                  {{../../sReceivingBenefits}}
                {{else}}
                  {{#if receiving-benefits}}
                    {{receiving-benefits}}
                  {{else}}
                    {{#is ../case-details.status 'Completed'}}&ndash;{{else}}<a href="/court-administrator/employment-and-income/{{../id}}/#receiving-benefits-yes">Add benefits information</a>{{/is}}
                  {{/if}}
                {{/if}}
              </dd>

            </dl>

            {{#isnt ../case-details.status 'Completed'}}
            <p><a class="font-small" href="/court-administrator/employment-and-income/{{../id}}/">Change employment and income</a></p>
            {{/isnt}}

          </section>
          {{/with}}

          {{#with related-documents}}
          <section id="documents">

            <h2 class="heading-medium">Documents</h2>

            {{#if document}}
              <dl class="meta meta-inline meta-boldterms">
                <dt>Uploaded files</dt>
                <dd>
                  {{#each document}}
                    <div class="document document-small">
                      <i class="icon icon-file-download"></i>
                      <div class="document-content">
                        <p class="document-title"><a href="#" target="_blank">{{{file-title}}}<span class="visually-hidden"> (opens in a new window)</span></a></p>
                        <div class="document-meta">
                          <span class="document-meta-details">
                            {{{file-type}}}, {{{file-size}}}, {{{file-pages}}} {{#if printed-for-posting}}<br> <time datetime="{{printed-for-posting-iso}}">{{printed-for-posting}}</time>{{/if}}
                          </span>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                </dd>
              </dl>
            {{else}}
              <p>You haven&rsquo;t uploaded any documents.</p>
            {{/if}}

            <p><a class="font-small" href="/court-administrator/upload-documents/{{../id}}/">Upload more documents</a></p>

          </section>
          {{/with}}

        </div>

      </div>

    </div>

    <div class="column-third">

      <div class="related">

        <div class="related-section">

          <h3 class="related-heading">Case options</h3>
          <ul class="related-links">
          {{#contains case-details.status 'Completed'}}
            {{#isnt ../sReopenedCase 'Yes'}}<li><a href="/court-administrator/mark-case-as-reopened/{{id}}/">Mark case as reopened</a></li>{{/isnt}}
            <li><a href="/court-administrator/extract-of-court-record/{{id}}/">Extract of court record</a></li>
          {{else}}
            <li><a href="/">Send case to court hearing</a></li>
          {{/contains}}
          </ul>

        </div>

        {{#if related-documents.document}}

          {{#isnt case-details.status 'Completed'}}
          <div class="related-section">
            <h3 class="related-heading">Postal replies</h3>
            <ul class="related-links">
              <li><a href="/court-administrator/postal/add-plea/{{id}}">Add all details from postal reply</a></li>
            </ul>
          </div>
          {{/isnt}}

        {{/if}}

      </div>

    </div>

  </div>

  <hr class="divider divider-border-dark" aria-hidden="true">

  <div aria-labelledby="offences">

    <h2 class="heading-large" id="offences">Offence 1</h2>

    {{#with offence}}
    <section aria-labelledby="offence">

      <div class="grid-row">

        <div class="column-two-thirds">

          <h3 class="bold-medium" id="offence">{{{title}}}</h3>

          <p class="font-xsmall">{{{offence-wording}}}</p>

          <p>
            <strong class="status-label">
              {{#if ../../sMakeDecision}}
                {{#contains ../../sMakeDecision "Pleaded guilty court hearing requested"}}Pleaded guilty &ndash; court hearing requested{{/contains}}
                {{#contains ../../sMakeDecision "Pleaded guilty SJP"}}Pleaded guilty SJP{{/contains}}
                {{#contains ../../sMakeDecision "Pleaded not guilty"}}Pleaded not guilty{{/contains}}
              {{else}}
                {{{plea}}}
              {{/if}}
            </strong>
          </p>

          {{#if ../related-documents.document}}

            <div class="tabs tabs-horizontal">

              <div class="tabs-header">
                <ul class="list">
                  <li{{#is ../../sOffenceActiveTab "Details"}} class="is-active"{{/is}}><a href="#offence-details">Details</a></li>
                  {{#if ../case-details.court-decision}}{{else}}<li{{#is ../../sOffenceActiveTab "Add or change plea"}} class="is-active"{{/is}}><a href="#offence-plea">Add or change plea</a></li>{{/if}}
                  {{#if ../case-details.court-decision}}<li class="is-active"><a href="#offence-decision">Decision</a></li>{{/if}}
                </ul>
              </div>

              <div class="tabs-content">

                <section id="offence-details">

                  {{#if statement-of-facts}}
                    <h3 class="heading-medium">Statement of facts</h3>
                    <p class="text">{{{statement-of-facts}}}</p>
                  {{/if}}

                  {{#if mitigation}}
                    <h3 class="heading-medium">Mitigation</h3>
                    <p class="text">{{{mitigation}}}</p>
                  {{/if}}

                </section>

                {{#isnt ../case-details.status 'Completed'}}
                <section id="offence-plea">

                  <h3 class="heading-medium">Select defendant&rsquo;s plea</h3>

                  <form class="form" method="post" novalidate>

                    <fieldset>

                      <legend class="visually-hidden">Select defendant&rsquo;s plea</legend>

                      <div class="form-group">

                        <div class="multiple-choice">
                          <input id="no-plea-received" name="makeDecision" type="radio" value="No plea received"{{#if ../../sMakeDecision}}{{#contains ../../sMakeDecision ""}} checked="checked"{{/contains}}{{else}}{{#contains ../case-details.status "No plea received"}} checked="checked"{{/contains}}{{/if}}>
                          <label for="no-plea-received">No plea received</label>
                        </div>

                        <div class="multiple-choice">
                          <input id="guilty-no-court" name="makeDecision" type="radio" value="Pleaded guilty court hearing requested"{{#if ../../sMakeDecision}}{{#contains ../../sMakeDecision "Pleaded guilty court hearing requested"}} checked="checked"{{/contains}}{{else}}{{#contains ../case-details.status "Pleaded guilty court hearing requested"}} checked="checked"{{/contains}}{{/if}}>
                          <label for="guilty-no-court">Guilty &ndash; I don&rsquo;t want to come to court</label>
                        </div>

                        <div class="multiple-choice" data-target="guilty-interpreter">
                          <input id="guilty-court" name="makeDecision" type="radio" value="Pleaded guilty SJP"{{#if ../../sMakeDecision}}{{#contains ../../sMakeDecision "Pleaded guilty SJP"}} checked="checked"{{/contains}}{{else}}{{#contains ../case-details.status "Pleaded guilty SJP"}} checked="checked"{{/contains}}{{/if}}>
                          <label for="guilty-court">Guilty &ndash; I want to come to court</label>
                        </div>

                        <div class="panel panel-border-narrow{{#isnt ../../sMakeDecision "Pleaded guilty SJP"}} js-hidden{{/isnt}}" id="guilty-interpreter">

                          <fieldset class="inline">

                            <legend>
                              <span class="form-label">Does the defendant need an interpreter?</span>
                            </legend>

                            <div class="multiple-choice" data-target="guilty-interpreter-language">
                              <input id="guilty-interpreter-yes" name="guiltyInterpreter" type="radio" value="Yes"{{#contains ../../sMakeDecision "Pleaded guilty SJP"}}{{#contains ../../sNeedInterpreter "Yes"}} checked="checked"{{/contains}}{{/contains}}>
                              <label for="guilty-interpreter-yes">Yes</label>
                            </div>

                            <div class="multiple-choice">
                              <input id="guilty-interpreter-no" name="guiltyInterpreter" type="radio" value="No"{{#contains ../../sMakeDecision "Pleaded guilty SJP"}}{{#contains ../../sNeedInterpreter "No"}} checked="checked"{{/contains}}{{/contains}}>
                              <label for="guilty-interpreter-no">No</label>
                            </div>

                          </fieldset>

                          <div class="panel panel-border-narrow{{#isnt ../../sNeedInterpreter "Yes"}} js-hidden{{/isnt}}" id="guilty-interpreter-language">

                            <div class="form-group">
                              <label for="guilty-language">
                                <span class="form-label">Which language?</span>
                                <span class="form-hint" id="guilty-language-hint">You can include sign language</span>
                              </label>
                              <input class="form-control" id="guilty-language" name="guiltyInterpreterLanguage" type="text" value="{{#contains ../../sMakeDecision "Pleaded guilty SJP"}}{{../../sInterpreterLanguage}}{{/contains}}" aria-describedby="guilty-language-hint">
                            </div>

                          </div>

                        </div>

                        <div class="multiple-choice" data-target="not-guilty-interpreter">
                          <input id="not-guilty" name="makeDecision" type="radio" value="Pleaded not guilty"{{#if ../../sMakeDecision}}{{#contains ../../sMakeDecision "Pleaded not guilty"}} checked="checked"{{/contains}}{{else}}{{#contains ../case-details.status "Pleaded not guilty"}} checked="checked"{{/contains}}{{/if}}>
                          <label for="not-guilty">Not guilty &ndash; send me the date of my trial</label>
                        </div>

                        <div class="panel panel-border-narrow{{#isnt ../../sMakeDecision "Pleaded not guilty"}} js-hidden{{/isnt}}" id="not-guilty-interpreter">

                          <fieldset class="inline">

                            <legend>
                              <span class="form-label">Does the defendant need an interpreter?</span>
                            </legend>

                            <div class="form-group">

                              <div class="multiple-choice" data-target="not-guilty-interpreter-language">
                                <input id="not-guilty-interpreter-yes" name="notGuiltyInterpreter" type="radio" value="Yes"{{#contains ../../sMakeDecision "Pleaded not guilty"}}{{#contains ../../sNeedInterpreter "Yes"}} checked="checked"{{/contains}}{{/contains}}>
                                <label for="not-guilty-interpreter-yes">Yes</label>
                              </div>

                              <div class="multiple-choice">
                                <input id="not-guilty-interpreter-no" name="notGuiltyInterpreter" type="radio" value="No"{{#contains ../../sMakeDecision "Pleaded not guilty"}}{{#contains ../../sNeedInterpreter "No"}} checked="checked"{{/contains}}{{/contains}}>
                                <label for="not-guilty-interpreter-no">No</label>
                              </div>

                            </div>

                          </fieldset>

                          <div class="panel panel-border-narrow{{#isnt ../../sNeedInterpreter "Yes"}} js-hidden{{/isnt}}" id="not-guilty-interpreter-language">

                            <div class="form-group">
                              <label for="not-guilty-language">
                                <span class="form-label">Which language?</span>
                                <span class="form-hint" id="not-guilty-language-hint">You can include sign language</span>
                              </label>
                              <input class="form-control" id="not-guilty-language" name="notGuiltyInterpreterLanguage" type="text" value="{{#contains ../../sMakeDecision "Pleaded not guilty"}}{{../../sInterpreterLanguage}}{{/contains}}" aria-describedby="not-guilty-language-hint">
                            </div>

                          </div>

                        </div>

                      </div>

                      <div class="form-group form-group-related">
                        <button class="button" type="submit">Save</button>
                      </div>

                    </fieldset>

                  </form>

                </section>
                {{/isnt}}

                {{#if ../case-details.court-decision}}
                <section id="offence-decision">

                  <h3 class="heading-medium">Court decision</h3>

                  {{#is ../case-details.court-decision 1}}
                  <table class="table table-font-xsmall table-decision">
                    <tbody>
                      <tr>
                        <td>Verdict</td>
                        <td>Guilty plea accepted</td>
                      </tr>
                      <tr>
                        <td>Fine</td>
                        <td>&pound;100</td>
                      </tr>
                      <tr>
                        <td>Compensation</td>
                        <td>&pound;3.50</td>
                      </tr>
                      <tr>
                        <td>Costs</td>
                        <td>&pound;30</td>
                      </tr>
                      <tr>
                        <td>Victim surcharge</td>
                        <td>&pound;10</td>
                      </tr>
                      <tr>
                        <td>Guilty plea taken into account?</td>
                        <td>Yes</td>
                      </tr>
                      <tr>
                        <td>Guilty plea taken into account?</td>
                        <td>Yes</td>
                      </tr>
                    </tbody>
                  </table>
                  {{/is}}

                  {{#is ../case-details.court-decision 2}}
                  <table class="table table-font-xsmall table-decision">
                    <tbody>
                      <tr>
                        <td>Verdict</td>
                        <td>Guilty plea accepted</td>
                      </tr>
                      <tr>
                        <td>Fine</td>
                        <td>&pound;100</td>
                      </tr>
                      <tr>
                        <td rowspan="2" valign="top">Compensation</td>
                        <td>&pound;0</td>
                      </tr>
                      <tr>
                        <td>Reason for no compensation <br> <span class="text-secondary">Limited means of the defendant</span></td>
                      </tr>
                      <tr>
                        <td rowspan="2" valign="top">Costs</td>
                        <td>&pound;0</td>
                      </tr>
                      <tr>
                        <td>Reason for no costs <br> <span class="text-secondary">Limited means of the defendant</span></td>
                      </tr>
                      <tr>
                        <td rowspan="2" valign="top">Victim surcharge (reduced)</td>
                        <td>&pound;0</td>
                      </tr>
                      <tr>
                        <td>Reason for reduction <br> <span class="text-secondary">Limited means of the defendant</span></td>
                      </tr>
                      <tr>
                        <td>Guilty plea taken into account</td>
                        <td>Yes</td>
                      </tr>
                    </tbody>
                  </table>
                  {{/is}}

                  {{#is ../case-details.court-decision 3}}
                  <table class="table table-font-xsmall table-decision">
                    <tbody>
                      <tr>
                        <td>Verdict</td>
                        <td>Guilty plea accepted</td>
                      </tr>
                      <tr>
                        <td>Conditional discharge</td>
                        <td>6 months</td>
                      </tr>
                      <tr>
                        <td rowspan="2" valign="top">Compensation</td>
                        <td>&pound;0</td>
                      </tr>
                      <tr>
                        <td>Reason for no compensation <br> <span class="text-secondary">Limited means of the defendant</span></td>
                      </tr>
                    </tbody>
                  </table>
                  {{/is}}

                  {{#is ../case-details.court-decision 4}}
                  <table class="table table-font-xsmall table-decision">
                    <tbody>
                      <tr>
                        <th>Verdict</th>
                        <td>Proved <abbr title="Single Justice Procedure">SJP</abbr></td>
                      </tr>
                      <tr>
                        <th>Fined</th>
                        <td>&pound;150</td>
                      </tr>
                      <tr>
                        <th>To pay compensation of</th>
                        <td>&pound;100</td>
                      </tr>
                      <tr>
                        <th>To pay costs of</th>
                        <td>&pound;3.50</td>
                      </tr>
                      <tr>
                        <th>To pay victim surcharge of</th>
                        <td>&pound;10</td>
                      </tr>
                      <tr>
                        <th rowspan="2">Decision made</th>
                        <td><time datetime="2016-09-01">1 September 2016</time></td>
                      </tr>
                      <tr>
                        <td>Joe Bloggs and Peter Smith <br> <span class="text-secondary">Lavender Hill Magistrates&rsquo; Court</span></td>
                      </tr>
                    </tbody>
                  </table>
                  <h3 class="heading-medium">Payment and collection</h3>
                  <table class="table table-font-xsmall table-decision">
                    <tbody>
                      <tr>
                        <th>Collection order made</th>
                        <td>Direct to court</td>
                      </tr>
                      <tr>
                        <th>Payment terms</th>
                        <td>&pound;263.50 to be paid as a lump sum in 28 days</td>
                      </tr>
                    </tbody>
                  </table>
                  {{/is}}

                  {{#is ../case-details.court-decision 5}}
                  <table class="table table-font-xsmall table-decision">
                    <tbody>
                      <tr>
                        <th>Verdict</th>
                        <td>Proved <abbr title="Single Justice Procedure">SJP</abbr></td>
                      </tr>
                      <tr>
                        <th>Discharged conditionally for</th>
                        <td>3 months</td>
                      </tr>
                      <tr>
                        <th>No compensation ordered because</th>
                        <td>Financial hardship</td>
                      </tr>
                      <tr>
                        <th>To pay costs of</th>
                        <td>&pound;100</td>
                      </tr>
                      <tr>
                        <th>No victim surcharge ordered because</th>
                        <td>Financial hardship</td>
                      </tr>
                      <tr>
                        <th rowspan="2">Decision made</th>
                        <td><time datetime="2016-09-01">1 September 2016</time></td>
                      </tr>
                      <tr>
                        <td>Joe Bloggs and Peter Smith <br> <span class="text-secondary">Lavender Hill Magistrates&rsquo; Court</span></td>
                      </tr>
                    </tbody>
                  </table>
                  <h3 class="heading-medium">Payment and collection</h3>
                  <table class="table table-font-xsmall table-decision">
                    <tbody>
                      <tr>
                        <th>Collection order made</th>
                        <td>Attachment to earnings</td>
                      </tr>
                      <tr>
                        <th>If deductions fail <br> <span class="text-secondary">(&lsquo;reserve terms&rsquo;)</span></th>
                        <td>A lump sum of &pound;50 to be paid followed by instalments of &pound;5 paid monthly starting 1 June 2017</td>
                      </tr>
                    </tbody>
                  </table>
                  {{/is}}

                  {{#is ../case-details.court-decision 6}}
                  <table class="table table-font-xsmall table-decision">
                    <tbody>
                      <tr>
                        <th>Referred to full court hearing</th>
                        <td>Summons issued for hearing before South West London Magistrates&rsquo; Court on 16 June 2017 at Courthouse Name at 11:30am. <br><br> Reason: Equivocal plea &ndash; defendant to attend to clarify.</td>
                      </tr>
                      <tr>
                        <th rowspan="2">Decision made</th>
                        <td><time datetime="2016-09-01">1 September 2016</time></td>
                      </tr>
                      <tr>
                        <td>Joe Bloggs and Peter Smith <br> <span class="text-secondary">Lavender Hill Magistrates&rsquo; Court</span></td>
                      </tr>
                    </tbody>
                  </table>
                  {{/is}}

                </section>
                {{/if}}

              </div>

            </div>

          {{else}}

            {{#if statement-of-facts}}
              <h3 class="heading-medium">Statement of facts</h3>
              <p class="text">{{{statement-of-facts}}}</p>
            {{/if}}

            {{#if mitigation}}
              <h3 class="heading-medium">Mitigation</h3>
              <p class="text">{{{mitigation}}}</p>
            {{/if}}

          {{/if}}

        </div>

      </div>

    </section>
    {{/with}}

  </div>

{{/with}}
