{{>breadcrumb}}

{{#with search}}

  <div class="persist-info">
    <span class="persist-info-reference">{{urn}}</span>
    <span class="persist-info-title">
      {{#and ../sFirstname ../sLastname}}
        {{../sFirstname}} {{uppercase ../sLastname}}
      {{else}}
        {{firstname}} {{uppercase lastname}}
      {{/and}}
    </span>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{#and ../sFirstname ../sLastname}}
          {{../sFirstname}} {{uppercase ../sLastname}}
        {{else}}
          {{firstname}} {{uppercase lastname}}
        {{/and}}
        <span class="heading-secondary">{{age}} years old</span>
      </h1>

      <div class="tabs tabs-horizontal">

        <div class="tabs-header">

          <ul class="list">
            <li{{#is ../sCaseActiveTab "Case details"}} class="is-active"{{/is}}><a href="#case-details">Case details</a></li>
            <li{{#is ../sCaseActiveTab "Personal details"}} class="is-active"{{/is}}><a href="#personal-details">Personal details</a></li>
            <li{{#is ../sCaseActiveTab "Employment and income"}} class="is-active"{{/is}}><a href="#employment-and-income">Employment and income</a></li>
          </ul>

        </div>

        <div class="tabs-content">

          {{#with case-details}}
          <section id="case-details">
            <h2 class="heading-medium">Case details</h2>
            <dl class="meta meta-large">
              <dt>Case status</dt>
              <dd>{{{status}}}</dd>
              <dt>Prosecutor</dt>
              <dd>{{{prosecutor}}}</dd>
              <dt>Notice served</dt>
              <dd><time datetime="{{notice-served-datetime}}">{{{notice-served}}}</time></dd>
              <dt>Documents <br> <a class="font-xsmall" href="/court-administrator/manage-documents/{{../id}}">Manage documents</a></dt>
              <dd>
                {{#each ../related-documents.document}}
                <div class="document document-small">
                  <i class="icon icon-file-download"></i>
                  <div class="document-content">
                    <p class="document-title"><a href="#">{{{title}}}</a></p>
                    <div class="document-meta">
                      <span class="document-meta-details">
                        {{{file-type}}}, {{{file-size}}}, {{{file-pages}}}
                      </span>
                    </div>
                  </div>
                </div>
                {{/each}}
              </dd>
            </dl>
          </section>
          {{/with}}

          <section id="personal-details">

            <header class="section-header">
              <h2 class="heading-medium">Personal details</h2>
              <a class="font-small" href="/court-administrator/personal-details/{{id}}" title="Change personal details">Change <span class="visuallyhidden">personal details</span></a>
            </header>

            <dl class="meta meta-large">

              <dt>Name</dt>
              <dd>
                {{#and ../sFirstname ../sLastname}}
                  {{../sFirstname}} {{uppercase ../sLastname}}
                {{else}}
                  {{firstname}} {{uppercase lastname}}
                {{/and}}
              </dd>

              <dt>Date of birth</dt>
              <dd><time datetime="{{date-of-birth-iso}}">{{date-of-birth}}</time> (age {{age}})</dd>

              <dt>Address</dt>
              <dd>
                {{#if ../sAddress1}}{{../sAddress1}}, <br>{{else}}{{address.address1}}, <br>{{/if}}
                {{#if ../sAddress2}}{{../sAddress2}}, <br>{{else}}{{#if address.address2}}{{address.address2}}, <br>{{/if}}{{/if}}
                {{#if ../sTown}}{{../sTown}}{{else}}{{address.town}}{{/if}}
                {{#if ../sPostcode}}{{../sPostcode}}{{else}}{{address.postcode}}{{/if}}
              </dd>

              <dt>Email</dt>
              <dd>
                {{#if ../sEmail}}
                  {{../sEmail}}
                {{else}}
                  {{#if email}}{{email}}{{else}}<a href="/court-administrator/personal-details/{{id}}/#email">Add email</a>{{/if}}
                {{/if}}
              </dd>

              <dt>Home telephone</dt>
              <dd>
                {{#if ../sPhone}}
                  {{../sPhone}}
                {{else}}
                  {{#if phone}}{{phone}}{{else}}<a href="/court-administrator/personal-details/{{id}}/#phone">Add home telephone</a>{{/if}}
                {{/if}}
              </dd>

              <dt>Mobile</dt>
              <dd>
                {{#if ../sMobile}}
                  {{../sMobile}}
                {{else}}
                  {{#if mobile}}{{mobile}}{{else}}<a href="/court-administrator/personal-details/{{id}}/#mobile">Add mobile</a>{{/if}}
                {{/if}}
              </dd>

              <dt>National Insurance number</dt>
              <dd>
                {{#if ../sNationalInsurance}}
                  {{../sNationalInsurance}}
                {{else}}
                  {{#if nationalinsurance}}{{nationalinsurance}}{{else}}<a href="/court-administrator/personal-details/{{id}}/#nationalinsurance">Add National Insurance number</a>{{/if}}
                {{/if}}
              </dd>

            </dl>

          </section>

          <section id="employment-and-income">

            <header class="section-header">
              <h2 class="heading-medium">Employment and income</h2>
              <a class="font-small" href="/court-administrator/employment-and-income/{{id}}" title="Change employment and income">Change <span class="visuallyhidden">employment and income</span></a>
            </header>


            {{#with employment}}

              <dl class="meta meta-large">

                <dt>Employment status</dt>
                <dd>
                  {{#if ../../sEmployment}}
                    {{../../sEmployment}}
                  {{else}}
                    {{#if status}}{{status}}{{else}}<a href="/court-administrator/employment-and-income/{{../id}}/#employed">Add employment status</a>{{/if}}
                  {{/if}}
                </dd>

                {{#compare ../../sEmployment "===" "Employed"}}

                  <dt>Employer name</dt>
                  <dd>
                    {{#if ../../sEmployerName}}
                      {{../../sEmployerName}}
                    {{else}}
                      {{#if employer-name}}{{employer-name}}{{else}}<a href="/court-administrator/employment-and-income/{{../id}}/#employer-name">Add employer name</a>{{/if}}
                    {{/if}}
                  </dd>

                  <dt>Employer telephone</dt>
                  <dd>
                    {{#if ../../sEmployerAddress1}}
                      {{#if ../../sEmployerAddress1}}{{../../sEmployerAddress1}}, <br>{{/if}}
                      {{#if ../../sEmployerAddress2}}{{../../sEmployerAddress2}}, <br>{{/if}}
                      {{#if ../../sEmployerTown}}{{../../sEmployerTown}}{{/if}}
                      {{#if ../../sEmployerPostcode}}{{../../sEmployerPostcode}}{{/if}}
                    {{else}}
                      {{#if employer-address1}}
                        {{#if employer-address.address1}}{{employer-address.address1}}, <br>{{/if}}
                        {{#if employer-address.address2}}{{employer-address.address2}}, <br>{{/if}}
                        {{#if employer-address.town}}{{employer-address.town}}{{/if}}
                        {{#if employer-address.postcode}}{{employer-address.postcode}}{{/if}}
                      {{else}}
                        <a href="/court-administrator/employment-and-income/{{../id}}/#employer-address-1">Add employer address</a>
                      {{/if}}
                    {{/if}}
                  </dd>

                  <dt>Employer address</dt>
                  <dd>
                    {{#if ../../sEmployerTelephone}}
                      {{../../sEmployerTelephone}}
                    {{else}}
                      {{#if employer-telephone}}{{employer-telephone}}{{else}}<a href="/court-administrator/employment-and-income/{{../id}}/#employer-telephone">Add employer telephone</a>{{/if}}
                    {{/if}}
                  </dd>

                  <dt>Weekly income</dt>
                  <dd>{{#if income}}{{income}}{{else}}<a href="/court-administrator/employment-and-income/{{../id}}/#weekly">Add income</a>{{/if}}</dd>

                {{/compare}}

                <dt>Receiving benefits?</dt>
                <dd>
                  {{#if ../../sReceivingBenefits}}
                    {{../../sReceivingBenefits}}
                  {{else}}
                    {{#if receiving-benefits}}{{receiving-benefits}}{{else}}<a href="/court-administrator/employment-and-income/{{../id}}/#receiving-benefits-yes">Add receiving benefits</a>{{/if}}
                  {{/if}}
                </dd>

              </dl>

            {{/with}}

          </section>

        </div>

      </div>

    </div>

    <div class="column-third">

      <div class="related">

        <div class="related-section">

          <h3 class="related-heading">Case options</h3>

          <ul class="related-links">
            <li><a href="/court-administrator/postal/add-plea/{{id}}">Add all details from postal reply</a></li>
            <li><a href="#">Send case back to Libra</a></li>
          </ul>

        </div>

      </div>

    </div>

  </div>

  <hr>

  <div class="grid-row">

    <div class="column-two-thirds">

      <section aria-labelledby="offences">

        <h2 class="bold-large" id="offences">Offence</h2>

        {{#each offences.offence}}
        <section aria-labelledby="offence{{id}}">

          <h3 class="heading-medium" id="offence{{id}}">{{#if shownumber}}{{id}}. {{/if}}{{{title}}}</h3>

          <p class="font-xsmall">On <time datetime="{{date-iso}}">{{date}}</time></p>

          <p><strong class="tag">
          {{#if ../../sMakeDecision}}
            {{#contains ../../sMakeDecision "Pleaded guilty court hearing requested"}}Pleaded guilty &ndash; court hearing requested{{/contains}}
            {{#contains ../../sMakeDecision "Pleaded guilty SJP"}}Pleaded guilty SJP{{/contains}}
            {{#contains ../../sMakeDecision "Pleaded not guilty"}}Pleaded not guilty{{/contains}}
          {{else}}
            {{{plea}}}
          {{/if}}
          </strong></p>

          <div class="tabs tabs-horizontal">

            <div class="tabs-header">

              <ul class="list">
                <li{{#is ../../sOffenceActiveTab "Details"}} class="is-active"{{/is}}><a href="#offence{{id}}-details">Details</a></li>
                <li{{#is ../../sOffenceActiveTab "Add or change plea"}} class="is-active"{{/is}}><a href="#offence{{id}}-plea">Add or change plea</a></li>
                <!--li><a href="#offence{{id}}-decision">Decision</a></li-->
              </ul>

            </div>

            <div class="tabs-content">

              <section id="offence{{id}}-details">

                <h3 class="heading-medium">Statement of facts</h3>

                <p>{{{statement-of-facts}}}</p>

              </section>

              <section id="offence{{id}}-plea">

                <h3 class="heading-medium">Select defendant&rsquo;s plea</h3>

                <form class="form" method="post">

                  <fieldset>

                    <legend class="visually-hidden">Make a decision</legend>

                    <div class="form-group">

                      <label class="block-label" for="guilty-no-court">
                        <input type="radio" id="guilty-no-court" name="makeDecision" value="Pleaded guilty court hearing requested"{{#if ../../sMakeDecision}}{{#contains ../../sMakeDecision "Pleaded guilty court hearing requested"}} checked="checked"{{/contains}}{{else}}{{#contains case-details.status "Pleaded guilty court hearing requested"}} checked="checked"{{/contains}}{{/if}}>
                        Guilty &ndash; I don't want to come to court
                      </label>

                      <label class="block-label" for="guilty-court">
                        <input type="radio" id="guilty-court" name="makeDecision" value="Pleaded guilty SJP"{{#if ../../sMakeDecision}}{{#contains ../../sMakeDecision "Pleaded guilty SJP"}} checked="checked"{{/contains}}{{else}}{{#contains case-details.status "Pleaded guilty SJP"}} checked="checked"{{/contains}}{{/if}}>
                        Guilty &ndash; I want to come to court
                      </label>

                      <label class="block-label" for="not-guilty">
                        <input type="radio" id="not-guilty" name="makeDecision" value="Pleaded not guilty"{{#if ../../sMakeDecision}}{{#contains ../../sMakeDecision "Pleaded not guilty"}} checked="checked"{{/contains}}{{else}}{{#contains case-details.status "Pleaded not guilty"}} checked="checked"{{/contains}}{{/if}}>
                        Not guilty &ndash; send me the date of my trial
                      </label>

                    </div>

                    <button class="button" type="submit">Save</buton>

                  </fieldset>

                </form>

              </section>

              <!--section id="offence{{id}}-decision">

                <h3 class="heading-medium">Court decision</h3>

                <table class="table">
                  <tbody>
                    <tr>
                      <td>Verdict</td>
                      <td>Guilty plea accepted</td>
                    </tr>
                    <tr>
                      <td>Fine</td>
                      <td>&pound;100</td>
                    </tr>
                    <tr>
                      <td>Compensation</td>
                      <td>&pound;3.50</td>
                    </tr>
                    <tr>
                      <td>Costs</td>
                      <td>&pound;30</td>
                    </tr>
                    <tr>
                      <td>Victim surcharge</td>
                      <td>&pound;10</td>
                    </tr>
                    <tr>
                      <td>Guilty plea taken into account?</td>
                      <td>Yes</td>
                    </tr>
                  </tbody>
                </table>

              </section-->

            </div>

          </div>

        </section>
        {{/each}}

      </section>

    </div>

  </div>

{{/with}}
