{{>breadcrumb}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge"><span class="heading-secondary">Lavender Hill Magistrates&rsquo; Court</span> {{pagetitle}}</h1>

    <p>List generated on <time datetime="2016-10-07T10:31">Friday 7 October 2016 at 10:31am</time>.</p>

    <h2 class="heading-medium">Transport for London offences</h2>

  </div>

</div>

<div class="grid-row">

  <div class="column-half">
    <div class="panel panel-border-wide">
      <p>7 cases awaiting decision</p>
    </div>
  </div>

  <div class="column-half">
    <p class="text-right"><a class="button" href="#" role="button">Print court list</a></p>
  </div>

</div>

<table class="table table-font-xsmall">
  <caption class="visuallyhidden">Transport for London cases due for a decision</caption>
  <thead>
    <tr>
      <th scope="col">Name</td>
      <th scope="col">Case reference number</td>
      <th scope="col">Offence</td>
    </tr>
  </thead>
  <tbody>
    {{#each searches}}
      {{#contains case-details.status 'Awaiting plea'}}
        <tr>
          <td>{{uppercase lastname}} {{firstname}}</td>
          <td>{{urn}}</td>
          <td>{{{offence.title}}}</td>
        </tr>
      {{/contains}}
      {{#contains case-details.status 'Ready'}}
        <tr>
          <td>{{uppercase lastname}} {{firstname}}</td>
          <td>{{urn}}</td>
          <td>{{{offence.title}}}</td>
        </tr>
      {{/contains}}
    {{/each}}
  </tbody>
</table>
