{{>breadcrumb}}

{{#with search}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">Add or change employment and income</h1>

    <form class="form" method="post">

      <div class="form-group">
        <label for="national-insurance">
          <span class="form-label-bold">National Insurance number</span>
          <span class="form-hint" id="national-insurance-hint">For example, VO 12 34 56 D</span>
        </label>
        <input class="form-control" type="text" id="national-insurance" name="nationalInsurance" aria-describedby="national-insurance-hint"{{#if ../sNationalInsurance}} value="{{../sNationalInsurance}}"{{else}} value="{{national-insurance-number}}"{{/if}}>
      </div>

      <div class="form-group">

        <fieldset class="inline">

          <legend>
            <span class="form-label-bold">Frequency of income and outgoings</span>
            <span class="form-hint">Check the form to see what the defendant has ticked</span>
          </legend>

          <label class="block-label" for="frequency-income-weekly">
            <input type="radio" id="frequency-income-weekly" name="frequencyIncome" value="Weekly"{{#if ../sFrequencyIncome}}{{#contains ../sFrequencyIncome "Weekly"}} checked="checked"{{/contains}}{{else}}{{#contains employment.frequency-income "Weekly"}} checked="checked"{{/contains}}{{/if}}>Weekly
          </label>

          <label class="block-label" for="frequency-income-fortnightly">
            <input type="radio" id="frequency-income-fortnightly" name="frequencyIncome" value="Fortnightly"{{#if ../sFrequencyIncome}}{{#contains ../sFrequencyIncome "Fortnightly"}} checked="checked"{{/contains}}{{else}}{{#contains employment.frequency-income "Fortnightly"}} checked="checked"{{/contains}}{{/if}}>Fortnightly
          </label>

          <label class="block-label" for="frequency-income-monthly">
            <input type="radio" id="frequency-income-monthly" name="frequencyIncome" value="Monthly"{{#if ../sFrequencyIncome}}{{#contains ../sFrequencyIncome "Monthly"}} checked="checked"{{/contains}}{{else}}{{#contains employment.frequency-income "Monthly"}} checked="checked"{{/contains}}{{/if}}>Monthly
          </label>

        </fieldset>

      </div>

      <fieldset class="inline">

          <legend>
            <span class="form-label-bold">Is the defendant employed?</span>
          </legend>

          <label class="block-label" for="employed" data-target="is-employed">
            <input type="radio" id="employed" name="employment" value="Employed"{{#if ../sEmployment}}{{#contains ../sEmployment "Employed"}} checked="checked"{{/contains}}{{else}}{{#contains employment.status "Employed"}} checked="checked"{{/contains}}{{/if}}> Yes
          </label>

          <label class="block-label" for="unemployed">
            <input type="radio" id="unemployed" name="employment" value="Unemployed"{{#if ../sEmployment}}{{#contains ../sEmployment "Unemployed"}} checked="checked"{{/contains}}{{else}}{{#contains employment.status "Unemployed"}} checked="checked"{{/contains}}{{/if}}> No
          </label>

          <label class="block-label" for="unknown">
            <input type="radio" id="unknown" name="employment" value="Don’t know"{{#if ../sEmployment}}{{#contains ../sEmployment "Don’t know"}} checked="checked"{{/contains}}{{else}}{{#contains employment.status ""}} checked="checked"{{/contains}}{{/if}}> Don’t know
          </label>

        </fieldset>

      <div class="form-group">

        <div class="panel panel-border-narrow{{#if ../sEmployment}}{{#isnt ../sEmployment "Employed"}} js-hidden{{/isnt}}{{else}}{{#isnt employment.status "Employed"}} js-hidden{{/isnt}}{{/if}}" id="is-employed">

          <h3 class="heading-medium">Employer details</h3>

          <div class="form-group">
            <label for="employer-name">
              <span class="form-label">Employer name</span>
            </label>
            <input class="form-control" type="text" id="employer-name" name="employerName"{{#if ../sEmployerName}} value="{{../sEmployerName}}"{{else}} value="{{employment.employer-name}}"{{/if}}>
          </div>

          <div class="form-group">

            <fieldset>

              <legend class="visuallyhidden">Address</legend>

              <div class="form-group form-group-compound">
                <label for="employer-address-1">
                  <span class="form-label">Street</span>
                </label>
                <input class="form-control" type="text" id="employer-address-1" name="employerAddress1"{{#if ../sEmployerAddress1}} value="{{../sEmployerAddress1}}"{{else}} value="{{employment.employer-address.address1}}"{{/if}}>
              </div>

              <div class="form-group">
                <label class="visuallyhidden" for="employer-address-2">
                  <span class="form-label">Street</span>
                </label>
                <input class="form-control" type="text" id="employer-address-2" name="employerAddress2"{{#if ../sEmployerAddress2}} value="{{../sEmployerAddress2}}"{{else}} value="{{employment.employer-address.address2}}"{{/if}}>
              </div>

              <div class="form-group">
                <label for="employer-address-town">
                  <span class="form-label">Town or City</span>
                </label>
                <input class="form-control form-control-1-4" type="text" id="employer-address-town" name="employerTown"{{#if ../sEmployerTown}} value="{{../sEmployerTown}}"{{else}} value="{{employment.employer-address.town}}"{{/if}}>
              </div>

              <div class="form-group">
                <label for="employer-address-postcode">
                  <span class="form-label">Postcode</span>
                </label>
                <input class="form-control form-control-1-4" type="text" id="employer-address-postcode" name="employerPostcode"{{#if ../sEmployerPostcode}} value="{{../sEmployerPostcode}}"{{else}} value="{{employment.employer-address.postcode}}"{{/if}}>
              </div>

            </fieldset>

          </div>

          <div class="form-group">
            <label for="employer-telephone">
              <span class="form-label">Employer telephone</span>
            </label>
            <input class="form-control" type="tel" id="employer-telephone" name="employerTelephone"{{#if ../sEmployerTelephone}} value="{{../sEmployerTelephone}}"{{else}} value="{{employerTelephone}}"{{/if}}>
          </div>

          <h3 class="heading-medium">Pay</h3>

          <div class="form-group">

            <fieldset>

              <legend>
                <span class="form-label">How often do they get paid?</span>
              </legend>

              <label class="block-label" for="weekly" data-target="paid-weekly">
                <input type="radio" id="weekly" name="payFrequency" value="Weekly"{{#if ../sPayFrequency}}{{#contains ../sPayFrequency "Weekly"}} checked="checked"{{/contains}}{{else}}{{#contains employment.pay.frequency "Weekly"}} checked="checked"{{/contains}}{{/if}}>
                Weekly
              </label>

              <div class="panel panel-border-narrow{{#if ../sPayFrequency}}{{#isnt ../sPayFrequency "Weekly"}} js-hidden{{/isnt}}{{else}}{{#isnt employment.pay.frequency "Weekly"}} js-hidden{{/isnt}}{{/if}}" id="paid-weekly">
                <label class="form-label" for="pay-weekly-amount">Weekly net pay (take home)</label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="pay-weekly-amount" name="payWeeklyAmount"{{#contains ../sPayFrequency "Weekly"}} value="{{../sPayAmount}}"{{/contains}}>
                </div>
              </div>

              <label class="block-label" for="fortnightly" data-target="paid-fortnightly">
                <input type="radio" id="fortnightly" name="payFrequency" value="Fortnightly"{{#if ../sPayFrequency}}{{#contains ../sPayFrequency "Fortnightly"}} checked="checked"{{/contains}}{{else}}{{#contains employment.pay.frequency "Fortnightly"}} checked="checked"{{/contains}}{{/if}}>
                Fortnightly
              </label>

              <div class="panel panel-border-narrow{{#if ../sPayFrequency}}{{#isnt ../sPayFrequency "Fortnightly"}} js-hidden{{/isnt}}{{else}}{{#isnt employment.pay.frequency "Fornightly"}} js-hidden{{/isnt}}{{/if}}" id="paid-fortnightly">
                <label class="form-label" for="pay-fortnightly-amount">Fortnightly net pay (take home)</label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="pay-fortnightly-amount" name="payFortnightlyAmount"{{#contains ../sPayFrequency "Fortnightly"}} value="{{../sPayAmount}}"{{/contains}}>
                </div>
              </div>

              <label class="block-label" for="monthly" data-target="paid-monthly">
                <input type="radio" id="monthly" name="payFrequency" value="Monthly"{{#if ../sPayFrequency}}{{#contains ../sPayFrequency "Monthly"}} checked="checked"{{/contains}}{{else}}{{#contains employment.pay.frequency "Monthly"}} checked="checked"{{/contains}}{{/if}}>
                Monthly
              </label>

              <div class="panel panel-border-narrow{{#if ../sPayFrequency}}{{#isnt ../sPayFrequency "Monthly"}} js-hidden{{/isnt}}{{else}}{{#isnt employment.pay.frequency "Monthly"}} js-hidden{{/isnt}}{{/if}}" id="paid-monthly">
                <label class="form-label" for="pay-monthly-amount">Monthly net pay (take home)</label>
                <div class="form-currency">
                  <input class="form-control form-control-1-4" type="text" id="pay-monthly-amount" name="payMonthlyAmount"{{#contains ../sPayFrequency "Monthly"}} value="{{../sPayAmount}}"{{/contains}}>
                </div>
              </div>

            </fieldset>

          </div>

        </div>

      </div>

      <div class="form-group form-group-last">

        <fieldset class="inline">

          <legend>
            <span class="form-label-bold">Are they receiving benefits?</span>
          </legend>

          <label class="block-label" for="receiving-benefits-yes">
            <input type="radio" id="receiving-benefits-yes" name="receivingBenefits" value="Yes"{{#if ../sReceivingBenefits}}{{#contains ../sReceivingBenefits "Yes"}} checked="checked"{{/contains}}{{else}}{{#contains employment.receiving-benefits "Yes"}} checked="checked"{{/contains}}{{/if}}>Yes
          </label>

          <label class="block-label" for="receiving-benefits-no">
            <input type="radio" id="receiving-benefits-no" name="receivingBenefits" value="No"{{#if ../sReceivingBenefits}}{{#contains ../sReceivingBenefits "No"}} checked="checked"{{/contains}}{{else}}{{#contains employment.receiving-benefits "No"}} checked="checked"{{/contains}}{{/if}}>No
          </label>

        </fieldset>

      </div>

      <div class="form-group form-group-related">
        <button class="button" type="submit">Save</button>
      </div>

      <p><a href="/court-administrator/case-details/{{id}}/">Cancel</a></p>

    </form>

  </div>

</div>

{{/with}}
