{{>breadcrumb}}

  {{#with search}}

  <h1 class="heading-xlarge">{{../pagetitle}}</h1>

  <p class="lede">You can upload any of the following documents if available.</p>

  <div class="grid-row">

    <div class="column-half">

      <section aria-labelledby="add-other-documents">

        <h2 class="heading-medium" id="add-other-documents">Add more documents</h2>

        <form class="form" method="post">

          <fieldset>
            <legend>
              <span class="form-label-bold">Select plea document</span>
            </legend>
            <div class="form-group">
              <input class="form-control-file" id="plea-document" name="pleaDocument" type="file">
              <label class="button button-secondary" for="plea-document">Browse&hellip;</label>
            </div>
          </fieldset>

          <fieldset>
            <legend>
              <span class="form-label-bold">Select statement of income and outgoings (MC100)</span>
            </legend>
            <div class="form-group">
              <input class="form-control-file" id="statement-of-income" name="statementIncome" type="file">
              <label class="button button-secondary" for="statement-of-income">Browse&hellip;</label>
            </div>
          </fieldset>

          <fieldset>
            <legend>
              <span class="form-label-bold">Select other documents</span>
              <span class="form-hint">For example, an email or a copy of a travelcard</span>
            </legend>
            <div class="form-group form-group-last">
              <input class="form-control-file" type="file" id="other-documents" name="otherDocuments">
              <label class="button button-secondary" for="other-documents">Browse&hellip;</label>
            </div>
          </fieldset>

          <div class="form-group form-group-actions">
            <button class="button" type="submit">Upload</button>
            <p><a href="/court-administrator/case-details/{{id}}">Done &ndash; go back to case</a></p>
          </div>

        </form>

      </section>

    </div>

    <div class="column-half">

    <section aria-labelledby="uploaded-documents">

      <h2 class="heading-medium" id="uploaded-documents">Documents uploaded</h2>

      <ul class="list">
        {{#each related-documents.document}}
          {{#is show true}}
            <li>
                {{#is show true}}
                <div class="document document-small">
                  <i class="icon icon-file-download"></i>
                  <div class="document-content">
                    <p class="document-title"><a href="#">{{{capitalize title}}}</a></p>
                    <div class="document-meta">
                      <span class="document-meta-details">
                        {{{file-type}}}, {{{file-size}}}, {{{file-pages}}} {{#if printed-for-posting}}<br> <time datetime="{{printed-for-posting-iso}}">{{printed-for-posting}}</time>{{/if}}
                      </span>
                    </div>
                  </div>
                </div>
                {{/is}}
              </li>
          {{/is}}
        {{/each}}
      </ul>

    </section>

  </div>

</div>

{{/with}}
