{{>breadcrumb}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge"><span class="heading-secondary">Lavender Hill Magistrates&rsquo; Court</span> Cases awaiting decision under Single Justice Procedure</h1>

    <p>List generated on <time datetime="{{moment now format="YYYY-MM-DDTHH:mm"}}">{{moment now format="dddd D MMMM YYYY \at HH:mm a"}}</time>.</p>

    <h2 class="heading-medium">Transport for London cases</h2>

  </div>

</div>

<div class="grid-row">

  <div class="column-half">

    <div class="panel panel-border-wide" role="note" aria-label="Information">
      <p>7 cases awaiting decision</p>
    </div>

  </div>

  <div class="column-half">
    <p class="text-right">
      <button class="button" type="button" data-action="print">Print</button>
    </p>
  </div>

</div>

<table class="table table-font-xsmall">
  <caption class="visually-hidden">Transport for London cases due for a decision</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Offence</th>
    </tr>
  </thead>
  <tbody>
    {{#each searches}}
      {{#contains case-details.status "No plea received"}}
        <tr>
          <td>{{uppercase personal-details.lastname}} {{personal-details.firstname}}</td>
          <td>{{{offence.title}}}</td>
        </tr>
      {{/contains}}
      {{#contains case-details.status "Ready"}}
        <tr>
          <td>{{uppercase personal-details.lastname}} {{personal-details.firstname}}</td>
          <td>{{{offence.title}}}</td>
        </tr>
      {{/contains}}
    {{/each}}
  </tbody>
</table>
