{{>breadcrumb}}

{{#with search}}


<h1 class="heading-xlarge">
  {{#and ../sFirstname ../sLastname}}
    {{../sFirstname}} {{uppercase ../sLastname}}
  {{else}}
    {{personal-details.firstname}} {{uppercase personal-details.lastname}}
  {{/and}}
</h1>


<section aria-labelledby="personal-details">

  <h2 class="heading-medium" id="personal-details">Personal details</h2>

  <dl class="meta meta-inline">

    <dt>Date of birth</dt>
    <dd>
      {{#if ../sDob}}
        <time datetime="{{moment ../sDob format="YYYY-MM-DD"}}">{{moment ../sDob format="D MMMM YYYY"}}</time>
      {{else}}
        <time datetime="{{moment personal-details.dob format="YYYY-MM-DD"}}">{{moment personal-details.dob format="D MMMM YYYY"}}</time>
      {{/if}}
    </dd>

    <dt>Address</dt>
    <dd>
      {{#if ../sAddress1}}{{../sAddress1}}<br>{{else}}{{personal-details.address.address1}}<br>{{/if}}
      {{#if ../sAddress2}}{{../sAddress2}}<br>{{else}}{{#if personal-details.address.address2}}{{personal-details.address.address2}}<br>{{/if}}{{/if}}
      {{#if ../sTown}}{{../sTown}}<br>{{else}}{{personal-details.address.town}}<br>{{/if}}
      {{#if ../sPostcode}}{{uppercase ../sPostcode}}{{else}}{{uppercase personal-details.address.postcode}}{{/if}}
    </dd>

    <dt>Gender</dt>
    <dd>{{personal-details.gender}}</dd>

  </dl>

</section>


<hr class="divider divider-border-dark" aria-hidden="true">


{{#with case-details}}
<section aria-labelledby="case-details">

  <h2 class="heading-medium" id="case-details">Case details</h2>

  <dl class="meta meta-inline">
    <dt>Case number</dt>
    <dd>{{case-number}}</dd>
    <dt>Prosecutor</dt>
    <dd>{{prosecutor}}</dd>
  </dl>

</section>
{{/with}}


<hr class="divider divider-border-dark" aria-hidden="true">


{{#with offence}}
<section aria-labelledby="offence">

  <div class="text">

    <h2 class="heading-large" id="offence">Offence</h2>

    <h3 class="bold-medium">{{title}}</h3>

    <p class="font-xsmall">On <time datetime="{{moment date format="YYYY-MM-DD"}}">{{moment date format="D MMMM YYYY"}}</time> At grosvenor place SW1 Being a passenger on a Public Service Vehicle operated on behalf of London Bus Services Limited being used for the carriage of passengers at separate fares where the vehicle was being operated by a Driver without a Conductor did not immediately on boarding pay the fare to the Driver for the journey you intended to take.</p>

    <p><strong class="status-label">{{{plea}}}</strong></p>

  </div>

  <section aria-labelledby="decision">

    <h2 class="heading-medium" id="decision">Decision</h2>

    <table class="table table-decision">
      <tbody>
        <tr>
          <th>Verdict</th>
          <td>Guilty plea accepted</td>
        </tr>
        <tr>
          <th>Fine</th>
          <td>&pound;143.50</td>
        </tr>
        <tr>
          <th rowspan="2">Compensation</th>
          <td>&pound;0</td>
        </tr>
        <tr>
          <td>Reason for no compensation <br> <span class="text-secondary">Limited means of the defendant</span></td>
        </tr>
        <tr>
          <th rowspan="2">Costs</th>
          <td>&pound;0</td>
        </tr>
        <tr>
          <td>Reason for no costs <br> <span class="text-secondary">Limited means of the defendant</span></td>
        </tr>
        <tr>
          <th rowspan="2">Victim surcharge</th>
          <td>&pound;0</td>
        </tr>
        <tr>
          <td>Reason for reducing or removing victim surcharge <br> <span class="text-secondary">Limited means of the defendant</span></td>
        </tr>
        <tr>
          <th>Guilty plea taken into account</th>
          <td>Yes</td>
        </tr>
        <tr>
          <th rowspan="2">Decision made</th>
          <td><time datetime="2016-09-01">1 September 2016</time></td>
        </tr>
        <tr>
          <td>Joe Bloggs and Peter Smith <br> <span class="text-secondary">Lavender Hill Magistrates&rsquo; Court</span></td>
        </tr>
      </tbody>
    </table>

  </section>

  <section aria-labelledby="payment-and-collection">

    <h3 class="heading-medium" id="payment-and-collection">Payment and collection</h3>

    <dl class="meta meta-inline">
      <dt>Collection order made</dt>
      <dd>Yes</dd>
      <dt>Total to pay</dt>
      <dd>&pound;143.50</dd>
      <dt>Payment method</dt>
      <dd>Direct to court</dd>
      <dt>Lump sum plus instalments</dt>
      <dd>A lump sum of &pound;23.50 to be paid, followed by &pound;20 paid monthly starting <time datetime="2016-12-30">30 December 2016</time></dd>
    </dl>

  </section>

</section>
{{/with}}


<p><a class="button" href="#" role="button">Print</a></p>
<p><a href="/court-administrator/case-details/{{id}}/">Back</a></p>

{{/with}}
