{{>breadcrumb}}

{{#with search}}

<h1 class="heading-xlarge">
  {{#and ../sFirstname ../sLastname}}
    {{../sFirstname}} {{uppercase ../sLastname}}
  {{else}}
    {{personal-details.firstname}} {{uppercase personal-details.lastname}}
  {{/and}}
</h1>

<section class="check-answers" aria-labelledby="personal-details">

  <h2 class="heading-medium" id="personal-details">Personal details</h2>

  <dl class="meta meta-inline">

    <dt>Date of birth</dt>
    <dd>
      {{#if ../sDob}}
        <time datetime="{{moment ../sDob format="YYYY-MM-DD"}}">{{moment ../sDob format="D MMMM YYYY"}}</time>
      {{else}}
        <time datetime="{{moment personal-details.dob format="YYYY-MM-DD"}}">{{moment personal-details.dob format="D MMMM YYYY"}}</time>
      {{/if}}
    </dd>

    <dt>Address</dt>
    <dd>
      {{#if ../sAddress1}}{{../sAddress1}}<br>{{else}}{{personal-details.address.address1}}<br>{{/if}}
      {{#if ../sAddress2}}{{../sAddress2}}<br>{{else}}{{#if personal-details.address.address2}}{{personal-details.address.address2}}<br>{{/if}}{{/if}}
      {{#if ../sTown}}{{../sTown}}<br>{{else}}{{personal-details.address.town}}<br>{{/if}}
      {{#if ../sPostcode}}{{uppercase ../sPostcode}}{{else}}{{uppercase personal-details.address.postcode}}{{/if}}
    </dd>

    <dt>Email</dt>
    <dd>
      {{#if ../sEmail}}
        {{../sEmail}}
      {{else}}
        {{#if personal-details.email}}
          {{personal-details.email}}
        {{else}}
          &ndash;
        {{/if}}
      {{/if}}
    </dd>

    <dt>Home telephone</dt>
    <dd>
      {{#if ../sPhone}}
        {{../sPhone}}
      {{else}}
        {{#if personal-details.phone}}
          {{personal-details.phone}}
        {{else}}
          &ndash;
        {{/if}}
      {{/if}}
    </dd>

    <dt>Mobile</dt>
    <dd>
      {{#if ../sMobile}}
        {{../sMobile}}
      {{else}}
        {{#if personal-details.mobile}}
          {{personal-details.mobile}}
        {{else}}
          &ndash;
        {{/if}}
      {{/if}}
    </dd>

    <dt>Gender</dt>
    <dd>{{personal-details.gender}}</dd>

  </dl>

</section>

<hr aria-hidden="true">

{{#with case-details}}
<section class="check-answers" aria-labelledby="case-details">

  <h2 class="heading-medium" id="case-details">Case details</h2>

  <dl class="meta meta-inline">
    <dt>Case number</dt>
    <dd>{{case-number}}</dd>
    <dt>Prosecutor</dt>
    <dd>{{prosecutor}}</dd>
    <dt>Informant</dt>
    <dd>{{informant}}</dd>
    <dt>Notice served</dt>
    <dd><time datetime="{{moment notice-served format="YYYY-MM-DD"}}">{{moment notice-served format="D MMMM YYYY"}}</time></dd>
  </dl>

</section>
{{/with}}

<hr aria-hidden="true">

{{#with offence}}
<section class="check-answers" aria-labelledby="offence">

  <h2 class="heading-large" id="offence">Offence</h2>

  <h3 class="font-medium" id="offence">{{title}}</h3>

  <p class="font-xsmall">On <time datetime="{{moment date format="YYYY-MM-DD"}}">{{moment date format="D MMMM YYYY"}}</time></p>

  <p><strong class="status-label">{{plea}}</strong></p>

  <h3 class="heading-medium">Details</h3>

  <dl class="meta meta-inline">
    <dt>Offence reference number</dt>
    <dd>{{reference-number}}</dd>
    <dt>Date plea made</dt>
    <dd><time datetime="{{moment plea-made-date format="YYYY-MM-DD"}}">{{moment plea-made-date format="D MMMM YYYY"}}</time></dd>
  </dl>

  <h3 class="heading-medium">Statement of facts</h3>
  <p class="text">{{{statement-of-facts}}}</p>

  {{#with decision}}
  <h3 class="heading-medium">Decision</h3>

  <table class="table">
    <tbody>
      <tr>
        <td>Made at</td>
        <td>{{made-at}}</td>
      </tr>
      <tr>
        <td>On</td>
        <td><time datetime="{{moment on-date format="YYYY-MM-DD"}}">{{moment on-date format="D MMMM YYYY"}}</time></td>
      </tr>
      <tr valign="top">
        <td>By</td>
        <td>
          <ul>
            {{#each by}}
            <li>{{firstname}} {{lastname}} ({{lowercase role}})</li>
            {{/each}}
          </ul>
        </td>
      </tr>
      <tr>
        <td>Verdict</td>
        <td>{{verdict}}</td>
      </tr>
      <tr>
        <td>Fine</td>
        <td>&pound;{{fine}}</td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>&pound;{{compensation}}</td>
      </tr>
      <tr>
        <td>Costs</td>
        <td>&pound;{{costs}}</td>
      </tr>
      <tr>
        <td>Victim surcharge</td>
        <td>&pound;{{victim-surcharge}}</td>
      </tr>
      <tr>
        <td>Guilty plea taken into account?</td>
        <td>{{taken-into-account}}</td>
      </tr>
    </tbody>
  </table>
  {{/with}}

</section>
{{/with}}

<p><a class="button" href="#" role="button">Print</a></p>

<p><a href="/court-administrator/case-details/{{id}}/">Cancel<a></p>

{{/with}}
