{{>breadcrumb}}

{{#with search}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">{{../pagetitle}}</h1>

    <p class="bold-medium">Recorded on 16 August 2016</p>

    <h2 class="heading-medium">
      {{#and ../sFirstname ../sLastname}}
        {{../sFirstname}} <span class="text-uppercase">{{../sLastname}}</span>
      {{else}}
        {{personal-details.firstname}} <span class="text-uppercase">{{personal-details.lastname}}</span>
      {{/and}}
    </h2>

    <p class="mb-xl">
      {{#if ../sDob}}<time datetime="{{moment ../sDob format="YYYY-MM-DD"}}">{{moment ../sDob format="DD MMM YYYY"}}</time>{{else}}<time datetime="{{moment personal-details.dob format="YYYY-MM-DD"}}">{{moment personal-details.dob format="DD MMM YYYY"}}</time> ({{personal-details.age}} years old){{/if}}<br>
      {{#if ../sAddress1}}{{../sAddress1}},{{else}}{{personal-details.address.address1}},{{/if}}
      {{#if ../sAddress2}}{{../sAddress2}},{{else}}{{#if personal-details.address.address2}}{{personal-details.address.address2}}, {{/if}}{{/if}}
      {{#if ../sAddress3}}{{../sAddress3}},{{else}}{{#if personal-details.address.address3}}{{personal-details.address.address3}}, {{/if}}{{/if}}
      {{#if ../sTown}}{{../sTown}}{{else}}{{personal-details.address.town}}{{/if}}
      {{#if ../sPostcode}}<span class="text-uppercase">{{../sPostcode}}</span>{{else}}<span class="text-uppercase">{{personal-details.address.postcode}}</span>{{/if}}
    </p>

    <hr class="divider" aria-hidden="true">

    <h3 class="heading-medium">Case details</h3>

    <dl class="meta meta-inline">
      <dt>Case reference</dt>
      <dd>TFL 9012467</dd>
      <dt>Prosecutor</dt>
      <dd>Transport for London</dd>
      <dt>Verdict</dt>
      <dd>Guilty plea accepted &ndash; 12 August 2016</dd>
    </dl>

    <hr class="divider" aria-hidden="true">

    <h4 class="heading-medium">Passenger used ticket issued for another person</h4>

    <p>On 13 September 2016 at between Colchester and Clacton On Sea stations, not being in a designated compulsory ticket area, entered a train for the purpose of travelling
      without having with you a valid ticket entitling you to travel.</p>

    <p>Contrary to byelaw 18(1) and 24 of the Railway Byelaws made under Section 219 of the Transport Act 2000 by the Strategic Railway Authority and confirmed under schedule 20
      of the Transport Act 2000, as on 13 September 2016 at between Colchester and Clacton On Sea stations, the to pay a surcharge to fund victim services of &pound;30.00 defendant,
      not being in a designated complusory ticket area, entered a train for the purpose of travelling without having with you a valid ticket entitling you to travel.</p>

    <hr class="divider" aria-hidden="true">

    <h4 class="heading-medium">Court decision</h4>

    <dl class="meta meta-inline">
      <dt>Fined</dt>
      <dd>&pound;250</dd>
      <dt>To pay compensation of</dt>
      <dd>&pound;1.50</dd>
      <dt>To pay costs of</dt>
      <dd>&pound;50</dd>
      <dt>To pay victim surcharge of</dt>
      <dd>&pound;20</dd>
      <dt>Defendant&rsquo;s guilty plea</dt>
      <dd>Taken into account when imposing sentence</dd>
      <dt>Total to pay</dt>
      <dd><span class="bold-small">&pound;321.50</span></dd>
    </dl>

    <hr class="divider" aria-hidden="true">

    <h4 class="heading-medium">Payment and collection</h4>

    <dl class="meta meta-inline">
      <dt>Collection order made</dt>
      <dd>Pay directly to court</dd>
      <dt>Payment terms</dt>
      <dd>To be paid as a lump sum in 28 days</dd>
    </dl>

    <hr class="divider" aria-hidden="true">

    <ul class="button-actions">
      <li><button class="button" type="button">Print copy</button></li>
      <li><button class="button" type="button">Print certified copy</button></li>
    </ul>

    <a href="/{{../baseurl}}/case-details/{{id}}/">Cancel</a>

  </div>

  <div class="column-third">
    <h2 class="heading-medium text-secondary">Convicting court</h2>
    <p><b>South West London <br> Magistrates&rsquo; Court</b><br>123 The Street<br>London<br>SW1 2SX</p>
  </div>

</div>

{{/with}}
