{{>breadcrumb}}

{{#with search}}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">Add or change personal details</h1>

    <form class="form" method="post" novalidate>

      <div class="form-group form-group-related">

        <fieldset>

          <legend>
            <h2 class="heading-medium">Personal details</h2>
          </legend>

          <div class="form-group">
            <label for="title">
              <span class="form-label">Title</span>
            </label>
            <input class="form-control form-control-1-8" id="title" name="title" type="text"{{#if ../sTitle}} value="{{../sTitle}}"{{else}} value="{{personal-details.title}}"{{/if}}>
          </div>

          <div class="form-group">
            <label for="firstname">
              <span class="form-label">First name</span>
            </label>
            <input class="form-control form-control-3-4" id="firstname" name="firstname" type="text"{{#if ../sFirstname}} value="{{../sFirstname}}"{{else}} value="{{personal-details.firstname}}"{{/if}}>
          </div>

          <div class="form-group">
            <label for="lastname">
              <span class="form-label">Last name</span>
            </label>
            <input class="form-control form-control-3-4" id="lastname" name="lastname" type="text"{{#if ../sLastname}} value="{{../sLastname}}"{{else}} value="{{personal-details.lastname}}"{{/if}}>
          </div>

          <div class="form-group">

            <fieldset>

              <legend>
                <span class="form-label">Date of birth</span>
                <span class="form-hint" id="dob-hint">For example, 31 3 1980</span>
              </legend>

              <div class="form-date">

                <div class="form-group form-group-day">
                  <label class="form-label" for="dob-day">Day</label>
                  <input class="form-control" id="dob-day" name="dobDay" type="number"{{#if ../sDob}} value="{{moment ../sDob format="D"}}"{{else}} value="{{moment personal-details.dob format="D"}}"{{/if}} aria-describedby="dob-hint">
                </div>

                <div class="form-group form-group-month">
                  <label class="form-label" for="dob-month">Month</label>
                  <input class="form-control" id="dob-month" name="dobMonth" type="number"{{#if ../sDob}} value="{{moment ../sDob format="M"}}"{{else}} value="{{moment personal-details.dob format="M"}}"{{/if}}>
                </div>

                <div class="form-group form-group-year">
                  <label class="form-label" for="dob-year">Year</label>
                  <input class="form-control" id="dob-year" name="dobYear" type="number"{{#if ../sDob}} value="{{moment ../sDob format="YYYY"}}"{{else}} value="{{moment personal-details.dob format="YYYY"}}"{{/if}}>
                </div>

              </div>

            </fieldset>

          </div>

        </fieldset>

      </div>

      <div class="form-group form-group-related">

        <fieldset>

          <legend>
            <h2 class="heading-medium">Address</h2>
          </legend>

          <div class="form-group-compound">
            <label for="address1">
              <span class="form-label">Building and street</span>
            </label>
            <input class="form-control form-control-3-4" id="address1" name="address1" type="text"{{#if ../sAddress1}} value="{{../sAddress1}}"{{else}} value="{{personal-details.address.address1}}"{{/if}}>
          </div>

          <div class="form-group-compound">
            <label class="visually-hidden" for="address2">
              <span class="form-label">Building and street address line 2</span>
            </label>
            <input class="form-control form-control-3-4" id="address2" name="address2" type="text"{{#if ../sAddress2}} value="{{../sAddress2}}"{{else}} value="{{personal-details.address.address2}}"{{/if}}>
          </div>

          <div class="form-group">
            <label class="visually-hidden" for="address3">
              <span class="form-label">Building and street address line 3</span>
            </label>
            <input class="form-control form-control-3-4" id="address3" name="address3" type="text"{{#if ../sAddress3}} value="{{../sAddress3}}"{{else}} value="{{personal-details.address.address3}}"{{/if}}>
          </div>

          <div class="form-group">
            <label for="town">
              <span class="form-label">Town or City</span>
            </label>
            <input class="form-control" id="town" name="town" type="text"{{#if ../sTown}} value="{{../sTown}}"{{else}} value="{{personal-details.address.town}}"{{/if}}>
          </div>

          <div class="form-group">
            <label for="postcode">
              <span class="form-label">Postcode</span>
            </label>
            <input class="form-control form-control-1-4" id="postcode" name="postcode" type="text"{{#if ../sPostcode}} value="{{../sPostcode}}"{{else}} value="{{personal-details.address.postcode}}"{{/if}}>
          </div>

        </fieldset>

      </div>

      <div class="form-group">

        <fieldset>

          <legend>
            <h2 class="heading-medium">Email and telephone</h2>
          </legend>

          <div class="form-group">
            <label for="email">
              <span class="form-label">Email</span>
            </label>
            <input class="form-control form-control-3-4" id="email" name="email" type="email"{{#if ../sEmail}} value="{{../sEmail}}"{{else}} value="{{personal-details.email}}"{{/if}}>
          </div>

          <div class="form-group">
            <label for="phone">
              <span class="form-label">Home telephone</span>
            </label>
            <input class="form-control" id="phone" name="phone" type="tel"{{#if ../sPhone}} value="{{../sPhone}}"{{else}} value="{{personal-details.phone}}"{{/if}}>
          </div>

          <div class="form-group">
            <label for="mobile">
              <span class="form-label">Mobile</span>
            </label>
            <input class="form-control" id="mobile" name="mobile" type="tel"{{#if ../sMobile}} value="{{../sMobile}}"{{else}} value="{{personal-details.mobile}}"{{/if}}>
          </div>

        </fieldset>

      </div>

      <div class="form-group form-group-related">
        <button class="button" type="submit">Save</button>
      </div>

      <a href="/{{../baseurl}}/case-details/{{id}}">Cancel</a>

    </form>

  </div>

</div>

{{/with}}
